.nested-fields
  = f.hidden_field :id
  = f.hidden_field :addressable_type, value: addressable_type
  = f.hidden_field :addressable_id
  = f.hidden_field :name, class: 'contact_address_name'
  = f.hidden_field :street, class: 'contact_address_street'
  = f.hidden_field :interior_number, class: 'contact_address_interior_number'
  = f.hidden_field :outdoor_number, class: 'contact_address_outdoor_number'
  = f.hidden_field :zip_code, class: 'contact_address_zip_code'
  = f.hidden_field :colony, class: 'contact_address_colony'
  = f.hidden_field :city, class: 'contact_address_city'
  = f.hidden_field :country, class: 'contact_address_country'
  = f.hidden_field :state_id, class: 'contact_address_state_id'
  = f.hidden_field :principal, value: true
  = f.hidden_field :address_type_ids, class: 'contact_address_type_ids'
javascript:
    $(document).ready(function () {
        $(".contact_address_type_ids").val([1]);
    });