.nested-fields
  = f.hidden_field :id
  = f.hidden_field :addressable_id
  = f.hidden_field :_destroy
  = f.hidden_field :addressable_type, value: addressable_type
  = f.hidden_field :principal, value: true
  = f.hidden_field :address_type_ids, class: 'address_type_ids'
  .row
    .hide-element
      = f.label :address_type
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.input :name, placeholder: t('activerecord.attributes.address.name'), input_html: { class: 'name', title: t('views.admin.clients.shared.text.step1.instructions.name'), data: { toggle: "tooltip", placement: "top" } }
        .fv-plugins-message-container
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.input :street, placeholder: t('activerecord.attributes.address.street'), input_html: { class: 'street', title: t('views.admin.clients.shared.text.step1.instructions.street'), data: { toggle: "tooltip", placement: "top" } }
        .fv-plugins-message-container
  .row
    .col-xl-2
      .form-group.fv-plugins-icon-container
        = f.input :interior_number, placeholder: t('activerecord.attributes.address.interior_number'), input_html: { class: 'interior_number', title: t('views.admin.clients.shared.text.step1.instructions.interior_number'), data: { toggle: "tooltip", placement: "top" } }
        .fv-plugins-message-container
    .col-xl-2
      .form-group.fv-plugins-icon-container
        = f.input :outdoor_number, placeholder: t('activerecord.attributes.address.outdoor_number'), input_html: { class: 'outdoor_number' }
    .col-xl-2
      .form-group.fv-plugins-icon-container
        = f.input :zip_code, placeholder: t('activerecord.attributes.address.zip_code'), input_html: { class: 'zip_code' }
    .col-xl-3
      .form-group.fv-plugins-icon-container
        = f.input :colony, placeholder: t('activerecord.attributes.address.colony'), input_html: { class: 'colony' }
    .col-xl-3
      .form-group.fv-plugins-icon-container
        = f.input :city, placeholder: t('activerecord.attributes.address.city'), input_html: { class: 'city' }
  .row
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.input :country do
          = f.select :country, options_for_select(Country.all.collect { |c| [c.name, c.name] }), { prompt: t('views.shared.prompt.country') }, { class: 'country-data form-control form-control-lg selectpicker', data: { 'live-search': "true" } }
    .col-xl-6.hide-element.country-group
      .form-group.fv-plugins-icon-container
        = f.association :state, prompt: t('views.shared.prompt.state'), label_method: :name, value_method: :id, input_html: { class: 'state-data' }
javascript:
  $(document).ready(function () {
      $(".name").blur(function () {
          $(".contact_address_name").val($(".name").val());
      });
      $(".street").blur(function () {
          $(".contact_address_street").val($(".street").val());
      });
      $(".interior_number").blur(function () {
          $(".contact_address_interior_number").val($(".interior_number").val());
      });
      $(".outdoor_number").blur(function () {
          $(".contact_address_outdoor_number").val($(".outdoor_number").val());
      });
      $(".zip_code").blur(function () {
          $(".contact_address_zip_code").val($(".zip_code").val());
      });
      $(".colony").blur(function () {
          $(".contact_address_colony").val($(".colony").val());
      });
      $(".city").blur(function () {
          $(".contact_address_city").val($(".city").val());
      });
      $(".address_type_ids").val([1]);
      $('.country-data').on('change', function () {

          if ($(this).val() == "Mexico") {
              if ($('#colony').hasClass('hide-element')) {
                  $('#colony').removeClass('hide-element');
              }
          } else {
              if (!$('#colony').hasClass('hide-element')) {
                  $('#colony').addClass('hide-element');
              }
          }
          $(".contact_address_country").val($(this).val());
          $.ajax({
              url: "/admin/clients/filter_states/" + $(this).val(),
              type: "get",
              success: function (data) {
                  console.log("encontro");
                  console.log(data);
                  if (jQuery.isEmptyObject(data)) {
                      if (!$(".country-group").hasClass('hide-element')) {
                          $(".country-group").addClass('hide-element');
                      }
                  } else {
                      if ($(".country-group").hasClass('hide-element')) {
                          $(".country-group").removeClass('hide-element');
                      }
                      var listitems = ["<option value=''>Seleccione un estado</option>"];
                      $.each(data, function (key, value) {
                          listitems += '<option value="' + value.id + '">' + value.name + '</option>';
                      });
                      console.log(listitems);

                      $(".state-data").empty().append(listitems);
                  }
              },
              error: function (data) {
              }
          })
      });
      $('.state-data').on('change', function () {
          $(".contact_address_state_id").val($(this).val());
      });
  });