.nested-fields
  = f.hidden_field :id
  = f.hidden_field :addressable_id
  = f.hidden_field :_destroy
  = f.hidden_field :addressable_type, value: addressable_type
  = f.hidden_field :principal, value: true
  .row
    .hide-element
      = f.label :address_type
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.input :name, placeholder: t('activerecord.attributes.address.name'), input_html: { title: t('views.admin.clients.shared.text.step1.instructions.name'), data: { toggle: "tooltip", placement: "top" } }
        .fv-plugins-message-container
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.input :street, placeholder: t('activerecord.attributes.address.street'), input_html: { title: t('views.admin.clients.shared.text.step1.instructions.street'), data: { toggle: "tooltip", placement: "top" } }
        .fv-plugins-message-container
  .row
    .col-xl-2
      .form-group.fv-plugins-icon-container
        = f.input :interior_number, placeholder: t('activerecord.attributes.address.interior_number'), input_html: { title: t('views.admin.clients.shared.text.step1.instructions.interior_number'), data: { toggle: "tooltip", placement: "top" } }
        .fv-plugins-message-container
    .col-xl-2
      .form-group.fv-plugins-icon-container
        = f.input :outdoor_number, placeholder: t('activerecord.attributes.address.outdoor_number')
    .col-xl-2
      .form-group.fv-plugins-icon-container
        = f.input :zip_code, placeholder: t('activerecord.attributes.address.zip_code')
    .col-xl-3
      .form-group.fv-plugins-icon-container
        = f.input :colony, placeholder: t('activerecord.attributes.address.colony')
    .col-xl-3
      .form-group.fv-plugins-icon-container
        = f.input :city, placeholder: t('activerecord.attributes.address.city')
  .row
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.input :country do
          = f.select :country, options_for_select(Country.all.collect { |c| [c.name, c.name] }), { prompt: t('views.shared.prompt.country') }, { class: 'form-control form-control-lg selectpicker', data: { 'live-search': "true" } }
    .col-xl-6.hide-element.country-group
      .form-group.fv-plugins-icon-container
        = f.association :state, prompt: t('views.shared.prompt.state'), label_method: :name, value_method: :id
javascript:
    $(document).ready(function () {
        $('#supplier_addresses_attributes_0_country').on('change', function () {
            if ($(this).val() == "Mexico") {
                if ($('#colony').hasClass('hide-element')) {
                    $('#colony').removeClass('hide-element');
                }
            } else {
                if (!$('#colony').hasClass('hide-element')) {
                    $('#colony').addClass('hide-element');
                }
            }
            $.ajax({
                url: "/admin/suppliers/filter_states/" + $(this).val(),
                type: "get",
                success: function (data) {
                    console.log("encontro");
                    console.log(data);
                    if (jQuery.isEmptyObject(data)) {
                        if (!$(".country-group").hasClass('hide-element')) {
                            $(".country-group").addClass('hide-element');
                        }
                    } else {
                        if ($(".country-group").hasClass('hide-element')) {
                            $(".country-group").removeClass('hide-element');
                        }
                        var listitems = ["<option value=''>Seleccione un estado</option>"];
                        $.each(data, function (key, value) {
                            listitems += '<option value="' + value.id + '">' + value.name + '</option>';
                        });
                        console.log(listitems);
                        $("#supplier_addresses_attributes_0_state_id").empty().append(listitems);
                    }
                },
                error: function (data) {
                }
            })
        });
    });