.nested-fields
  = f.hidden_field :id
  = f.hidden_field :contactable_id
  = f.hidden_field :_destroy
  = f.hidden_field :contactable_type, value: contactable_type
  = f.hidden_field :principal, value: true
  .row
    .col-xl-12
      .form-group.fv-plugins-icon-container
        = f.input :name, placeholder: t('activerecord.attributes.contact.name'), :input_html => { class: 'form-control-lg' }
        span.form-text.text-muted = t('views.admin.clients.shared.text.step4.instructions.contact')
        .fv-plugins-message-container
  .row
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.input :email, placeholder: t('activerecord.attributes.contact.email'), :input_html => { class: 'form-control-lg' }
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.input :birth_date, as: :string, input_html: { type: :date, placeholder: t('activerecord.attributes.contact.birth_date'), class: 'form-control-lg' }
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.input :area, placeholder: t('activerecord.attributes.contact.area'), :input_html => { class: 'form-control-lg' }
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.input :job, placeholder: t('activerecord.attributes.contact.job'), :input_html => {class: 'form-control-lg'}
  - phones = f.object.phones.build
  = f.simple_fields_for :phones, phones do |phone|
    = render 'shared/cocoon/phone_contact_agent_fields', f: phone, phoneable_type: 'Contact'
