.nested-fields
  = f.hidden_field :id
  = f.hidden_field :phoneable_id
  = f.hidden_field :_destroy
  = f.hidden_field :code
  = f.hidden_field :phoneable_type, value: phoneable_type
  = f.hidden_field :principal, value: true
  = f.hidden_field :type_phone, value: type_phone
  .row
    .col-xl-6.col-sm-12#country-code
      = f.label :mobile_number, class: 'font-size-h6 font-weight-bolder text-dark'
      = f.input :mobile_number, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: 'country-code-tel' }, label: false
javascript:
    $(document).ready(function () {
        const input = $(".country-code-tel");
        input.intlTelInput({
            formatOnInit: true,
            separateDialCode: false,
            placeholderNumberType: 'MOBILE',
            initialCountry: "mx",
            nationalMode: false,
            hiddenInput: "full",
        });
    });