.nested-fields
  = f.hidden_field :id
  = f.hidden_field :phoneable_id
  = f.hidden_field :phoneable_type, value: 'Client'
  = f.hidden_field :_destroy
  = f.hidden_field :code, class: "#{code}"
  = f.hidden_field :type_phone, class: "#{type_phone}"
  .row
    .col-xl-4.col-sm-12
      .form-group.fv-plugins-icon-container
        = f.label :number, class: "#{number}"
        = f.input :number, label: false, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: "form-control-sm #{input_number}" }
    .col-xl-4.col-sm-12 id="#{attribute}"
      .form-group.fv-plugins-icon-container
        = f.input :extension, placeholder: t('activerecord.attributes.phone.extension'), input_html: { class: 'form-control-sm' }
    .col-xl-4.col-sm-12
      .form-group.fv-plugins-icon-container.mt-8
        .custom-control.custom-switch
          = f.input_field :principal, label: false, as: :boolean, class: 'custom-control-input'
          = f.label :principal, class: 'custom-control-label'
javascript:
    $(document).ready(function () {
        const input_phone_number = $(".input_number_contact_1");
        const input_mobile_number = $(".input_number_contact_2");
        $(".intl-tel-input").css("width", "100%");
        input_phone_number.intlTelInput({
            formatOnInit: true,
            separateDialCode: false,
            placeholderNumberType: 'MOBILE',
            initialCountry: "mx",
            nationalMode: false,
            hiddenInput: "full",
            preferredCountries: ["mx", "us"],
        });

        input_mobile_number.intlTelInput({
            formatOnInit: true,
            separateDialCode: false,
            placeholderNumberType: 'MOBILE',
            initialCountry: "mx",
            nationalMode: false,
            hiddenInput: "full",
            preferredCountries: ["mx", "us"],
        });

        console.log("#{t('activerecord.attributes.phone.mobile_number')}");

        $("#attribute_contact_2").addClass('hide-element');
        $(".type_phone_contact_1").val("permanent");
        $(".type_phone_contact_2").val("mobile");
        $(".number_contact_2").text("#{t('activerecord.attributes.phone.mobile_number')}");

        $("#client_contacts_attributes_0_phones_attributes_0_principal").on("click", function () {
            console.log("click principal 0");
            const chk = document.getElementById('client_contacts_attributes_0_phones_attributes_0_principal').checked;
            console.log(chk);
            if (chk) {
                $("#client_contacts_attributes_0_phones_attributes_1_principal").attr("disabled", true);
            } else {
                $("#client_contacts_attributes_0_phones_attributes_1_principal").removeAttr("disabled");
            }
        });

        $("#client_contacts_attributes_0_phones_attributes_1_principal").on("click", function () {
            console.log("click principal 1");
            const chk = document.getElementById('client_contacts_attributes_0_phones_attributes_1_principal').checked;
            console.log(chk);
            if (chk) {
                $("#client_contacts_attributes_0_phones_attributes_0_principal").attr("disabled", true);
            } else {
                $("#client_contacts_attributes_0_phones_attributes_0_principal").removeAttr("disabled");
            }
        });
    });