.nested-fields
  = f.hidden_field :id
  = f.hidden_field :phoneable_id
  = f.hidden_field :_destroy
  = f.hidden_field :code
  = f.hidden_field :phoneable_type, value: phoneable_type
  = f.hidden_field :principal, value: true
  .row
    .col-xl-6.col-sm-12
      .form-group.fv-plugins-icon-container
        = f.input :type_phone, placeholder: t('activerecord.attributes.phone.type_phone'), prompt: t('views.shared.prompt.type_phone.large'), input_html: { class: 'type_phone_client' }
    .col-xl-6.col-sm-12.hide-element#country-code-client
      = f.label :mobile_number
      = f.input :mobile_number, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: 'country-code-tel-client' }, label: false
    .col-xl-3.hide-element#phone-code-client
      .form-group.fv-plugins-icon-container
        = f.input :number, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: 'extension-code-tel-client' }
    .col-xl-3.hide-element#extension-code-client
      .form-group.fv-plugins-icon-container
        = f.input :extension, placeholder: t('activerecord.attributes.phone.extension'), input_html: { class: 'extension-code-number-client' }
javascript:
  $(document).ready(function () {
      const input = $(".country-code-tel-client");
      $('.type_phone_client').on('change', function () {
          if ($('.type_phone_client').val() == '') {
              $('#country-code-client').addClass('hide-element');
              $('#extension-code-client').addClass('hide-element');
              $('#phone-code-client').addClass('hide-element');
              $('.extension-code-tel-client').val('');
              $('.extension-code-number-client').val('');
              $(".country-code-tel-client").val('');
          } else if ($('.type_phone_client').val() == 'permanent') {
              if (!$("#country-code-client").hasClass('hide-element')) {
                  $('#country-code-client').addClass('hide-element');
                  $(".country-code-tel-client").val('');
              }
              $('#extension-code-client').removeClass('hide-element');
              $('#phone-code-client').removeClass('hide-element');
          } else {
              input.intlTelInput({
                  formatOnInit: true,
                  separateDialCode: false,
                  placeholderNumberType: 'MOBILE',
                  initialCountry: "mx",
                  nationalMode: false,
                  hiddenInput: "full",
              });
              if (!$("#extension-code-client").hasClass('hide-element')) {
                  $('#extension-code-client').addClass('hide-element');
                  $('#phone-code-client').addClass('hide-element');
                  $('.extension-code-tel-client').val('');
                  $('.extension-code-number-client').val('');
              }
              $('#country-code-client').removeClass('hide-element')
          }
      });
  });