.nested-fields
  = f.hidden_field :id
  = f.hidden_field :phoneable_id
  = f.hidden_field :_destroy
  = f.hidden_field :code
  = f.hidden_field :phoneable_type, value: phoneable_type
  = f.hidden_field :principal, value: true
  .row
    .col-xl-6.col-sm-12
      .form-group.fv-plugins-icon-container
        = f.input :type_phone, placeholder: t('activerecord.attributes.phone.type_phone'), prompt: t('views.shared.prompt.type_phone.large'), input_html: { class: 'type_phone_supplier' }
    .col-xl-6.col-sm-12.hide-element#country-code-supplier
      = f.label :mobile_number
      = f.input :mobile_number, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: 'country-code-tel-supplier' }, label: false
    .col-xl-3.hide-element#phone-code-supplier
      .form-group.fv-plugins-icon-container
        = f.input :number, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: 'extension-code-tel-supplier' }
    .col-xl-3.hide-element#extension-code-supplier
      .form-group.fv-plugins-icon-container
        = f.input :extension, placeholder: t('activerecord.attributes.phone.extension'), input_html: { class: 'extension-code-number-supplier' }
javascript:
    $(document).ready(function () {
        const input = $(".country-code-tel-supplier");
        $('.type_phone_supplier').on('change', function () {
            if ($('.type_phone_supplier').val() == '') {
                $('#country-code-supplier').addClass('hide-element');
                $('#extension-code-supplier').addClass('hide-element');
                $('#phone-code-supplier').addClass('hide-element');
                $('.extension-code-tel-supplier').val('');
                $('.extension-code-number-supplier').val('');
                $(".country-code-tel-supplier").val('');
            } else if ($('.type_phone_supplier').val() == 'permanent') {
                if (!$("#country-code-supplier").hasClass('hide-element')) {
                    $('#country-code-supplier').addClass('hide-element');
                    $(".country-code-tel-supplier").val('');
                }
                $('#extension-code-supplier').removeClass('hide-element');
                $('#phone-code-supplier').removeClass('hide-element');
            } else {
                input.intlTelInput({
                    formatOnInit: true,
                    separateDialCode: false,
                    placeholderNumberType: 'MOBILE',
                    initialCountry: "mx",
                    nationalMode: false,
                    hiddenInput: "full",
                });
                if (!$("#extension-code-supplier").hasClass('hide-element')) {
                    $('#extension-code-supplier').addClass('hide-element');
                    $('#phone-code-supplier').addClass('hide-element');
                    $('.extension-code-tel-supplier').val('');
                    $('.extension-code-number-supplier').val('');
                }
                $('#country-code-supplier').removeClass('hide-element')
            }
        });
    });