.nested-fields
  = f.hidden_field :id
  = f.hidden_field :phoneable_id
  = f.hidden_field :_destroy
  = f.hidden_field :phoneable_type, value: phoneable_type
  = f.hidden_field :principal, value: true
  .row
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.input :type_phone, placeholder: t('activerecord.attributes.phone.type_phone'), prompt: t('views.shared.prompt.type_phone.large'), input_html: {class: 'form-control-lg'}
    .col-xl-6
      .form-group.fv-plugins-icon-container
        .hide-element#country-code-contact-agent
          = f.input :code do
            = f.select :code, Country.phonecodes.all.collect { |s| ["#{s.phonecode} (#{s.name})", s.phonecode] }, { prompt: t('views.shared.prompt.country_code.large') }, { class: 'form-control form-control-lg' }
        .hide-element#extension-code-contact-agent
          = f.input :extension, placeholder: t('activerecord.attributes.phone.extension'), placeholder: t('activerecord.attributes.phone.extension'), input_html: { class: 'form-control-lg' }
  .row
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.input :number, placeholder: t('activerecord.attributes.phone.number'), placeholder: t('activerecord.attributes.phone.number'), input_html: { class: 'form-control-lg' }
javascript:
    $(document).ready(function () {
        $('#agent_contacts_attributes_0_phones_attributes_0_type_phone').on('change', function() {
            if ($('#agent_contacts_attributes_0_phones_attributes_0_type_phone').val() == 'permanent') {
                if (!$("#country-code-contact-agent").hasClass('hide-element')) {
                    $('#country-code-contact-agent').addClass('hide-element');
                }
                $('#extension-code-contact-agent').removeClass('hide-element')
            } else {
                if (!$("#extension-code-contact-agent").hasClass('hide-element')) {
                    $('#extension-code-contact-agent').addClass('hide-element')
                }
                $('#country-code-contact-agent').removeClass('hide-element')
            }
        });
    });