= simple_form_for @client, url: wizard_path , method: :put do |f|
  = hidden_field_tag :resource, @user.username
  = hidden_field_tag :password, @password
  = hidden_field_tag :resource_name, 'user'
  .pb-5.pb-lg-15
    h3.font-weight-bolder.text-dark.font-size-h2.font-size-h1-lg = t('.sign_up')
  .form-group.fv-plugins-icon-container
    = f.label :name, class: 'font-size-h6 font-weight-bolder text-dark'
    = f.input :name, label: false, placeholder: t('activerecord.attributes.client.name'), input_html: { class: 'form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0' }
    .fv-plugins-message-container
  .form-group.fv-plugins-icon-container
    = f.label :annual_international_freight_shipments, class: 'font-size-h6 font-weight-bolder text-dark'
    = f.input :annual_international_freight_shipments, label: false, placeholder: t('activerecord.attributes.client.annual'), input_html: { class: 'form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0' }
    .fv-plugins-message-container  
  .pb-lg-0.pb-5
    = f.submit t('.finish'), class: 'btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3'
