svg height="24px" version="1.1" viewbox=("0 0 24 24") width="24px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
  g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1" 
    g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1" 
      rect height="1.9943" width="9.054" x="0.8229" y="21.0878" fill="#000000" opacity="0.3"
      path d="M22.7057,23.0822l-.4508-2.1468c-.7523-3.5477-5.2177-4.9032-6.6738-5.5842s-1.2517-2.7143-1.2517-2.7143a22.0491,22.0491,0,0,0,1.7155-3.1715,5.6235,5.6235,0,0,0,.775-2.6591,1.67,1.67,0,0,0,0-.2075,5.6588,5.6588,0,0,0-11.3175,0,5.9355,5.9355,0,0,0,.0778.9047h0a.667.667,0,0,0,.0227.1038c.0194.1.0389.1978.0648.2983a.5112.5112,0,0,0,.0163.0681c.0421.1622.0875.3243.1426.4832A14.8621,14.8621,0,0,0,7.915,12.2575H9.65c1.2971.0779,1.5209,1.735,1.5209,1.735v9.08Z" 
      rect height="1.9944" width="9.054" x="0.8229" y="17.5401" fill="#000000" opacity="0.3"
      rect height="1.9944" width="9.054" x="0.8229" y="13.9925" fill="#000000" opacity="0.3"