.row
  .col-xl-6.col-sm-12
    .form-group.fv-plugins-icon-container
      = f.input :name, placeholder: t('activerecord.attributes.client.name'), input_html: { class: 'form-control-sm', title: t('views.admin.clients.shared.text.step1.instructions.name'), data: { toggle: "tooltip", placement: "top" } }
      .fv-plugins-message-container
  .col-xl-6.col-sm-12
    .form-group.fv-plugins-icon-container
      = f.input :rfc, placeholder: t('activerecord.attributes.client.rfc'), input_html: { class: 'form-control-sm' }
      .fv-plugins-message-container
.row
  .col-xl-6.col-sm-12
    .form-group.fv-plugins-icon-container
      = f.input :website, placeholder: t('activerecord.attributes.client.website'), input_html: { class: 'form-control-sm' }
      .fv-plugins-message-container
  .col-xl-6.col-sm-12
    .form-group.fv-plugins-icon-container
      = f.association :currency, label_method: :code, prompt: t('views.shared.prompt.currency'), input_html: { class: 'form-control-sm' }
      .fv-plugins-message-container
- count = 0
#phones
  = f.simple_fields_for :phones do |phone|
    - count = count + 1
    = render 'phone_fields', f: phone, attribute: "attribute_#{count}", code: "code_#{count}", type_phone: "type_phone_#{count}", number: "number_#{count}", input_number: "input_number_#{count}"
.row
  .col-xl-4.col-sm-12
    .form-group.fv-plugins-icon-container
      .custom-control.custom-switch
        = f.input_field :advanced_parameters, label: false, as: :boolean, class: 'custom-control-input'
        = f.label :advanced_parameters, class: 'custom-control-label'
  .col-xl-4.col-sm-12
    .form-group.fv-plugins-icon-container
      .custom-control.custom-switch
        = f.input_field :has_credit, label: false, as: :boolean, class: 'custom-control-input'
        = f.label :has_credit, class: 'custom-control-label'

.row.hide-element#advanced_parameters
  .col-xl-6.col-sm-12
    .form-group.fv-plugins-icon-container
      = f.association :parent_entity, prompt: t('views.admin.clients.shared.prompt.parent_entity'), input_html: { class: 'form-control-sm' }
      .fv-plugins-message-container
  .col-xl-6.col-sm-12
    .form-group.fv-plugins-icon-container
      = f.association :middleman, prompt: t('views.shared.prompt.middleman'), input_html: { class: 'form-control-sm' }
      .fv-plugins-message-container

javascript:
    jQuery(document).ready(function () {
        const checked_has_credit = document.getElementById('client_has_credit').checked;
        if (checked_has_credit) {
            $("#accordionCredit").removeClass("hide-element");
        } else {
            $("#accordionCredit").addClass("hide-element");
        }

        const checked_advanced_parameters = document.getElementById('client_advanced_parameters').checked;
        if (checked_advanced_parameters) {
            $("#advanced_parameters").removeClass("hide-element");
        } else {
            $("#advanced_parameters").addClass("hide-element");
            $('#client_parent_entity_id').val('');
            $('#client_middleman_id').val('');
        }

        // client_has_credit
        $("#client_advanced_parameters").on("click", function () {
            console.log("click");
            const chk = document.getElementById('client_advanced_parameters').checked;
            console.log(chk);
            if (chk) {
                $("#advanced_parameters").removeClass("hide-element");
            } else {
                $("#advanced_parameters").addClass("hide-element");
                $('#client_parent_entity_id').val('');
                $('#client_middleman_id').val('');
            }
        });

        $("#client_has_credit").on("click", function () {
            const chk = document.getElementById('client_has_credit').checked;
            console.log(chk);
            if (chk) {
                $("#accordionCredit").removeClass("hide-element");
            } else {
                $("#accordionCredit").addClass("hide-element");
            }
        });
    });