/! begin: Search Form
form.kt-form.kt-form--fit.mb-15
.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  table.table.table-separate.table-head-custom.collapsed#kt_datatable_client
    thead
      tr
        - @all_columns.each do |column_name|
          th data-visible="false" = t('views.admin.clients.index.collections.' + column_name)
    tbody
      - @clients.each do |client|
        tr
          - @all_columns.each do |column_name|
            - if column_name == "name"
              td
                .d-flex.align-items-center
                  - if client.logo.attached?
                    .symbol.symbol-50.mt-1
                      = image_tag(client.logo.service_url)
                  - else
                    .symbol.symbol-50.symbol-light-secondary
                      span.symbol-label
                        = client.id
                  .ml-3
                    span.text-dark-75.font-weight-bold.line-height-sm.d-block.pb-2  = link_to client.name, admin_client_path(client.id, readonly: false)
                    span.text-muted.text-hover-primary = client.rfc
            - else
              - if column_name == "type_phone"
                td
                  - if client.type_phone == 'mobile'
                    = client.phone_with_country_code
                  - else
                    = client.phone_with_extension
              - else
                - if column_name == "status"
                  td
                    - if client.authorized?
                      span.label.label-light-success.label-inline.font-weight-bold = "#{t("enums.client.status.#{client.status}")}"
                    - elsif client.pending?
                      span.label.label-light-primary.label-inline.font-weight-bold = "#{t("enums.client.status.#{client.status}")}"
                    - else
                      span.label.label-light-danger.label-inline.font-weight-bold = "#{t("enums.client.status.#{client.status}")}"
                - else
                  td = client[column_name]


javascript:
    jQuery(document).ready(function () {
        KTDatatablesClients.init();

        $('#columns_list').on('change', function () {
            KTDatatablesClients.refresh();
        });
    });
