.nested-fields
  = f.hidden_field :id
  = f.hidden_field :contactable_id
  = f.hidden_field :_destroy
  = f.hidden_field :contactable_type, value: 'Client'
  = f.hidden_field :principal, value: true
  .row
    .col-xl-12.col-sm-12
      .form-group.fv-plugins-icon-container
        = f.input :name, placeholder: t('activerecord.attributes.contact.name'), input_html: { class: 'form-control-sm',title: t('views.admin.clients.shared.text.step1.instructions.name'), data: { toggle: "tooltip", placement: "top" } }
  .row
    .col-xl-6.col-sm-12
      .form-group.fv-plugins-icon-container
        = f.input :email, placeholder: t('activerecord.attributes.contact.email')
    .col-xl-6.col-sm-12
      .form-group.fv-plugins-icon-container
        = f.input :birth_date, as: :string, input_html: { type: :date, placeholder: t('activerecord.attributes.contact.birth_date') }
  .row
    .col-xl-6.col-sm-12
      .form-group.fv-plugins-icon-container
        = f.input :area, placeholder: t('activerecord.attributes.contact.area')
    .col-xl-6.col-sm-12
      .form-group.fv-plugins-icon-container
        = f.input :job, placeholder: t('activerecord.attributes.contact.job')
  - count = 0
  - phones = []
  - 2.times do
    - phones << f.object.phones.build
  = f.simple_fields_for :phones, phones do |phone|
    - count = count + 1
    = render 'shared/cocoon/phone_contact_fields', f: phone, attribute: "attribute_contact_#{count}", code: "code_contact_#{count}", type_phone: "type_phone_contact_#{count}", number: "number_contact_#{count}", input_number: "input_number_contact_#{count}"
  - addresses = f.object.addresses.build
  = f.simple_fields_for :addresses, addresses do |address|
    = render 'shared/cocoon/address_fields_contact', f: address, addressable_type: 'Contact'
