.card.card-custom.card-stretch
  .card-header.py-3
    .card-title.align-items-start.flex-column
      h3.card-label.font-weight-bolder.text-dark = t('views.admin.clients.show.tabs.credit.title')
      span.text-muted.font-weight-bold.font-size-sm.mt-1 = t('views.admin.users.show.tab_panes.credit_information.subtitle')
    .card-toolbar
      button id="updateCreditInformation" class="btn btn-success" = t('views.shared.buttons.update')
  = simple_form_for [:admin, @client], html: {class: "form"}, remote: true do |f|
    .card-body
      .form-group.row
        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.client.payment_term')
        .col-lg-9.col-xl-6
          = f.association :payment_term, label: false, label_method: :description, prompt: t('views.shared.prompt.payment_term'), input_html:{ class: 'form-control-lg' }
      .form-group.row
        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.client.credit_limit')
        .col-lg-9.col-xl-6
          = f.input :credit_limit, label: false
      .form-group.row
        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.client.contract')
        .col-lg-9.col-xl-6
          = f.file_field :contract, class: 'custom-file-input'
          = f.label t('views.shared.prompt.field'), class: "custom-file-label", data: {browse: t('views.shared.buttons.upload')}
      - if @client.contract.attached?
        .form-group.row
          .col-xl-3.col-form-label.text-right
            = link_to "View Contract", @client.contract.service_url, target: '_blank'
    = f.submit 'data', class: 'btn btn-success hide-element', id: 'btnCreditInformation'
javascript:
    $(document).ready(function () {
        $("#updateCreditInformation").click(function () {
            $('#btnCreditInformation').trigger("click");
        });
    });