= form_with url: filter_admin_clients_path, remote: true do |f|
  // service_mode
  .modal-body
    .form-group.row
      label.col-3.col-form-label = t('activerecord.attributes.shipment.mode_transportation')
      .col-9
        = f.select :service_mode, Shipment.service_modes.keys.map { |w| [w.humanize, w] }, { prompt: t('views.shared.prompt.service_mode') }, { class: 'form-control form-control-sm' }
    .form-group.row
      label.col-3.col-form-label = t('activerecord.attributes.shipment.freight_type')
      .col-9
        = f.select :freight_type, ModeTransportation.all.map { |w| [w.code, w.id] }, { prompt: t('views.shared.prompt.freight_type') }, { class: 'form-control form-control-sm' }
    .form-group.row
      label.col-3.col-form-label = t('activerecord.attributes.shipment.incoterm')
      .col-9
        = f.select :incoterm, Incoterm.all.map { |w| [w.code, w.id] }, { prompt: t('views.shared.prompt.incoterm') }, { class: 'form-control form-control-sm' }
    .form-group.row
      label.col-3.col-form-label = t('activerecord.attributes.client.payment_term')
      .col-9
        = f.select :payment_term, PaymentTerm.all.map { |w| [w.description, w.id] }, { prompt: t('views.shared.prompt.payment_term') }, { class: 'form-control form-control-sm' }
    .form-group.row
      label.col-3.col-form-label = t('activerecord.attributes.client.annual_international_freight_shipments')
      .col-9
        = f.select :annual_international_freight_shipments, Client.annual_international_freight_shipments.keys.map { |w| [w.humanize, w] }, { prompt: 'Select a option' }, { class: 'form-control form-control-sm' }
    .form-group.row
      label.col-3.col-form-label = t('activerecord.attributes.client.status')
      .col-9
        = f.select :status, Client.statuses.keys.map { |w| [w.humanize, w] }, { prompt: t('views.shared.prompt.status') }, { class: 'form-control form-control-sm' }
  .modal-footer
    button.btn.btn-secondary data-dismiss="modal" type="button" = t('views.shared.buttons.cancel')
    = submit_tag t('views.shared.buttons.apply'), class: 'btn btn-primary'

