#accordionClient.accordion.accordion-solid.accordion-toggle-plus.mb-8
  .card
    #headingClient.card-header
      .card-title data-target="#collapseClient" data-toggle="collapse"
        i.fas.fa-id-card
        = t('views.admin.clients.shared.text.step1.title')
    #collapseClient.collapse.show data-parent="#accordionClient"
      .card-body
        = render 'client', f: f

#accordionAddress.accordion.accordion-solid.accordion-toggle-plus.mb-8
  .card
    #headingAddress.card-header
      .card-title.collapsed data-target="#collapseAddress" data-toggle="collapse"
        i.fas.fa-map-marked
        = t('views.admin.clients.shared.text.step2.title')
    #collapseAddress.collapse data-parent="#accordionAddress"
      .card-body
        #addresses
          = f.simple_fields_for :addresses do |address|
            = render 'address_fields', f: address

#accordionContact.accordion.accordion-solid.accordion-toggle-plus.mb-8
  .card
    #headingContact.card-header
      .card-title.collapsed data-target="#collapseContact" data-toggle="collapse"
        i.fas.fa-user
        = t('views.admin.clients.shared.text.step4.title')
    #collapseContact.collapse data-parent="#accordionContact"
      .card-body
        #contacts
          = f.simple_fields_for :contacts do |contact|
            = render 'contact_fields', f: contact

#accordionCredit.accordion.accordion-solid.accordion-toggle-plus.mb-8.hide-element
  .card
    #headingCredit.card-header
      .card-title.collapsed data-target="#collapseCredit" data-toggle="collapse"
        i.flaticon2-chart
        = t('views.admin.clients.shared.text.step3.title')
    #collapseCredit.collapse data-parent="#accordionCredit"
      .card-body
        = render 'credit', f: f

#accordionBilling.accordion.accordion-solid.accordion-toggle-plus.mb-8.hide-element
  .card
    #headingBilling.card-header
      .card-title.collapsed data-target="#collapseBilling" data-toggle="collapse"
        i.fas.fa-money-bill
        = t('views.admin.clients.shared.text.step5.title')
    #collapseBilling.collapse data-parent="#accordionBilling"
      .card-body
        = render 'billing', f: f
javascript:
    $(document).ready(function() {
        $("#kt_form").submit(function () {
            let countryDataPhone = $('.input_number_1').intlTelInput("getSelectedCountryData");
            let countryCodePhone = countryDataPhone.dialCode
            console.log(countryCodePhone);
            $('.code_1').val(countryCodePhone);

            let countryDataMobile = $('.input_number_2').intlTelInput("getSelectedCountryData");
            let countryCodeMobile = countryDataMobile.dialCode
            console.log(countryCodeMobile);
            $('.code_2').val(countryCodeMobile);

            let countryDataPhoneContact = $('.input_number_contact_1').intlTelInput("getSelectedCountryData");
            let countryCodePhoneContact = countryDataPhoneContact.dialCode
            console.log(countryCodePhoneContact);
            $('.code_contact_1').val(countryCodePhoneContact);

            let countryDataMobileContact = $('.input_number_contact_2').intlTelInput("getSelectedCountryData");
            let countryCodeMobileContact = countryDataMobileContact.dialCode
            console.log(countryCodeMobileContact);
            $('.code_contact_2').val(countryCodeMobileContact);
        });
    });