.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  .container
    .row
      .col-sm-12
        table.table.table-separate.table-head-custom.table-checkable.dataTable.no-footer.dtr-inline#kt_datatable role="grid" aria-describedby="kt_datatable_info" style="width: 905px;"
          thead
            tr.text-left role="row"
              th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="min-width: 200px;" aria-sort="ascending" aria-label="Name: activate to sort column descending" = t('activerecord.attributes.sender.name')
              th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="min-width: 150px;" aria-sort="ascending" aria-label="Email: activate to sort column descending" = t('activerecord.attributes.sender.contact')          
              th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="min-width: 200px;" aria-sort="ascending" aria-label="Name: activate to sort column descending" = t('activerecord.attributes.sender.email')
              th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="min-width: 150px;" aria-sort="ascending" aria-label="Email: activate to sort column descending" = t('activerecord.attributes.sender.rfc')
              th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="min-width: 150px;" aria-sort="ascending" aria-label="Actions: activate to sort column descending" = t('views.admin.clients.index.collections.actions')
          tbody
            - @senders.each do |sender|
              tr role="row"
                td = sender.name
                td = sender.contact       
                td = sender.email
                td = sender.rfc                         
                td nowrap="nowrap"
                  = link_to show_sender_admin_client_path(id: @client.id, sender_id: sender.id), class: 'btn btn-icon btn-light btn-hover-primary btn-sm mr-3', remote: true do
                    span.svg-icon.svg-icon-md.svg-icon-primary
                      i.la.la-info-circle
                  = link_to edit_sender_admin_client_path(id: @client.id, sender_id: sender.id) , class: 'btn btn-icon btn-light btn-hover-primary btn-sm mr-3', remote: true do
                    span.svg-icon.svg-icon-md.svg-icon-primary
                      i.la.la-edit
                  = link_to destroy_sender_admin_client_path(id: @client.id, sender_id: sender.id), class: 'btn btn-icon btn-light btn-hover-primary btn-sm mr-3', remote: true, method: :delete, data: {confirm: 'Are you sure?'} do
                    span.svg-icon.svg-icon-md.svg-icon-primary
                      i.la.la-trash