<% if @product.errors.empty? %>
  $("#product_form").html("<%= j render :partial => 'admin/clients/client_products/collection' %>");
  $("#paginator").html("<%= escape_javascript(paginate(@products, remote: true)) %>");
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
<% end %>