<% if @client_document.errors.empty? %>
  $("#document_form").html("<%= j render :partial => 'admin/clients/client_documents/collection' %>");
  $("#paginator").html("<%= escape_javascript(paginate(@documents, remote: true)) %>");
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
<% end %>