<% if @create == true %>
  <% if @is_contact == 'true' %>
    $("#addresses_list").html("<%= j render :partial => 'admin/clients/contacts/addresses_list_contact', locals: { action_controller: 'add_contact'} %>");
  <% else %>
    $("#address_list").html("<%= j render :partial => 'admin/clients/addresses/accordion_addresses' %>");
    $("#paginator").html("<%= escape_javascript(paginate(@addresses, remote: true)) %>");
  <% end %>
  $("#exampleModalScrollable").modal("toggle");
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
  $("#modal-container").html("<%= j render partial: "admin/clients/addresses/form", locals: { action_controller: 'add_address'} %>");
<% end %>