<% if @sender.errors.empty? %>
  $("#sender_form").html("<%= j render :partial => 'admin/clients/senders/collection' %>");
  $("#paginator").html("<%= escape_javascript(paginate(@senders, remote: true)) %>");
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
<% end %>