<% if @contact.errors.empty?  %>
  $("#contact_form").html("<%= j render :partial => 'admin/clients/contacts/accordion_contacts' %>");
  $("#paginator").html("<%= escape_javascript(paginate(@contacts, remote: true)) %>");  
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
<% end %>