<% if @phone.errors.empty?  %>
  $("#phone_list").html("<%= j render :partial => 'admin/clients/phones/collection' %>");
  $("#exampleModalScrollable").modal("toggle");
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
  $("#modal-container").html("<%= j render partial: "admin/clients/phones/form", locals: { action_controller: 'add_phone'} %>");
<% end %>