$("#senders").html("<%= j render partial: 'admin/clients/senders/collection' %>");
$("#paginator").html("<%= escape_javascript(paginate(@senders, remote: true)) %>");
toastr.error("<%= escape_javascript(@response) %>");