$("#document_list").html("<%= j render :partial => 'admin/clients/client_documents/collection' %>");
$("#paginator").html("<%= escape_javascript(paginate(@documents, remote: true)) %>");
toastr.error("<%= escape_javascript(@response) %>");