$("#product_list").html("<%= j render :partial => 'admin/clients/client_products/collection' %>");
$("#paginator").html("<%= escape_javascript(paginate(@products, remote: true)) %>");
toastr.error("<%= escape_javascript(@response) %>");