show_content_modal("<%= t("views.admin.products.edit.title") %>", "<%= t("views.shared.buttons.update") %>", 'update')
$("#exampleModalScrollable").modal("show");

$(".modal-container").html("<%= j render partial: "admin/clients/client_products/form", locals: { action_controller: 'update_client_product' } %>");