show_content_modal("<%= t("views.admin.addresses.edit.title") %>", "<%= t("views.shared.buttons.update") %>", 'update')
$("#exampleModalScrollable").modal("show");
$(".modal-container").html("<%= j render partial: "admin/clients/addresses/form", locals: { action_controller: 'update_address' } %>");