$("#document_list").html("<%= j render :partial => 'admin/clients/client_documents/collection' %>");
$("#document_list").hide();
$("#document_form").html("<%= j render partial: "admin/clients/client_documents/new", locals: { action_controller: 'update_client_document', action: 'update' } %>");
$("#document_form").show();