$("#senders").html("<%= j render :partial => 'admin/clients/senders/collection' %>");
$("#senders").hide();
$("#sender_form").html("<%= j render partial: "admin/clients/senders/new", locals: { action_controller: 'update_sender', action: 'update' } %>");
$("#sender_form").show();
