= render 'shared/subheader', custom_button: true, export_button: true, back_button: false, back_button_route: '', new_button: true, new_button_route: new_admin_client_path, quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  .container
    .card.card-custom
      .card-body     
        = render 'collection'
    = render 'shared/manage_columns_form'