= render 'shared/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: admin_clients_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  .container
    = simple_form_for [:admin, @client], html: { class: "form fv-plugins-bootstrap fv-plugins-framework", id: "kt_form" } do |f|
      = render 'form', f: f
      .row
        .col-lg-4
        .col-lg-8.text-right
          = f.submit t('views.shared.buttons.save'), class: 'btn btn-success'