$("#sender_form").html("<%= j render partial: "admin/clients/senders/new", locals: { action_controller: 'add_sender', action: 'create' } %>");
$("#senders").html("<%= j render :partial => 'admin/clients/senders/collection' %>");
