$("#contact_form").html("<%= j render partial: "admin/clients/contacts/new", locals: { action_controller: 'add_contact', action: 'create' } %>");
$("#contacts").html("<%= j render :partial => 'admin/clients/contacts/accordion_contacts' %>");  
