$("#document_form").html("<%= j render :partial => 'admin/clients/client_documents/new', locals: { action_controller: 'add_client_document', action: 'create'}%>");
$("#document_list").html("<%= j render :partial => 'admin/clients/client_documents/collection' %>");  