show_content_modal("<%= t("views.admin.contacts.show.title") %>", "false", 'show');
$("#exampleModalScrollable").modal("show");
$(".modal-container").html("<%= j render partial: "admin/clients/contacts/show" %>");