show_content_modal("<%= t("views.admin.senders.show.title") %>", "false", 'show');
$("#exampleModalScrollable").modal("show");
$(".modal-container").html("<%= j render partial: "admin/clients/senders/show" %>");