<% if @update == true %>
  $("#sender_form").hide();
  $("#senders").show().html("<%= j render :partial => 'admin/clients/senders/collection' %>");
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
<% end %>