<% if @update == true %>
  $("#document_form").hide();
  $("#document_list").show().html("<%= j render :partial => 'admin/clients/client_documents/collection' %>");  
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
<% end %>