<% if @update == true %>
  $("#address_list").html("<%= j render :partial => 'admin/clients/addresses/accordion_addresses' %>");
  $("#exampleModalScrollable").modal("toggle");
    toastr.success("<%= escape_javascript(@response) %>");
<% else %>
  $("#modal-container").html("<%= j render partial: "admin/clients/addresses/form", locals: { action_controller: 'update_address' } %>");
<% end %>