<% if @product.errors.empty? %>
  $("#product_list").html("<%= j render :partial => 'admin/clients/client_products/collection' %>");
  $("#exampleModalScrollable").modal("hide");
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
  $("#modal-container").html("<%= j render partial: "admin/clients/client_products/form", locals: { action_controller: 'update_client_product' } %>");
<% end %>