<% if @update == true %>
  $("#contact_form").hide();
  $("#contacts").show().html("<%= j render :partial => 'admin/clients/contacts/accordion_contacts' %>");
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
<% end %>