.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  table.table.table-separate.table-head-custom.collapsed#kt_datatable_services
    thead
      tr
        th = t('activerecord.attributes.service.description')
        th = t('activerecord.attributes.service.service_type')
        th = t('activerecord.attributes.tax.value')
        th = t('views.shared.tags.actions')
    tbody
      - @services.each do |service|
        tr
          td
            .d-flex.align-items-center
              .symbol.symbol-50.symbol-light-secondary
                span.symbol-label
                  = service.code
              .ml-3
                span.text-dark-75.font-weight-bold.line-height-sm.d-block.pb-2 = service.description.truncate(15)
                span.text-muted.text-hover-primary = service.service_mode.name
          td = t("enums.services.service_type.#{service.service_type}")
          td
            - if service.currency.code == 'EUR'
              = number_to_currency(service.price, unit: '€', format: '%u %n')
            - if service.currency.code == 'MXN'
              = number_to_currency(service.price, unit: '$', format: '%u %n')
            - if service.currency.code == 'USD'
              = number_to_currency(service.price, unit: 'US$', format: '%u %n')
          td nowrap="nowrap"
            = link_to [:admin, service], class: 'btn btn-sm btn-clean btn-icon' do
              span.svg-icon.svg-icon-md.svg-icon-primary
                i.fas.fa-eye
            = link_to(edit_admin_service_path(service), class: 'btn btn-sm btn-clean btn-icon') do
              span.svg-icon.svg-icon-md.svg-icon-primary
                i.fas.fa-edit
            = link_to({action: :destroy, id: service.id}, class: "btn btn-sm btn-clean btn-icon", method: :delete, data: {confirm: 'Are you okay?'}) do
              span.svg-icon.svg-icon-md.svg-icon-danger
                i.fas.fa-trash
javascript:
    jQuery(document).ready(function () {
        KTDatatablesServices.init();
    });
