= simple_form_for [:admin, @service] do |f|
  .form-group.row
    .col-xl-4
      = f.input :code, placeholder: t('activerecord.attributes.service.code'), input_html: { maxlength: 5 }
    .col-lg-4
      label = t('views.admin.services.new.service_type')
      = select :service, :service_type, options_for_select(Service.service_types.map { |key, value| [t("enums.services.service_type.#{key.downcase}"), key] }), { prompt: t('views.shared.prompt.service') }, class: "form-control"
    .col-lg-4
      = f.association :service_mode, label_method: :name, prompt: t('views.shared.prompt.service_mode'), input_html:{ class: 'form-control' }
  .form-group.row
    .col-lg-4
      label = t('views.admin.services.new.price')
      .input-group
        .input-group-prepend
          span.input-group-text $
        = f.text_field :price, placeholder: t('activerecord.attributes.service.price'), class: 'form-control'
    .col-lg-4
      = f.association :currency, label_method: :name, prompt: t('views.shared.prompt.currency'), input_html: { class: 'form-control' }
    .col-lg-4
      = f.association :tax, label_method: :code, prompt: t('views.shared.prompt.tax'), input_html: { class: 'form-control' }
  .form-group.row
    .col-lg-12
      = f.input :description, placeholder: t('activerecord.attributes.service.description')
  .form-group.row
    .col-lg-6
      = f.input :has_cost, type: 'checkbox'
  .row
    .col-lg-4
    .col-lg-8.text-right
      = f.submit button_primary, class: 'btn btn-success'