= render 'shared/subheader', custom_button: false, export_button: false, back_button: false, back_button_route: '', new_button: true, new_button_route: new_admin_service_path, quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  .container
    .card.card-custom
      .card-body
        = render 'collection'