= render 'shared/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: admin_services_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  /! begin::Container
  .container-fluid
    /! begin::Card
    .card.card-custom.gutter-b
      .card-body
        .d-flex

          /! begin: Info
          .flex-grow-1
            /! begin: Title
            .d-flex.align-items-center.justify-content-between.flex-wrap
              .mr-3
                /! begin::Name
                span.d-flex.align-items-center.text-dark.font-size-h4.font-weight-bold.mr-3 
                  = @service.description 
                  small.text-muted 
                    | &nbsp - &nbsp
                    = @service.code
                  i.flaticon2-correct.text-success.icon-md.ml-2
                /! end::Name
                /! begin::Contacts
                .d-flex.flex-wrap.my-2
                  span.text-muted.text-hover-primary.font-weight-bold.mr-lg-8.mr-5.mb-lg-0.mb-2
                    = @service.service_type
                  span.text-muted.font-weight-bold.mr-lg-8.mr-5.mb-lg-0.mb-2
                    = @service.service_mode.name
                /! end::Contacts
              .my-lg-0.my-1
                a.btn.btn-sm.btn-light-success.font-weight-bolder.text-uppercase.mr-3 href="#"  Reports
                a.btn.btn-sm.btn-info.font-weight-bolder.text-uppercase href="#"  New Task
            /! end: Title
            
          /! end: Info
        .separator.separator-solid.my-7
        /! begin: Items
        .d-flex.align-items-left.flex-wrap
          /! begin: Item
          .d-flex.mr-5.my-1
            span.mr-4
              i.flaticon-piggy-bank.icon-2x.text-muted.font-weight-bold
            .d-flex.flex-column.text-dark-75
              span.font-weight-bolder.font-size-sm Earnings
              span.font-weight-bolder.font-size-h5
                span.text-dark-50.font-weight-bold> $
                | 249,500
          /! end: Item
          /! begin: Item
          .d-flex.mr-5.my-1
            span.mr-4
              i.flaticon-confetti.icon-2x.text-muted.font-weight-bold
            .d-flex.flex-column.text-dark-75
              span.font-weight-bolder.font-size-sm Expenses
              span.font-weight-bolder.font-size-h5
                span.text-dark-50.font-weight-bold> $
                | 164,700
          /! end: Item
          /! begin: Item
          .d-flex.mr-5.my-1
            span.mr-4
              i.flaticon-pie-chart.icon-2x.text-muted.font-weight-bold
            .d-flex.flex-column.text-dark-75
              span.font-weight-bolder.font-size-sm Net
              span.font-weight-bolder.font-size-h5
                span.text-dark-50.font-weight-bold> $
                | 782,300
          /! end: Item
          
        /! begin: Items
    /! end::Card
    /! begin::Row
    .row
      
      .col-lg-12
        /! begin::Charts Widget 3
        .card.card-custom.card-stretch.gutter-b
          /! begin::Header
          .card-header.h-auto.border-0
            .card-title.py-5
              h3.card-label
                span.d-block.text-dark.font-weight-bolder Product Insights
                span.d-block.text-muted.mt-2.font-size-sm More than 500+ new orders
            .card-toolbar
              ul.nav.nav-pills.nav-pills-sm.nav-dark-75 role="tablist" 
                li.nav-item
                  a.nav-link.py-2.px-4 data-toggle="tab" href="#kt_charts_widget_2_chart_tab_1" 
                    span.nav-text.font-size-sm Month
                li.nav-item
                  a.nav-link.py-2.px-4 data-toggle="tab" href="#kt_charts_widget_2_chart_tab_2" 
                    span.nav-text.font-size-sm Week
                li.nav-item
                  a.nav-link.py-2.px-4.active data-toggle="tab" href="#kt_charts_widget_2_chart_tab_3" 
                    span.nav-text.font-size-sm Day
          /! end::Header
          /! begin::Body
          .card-body
            #kt_charts_widget_3_chart
          /! end::Body
        /! end::Charts Widget 3
    /! end::Row
    /! begin::Row
  /! end::Container

