.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  table.table.table-separate.table-head-custom.collapsed#kt_datatable_ports
    thead
      tr
        th = t('activerecord.attributes.port.name')
        th = t('activerecord.attributes.port.iata_code')
        th = t('activerecord.attributes.port.country')
        th = t('views.shared.tags.actions')
    tbody
      - @ports.each do |port|
        tr
          td
            .d-flex.align-items-center
              .symbol.symbol-50.symbol-light-secondary
                span.symbol-label
                  i class="fs fas #{icon_transportation_method(port.transportation_method)}"
              .ml-3
                span.text-dark-75.font-weight-bold.line-height-sm.d-block.pb-2 = port.name
                span.text-muted.text-hover-primary = port.port_identifier
          td = port.iata_code
          td = port.country.name
          td nowrap="nowrap"
            = link_to [:admin, port], class: 'btn btn-sm btn-clean btn-icon' do
              span.svg-icon.svg-icon-md.svg-icon-primary
                i.fas.fa-eye
            = link_to edit_admin_port_path(port), class: 'btn btn-sm btn-clean btn-icon' do
              i.fas.fa-edit
            = link_to({action: :destroy, id: port.id}, class: "btn btn-sm btn-clean btn-icon", method: :delete, data: {confirm: 'Are you okay?'}) do
              i.fas.fa-trash
javascript:
    jQuery(document).ready(function () {
        KTDatatablesPorts.init();
    });