= simple_form_for [:admin, @port] do |f|
  .form-group.row
    .col-lg-6.col-sm-12
      = f.input :port_identifier
    .col-lg-6.col-sm-12
      = f.input :iata_code
  .form-group.row
    .col-lg-6
      = f.input :name
  .form-group.row
    .col-lg-6
      = f.association :country, input_html: { class: 'form-control selectpicker', data: { 'live-search': "true" } }
    .col-lg-6
      = f.input :transportation_method, placeholder: t('activerecord.attributes.address.type_address'), prompt: t('views.shared.prompt.transportation_method'), input_html: { class: 'form-control' }
  .form-group.row
    .col-lg-6
      = f.input :inactive
  .row
    .col-lg-4
    .col-lg-8.text-right
      = f.submit button_primary, class: 'btn btn-success'