<div id='map' style='width: 400px; height: 300px;'></div>
<script>
    longitude = <%= @port.longitude %>;
    latitude = <%= @port.latitude %>;
    mapboxgl.accessToken = 'pk.eyJ1IjoiYXJvZHJpZ3VlejkyIiwiYSI6ImNrbjh1cWp3OTExZ3kyb2xnaGNiaDRzeGQifQ.j7QBl9gTvpmdm7jwAmiCZA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [longitude, latitude],
        zoom: 8
    });

    var marker1 = new mapboxgl.Marker()
        .setLngLat([longitude, latitude])
        .addTo(map);
</script>