- unless @contacts.blank?
  - @contacts.each_slice(3) do |group|
    .row.mb-2
      - group.each do |contact|
        .col-xl-4
          = render 'admin/suppliers/contacts/contact', contact: contact
  .row
    .col-xl-12#paginator
      = paginate @contacts, remote: true
- else
  = render 'admin/suppliers/contacts/alert'