<span class="switch switch-outline switch-icon switch-primary">
																<label>
																	<input type="checkbox" checked="checked" name="select">
																	<span></span>
																</label>
															</span>