= simple_form_for @contact, url: url_for(controller: 'admin/suppliers', action: action_controller), multipart: true, remote: true, authenticity_token: true do |f|
  = f.hidden_field :contactable_type, value: 'Supplier'
  = f.hidden_field :contactable_id, value: @supplier.id
  = hidden_field_tag :contact_id, @contact.id
  = f.submit 'Save', id: 'btn-submit-form', style: "display: none;"
  .form-group.row
    .col-lg-12.col-xl-12
      .image-input.image-input-outline.avatar-default-login#kt_profile_avatar
        - if @contact.photo.attached?
          .image-input-wrapper style="background-image: url(#{@contact.photo.service_url})"
        - else
          .image-input-wrapper
        label.btn.btn-xs.btn-icon.btn-circle.btn-white.btn-hover-text-primary.btn-shadow data-action="change" data-toggle="tooltip" data-original-title="Change avatar"
          i.flaticon2-pen.icon-sm.text-muted
          = f.file_field :photo, input_html: { accept: ".png, .jpg, .jpeg" }
  .form-group.row
    .col-xl-6.col-sm-12
      = f.input :name, placeholder: t('activerecord.attributes.contact.name'), maxlength: 50, input_html: { class: 'form-control-sm' }
    .col-xl-6.col-sm-12
      = f.input :email, placeholder: t('activerecord.attributes.contact.email'), maxlength: 50, input_html: { class: 'form-control-sm' }
  .form-group.row
    .col-xl-4.col-sm-12
      = f.input :birth_date, as: :tempus_dominus, placeholder: 'Select a date', input_html: { class: 'form-control-sm' }
    .col-xl-4.col-sm-12
      = f.input :area, placeholder: t('activerecord.attributes.contact.area'), maxlength: 50, input_html: { class: 'form-control-sm' }
    .col-xl-4.col-sm-12
      = f.input :job, placeholder: t('activerecord.attributes.contact.job'), maxlength: 50, input_html: { class: 'form-control-sm' }
  = f.simple_fields_for :phones do |phone|
    = render 'admin/suppliers/contacts/phone_fields', f: phone, phoneable_type: 'Contact'
  .row
    .col-xl-6.col-sm-12
      - if action_controller == 'add_contact'
        = f.label :address, t('activerecord.attributes.contact.address.not_abbr')
        = select :address, :id, options_for_select(Address.where("addressable_id = ? AND addressable_type = ?", @supplier.id, 'Supplier').collect { |address| [address.name, address.id] }), {prompt: t('views.shared.prompt.address')}, {class: 'form-control', data: {'live-search': "true"}}
      - else
        - if @contact.addresses.blank?
          = f.label :address, t('activerecord.attributes.contact.address.not_abbr')
          = select :address, :id, options_for_select(Address.where("addressable_id = ? AND addressable_type = ?", @supplier.id, 'Supplier').collect { |address| [address.name, address.id] }), {prompt: t('views.shared.prompt.address')}, {class: 'form-control', data: {'live-search': "true"}}
        - else
          - supplier_address = Address.where("addressable_type = ? AND street = ? AND interior_number = ? AND colony = ? AND country = ? AND state_id = ? AND zip_code = ?", 'Supplier', @contact.addresses.first.street, @contact.addresses.first.interior_number, @contact.addresses.first.colony, @contact.addresses.first.country, @contact.addresses.first.state_id, @contact.addresses.first.zip_code) unless @contact.addresses.nil?
          = f.label :address, t('activerecord.attributes.contact.address.not_abbr')
          = select :address, :id, options_for_select(Address.where("addressable_id = ? AND addressable_type = ?", @supplier.id, 'Supplier').collect { |address| [address.name, address.id] }, supplier_address.first.id), {prompt: t('views.shared.prompt.address')}, {class: 'form-control', data: {'live-search': "true"}}
  / - if current_user.admin
  /   .form-group.row
  /     .col-xl-3
  /       = f.label :principal
  /       span.switch.switch-outline.switch-icon.switch-primary
  /         label
  /           = f.check_box :principal, checked: false
  /           span
javascript:
    $(function () {
        $('#btn_submit_modal').click(function () {
          $('#contacts_tab_5').trigger("click");
        });

        $('#contact_birth_date').datetimepicker({
            format: "DD-MM-YYYY"
        });
        avatar = new KTImageInput('kt_profile_avatar');
    });