.row
  .col-xl-6
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.contact.name')}:"
      label.col-xl-9.col-lg-9.col-form-label = @contact.name
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.contact.email')}:"
      label.col-xl-9.col-lg-9.col-form-label = @contact.email
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.contact.area')}:"
      label.col-xl-9.col-lg-9.col-form-label = @contact.area
  .col-xl-6
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.contact.job')}:"
      label.col-xl-9.col-lg-9.col-form-label = @contact.job
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.contact.birth_date')}:"
      label.col-xl-9.col-lg-9.col-form-label = @contact.birth_date.nil? ? '' : @contact.birth_date.strftime("%d-%m-%Y")
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.contact.principal')}:"
      span.col-xl-9.col-lg-9.col-form-label
        - if @contact.principal == true
          span.svg-icon.svg-icon-md.svg-icon-warning
            = render "shared/icons/star"
        - else
          span.svg-icon.svg-icon-md.svg-icon-secondary
            = render "shared/icons/half_star"
.row
  .col-xl-6
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.contact.address.not_abbr')}:"
      label.col-xl-9.col-lg-9.col-form-label = @contact.full_address
  .col-xl-6
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.models.phone.one')}:"
      label.col-xl-9.col-lg-9.col-form-label
        - if @contact.extension != ""
          = @contact.phone_with_extension
        - elsif @contact.country_code != ""
          = @contact.phone_with_country_code