.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  table.table.table-separate.table-head-custom.collapsed#kt_datatable_agents
    thead
      tr
        th = t('activerecord.attributes.agent.name')
        th = t('activerecord.attributes.agent.website')
        th = t('activerecord.models.phone.one')
        th = t('activerecord.models.contact.one')
    tbody
      - @agents.each do |agent|
        tr
          td
            .d-flex.align-items-center
              - if agent.logo.attached?
                .symbol.symbol-50.mt-1
                  = image_tag(agent.logo.service_url)
              - else
                .symbol.symbol-50.symbol-light-secondary
                  span.symbol-label
                    = image_tag('agent.png', class: '', height: 50, width: 50)
              .ml-3
                span.text-dark-75.font-weight-bold.line-height-sm.d-block.pb-2 = link_to agent.name, admin_agent_path(agent.id, readonly: false)
                span.text-muted.text-hover-primary = agent.rfc
          td = agent.website
          td
            - if agent.extension != ""
              = agent.phone_with_extension
            - elsif agent.country_code != ""
              = agent.phone_with_country_code
          td = agent.full_name_contact
javascript:
    jQuery(document).ready(function () {
        KTDatatablesAgents.init();
    });