.d-flex.flex-row
  .flex-row-fluid
    .row
      .col-xl-6
        .card.card-custom.gutter-b
          .card-header
            .card-title
              h3.card-label Cantidad de Productos
          .card-body
            // = pie_chart User.group(:role_id).count
            = pie_chart(@serie, legend: 'left', height: 200)
      .col-xl-6
        .card.card-custom.gutter-b
          .card-header
            .card-title
              h3.card-label Usuarios por Dia
          .card-body
            // = pie_chart User.group(:role_id).count
            = line_chart(@user_date, @options)
