<% if @contact.errors.empty?  %>
  $("#contact_form").html("<%= j render :partial => 'admin/agents/contacts/accordion_contacts' %>");
  // $("#paginator").html("<%= escape_javascript(paginate(@contacts, remote: true)) %>");
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
  $("#contact_form").html("<%= j render partial: "admin/agents/contacts/new", locals: { action_controller: 'add_contact', action: 'create' } %>");
<% end %>