<% if @address.errors.empty?  %>
  <% if @is_contact == 'true' %>
    $("#addresses_list").html("<%= j render :partial => 'admin/agents/contacts/addresses_list_contact', locals: { action_controller: 'add_contact'} %>");
  <% else %>
    $("#address_list").html("<%= j render :partial => 'admin/agents/addresses/accordion_addresses' %>");
  <% end %>
  $("#exampleModalScrollable").modal("toggle");
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
  $("#modal-container").html("<%= j render partial: "admin/agents/addresses/form", locals: { action_controller: 'add_address'} %>");
<% end %>
