$("#address_list").html("<%= j render partial: 'admin/agents/addresses/accordion_addresses' %>");
$("#paginator").html("<%= escape_javascript(paginate(@addresses, remote: true)) %>");
toastr.error("<%= escape_javascript(@response) %>");