$("#contacts").html("<%= j render :partial => 'admin/agents/contacts/accordion_contacts' %>");
$("#contacts").hide();
$("#contact_form").html("<%= j render partial: "admin/agents/contacts/edit", locals: { action_controller: 'update_contact', action: 'update' } %>");
$("#contact_form").show();
