$("#contact_form").html("<%= j render partial: "admin/agents/contacts/new", locals: { action_controller: 'add_contact', action: 'create' } %>");
$("#contacts").html("<%= j render :partial => 'admin/agents/contacts/accordion_contacts' %>");
