<% if @address.errors.empty?  %>
  $("#address_list").html("<%= j render :partial => 'admin/agents/addresses/accordion_addresses' %>");
  $("#exampleModalScrollable").modal("toggle");
  $("#paginator").html("<%= escape_javascript(paginate(@addresses, remote: true)) %>");
  toastr.success("<%= escape_javascript(@response) %>");
<% else  %>
  $("#modal-container").html("<%= j render partial: "admin/agents/addresses/form", locals: { action_controller: 'update_address' } %>");
<% end  %>