.login-form.login-form-signup
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form fv-plugins-bootstrap fv-plugins-framework", id: 'kt_login_signup_form' }) do |f|
    // = render "devise/shared/error_messages", resource: resource
    .pb-5.pb-lg-15
      h3.font-weight-bolder.text-dark.font-size-h2.font-size-h1-lg = t('.sign_up')
    // = f.error_notification
    = f.simple_fields_for :contact do |ff|
      = ff.hidden_field :contactable_type, value: 'Client'
      = ff.hidden_field :email
      = hidden_field_tag :is_contact, true
      .form-group.fv-plugins-icon-container
        = ff.label :name, class: 'font-size-h6 font-weight-bolder text-dark'
        = ff.input :name, label: false, placeholder: t('activerecord.attributes.contact.name'), input_html: { class: 'form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0' }
      .form-group.fv-plugins-icon-container
        = f.label :email, class: 'font-size-h6 font-weight-bolder text-dark'
        = f.input :email, label: false, placeholder: t('activerecord.attributes.user.email'), input_html: { class: 'form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0' }
      .fv-plugins-message-container
      .form-group.fv-plugins-icon-container
        = ff.fields_for :phones_attributes do |phone|
          = render 'shared/cocoon/mobile_phone_field', f: phone, phoneable_type: 'Contact', type_phone: 'mobile'
      .form-group.fv-plugins-icon-container
        = f.input :accept_terms_of_service_and_privacy_policies
    .pb-lg-0.pb-5
      = f.submit t('.sign_up'), class: 'btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3'
javascript:

  $(document).ready(function () {
      $("#user_email").change(function () {
          email = $('#user_email').val();
          $('#user_contact_attributes_email').val(email);
      });
  });