.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  table.table.table-separate.table-head-custom.collapsed#kt_datatable_taxes
    thead
      tr
        th = t('activerecord.attributes.tax.code')
        th = t('activerecord.attributes.tax.name')
        th = t('activerecord.attributes.tax.value')
        th = t('views.shared.tags.actions')
    tbody
      - @taxes.each do |tax|
        tr
          td
            .d-flex.align-items-center
              .symbol.symbol-50.symbol-light-secondary
                span.symbol-label
                  = tax.code
          td = tax.name
          td = tax.value
          td nowrap="nowrap"
            = link_to(edit_admin_tax_path(tax), class: 'btn btn-sm btn-clean btn-icon') do
              span.svg-icon.svg-icon-md.svg-icon-primary
                i.fas.fa-edit
            = link_to({action: :destroy, id: tax.id}, class: "btn btn-sm btn-clean btn-icon", method: :delete, data: {confirm: 'Are you okay?'}) do
              span.svg-icon.svg-icon-md.svg-icon-danger
                i.fas.fa-trash
javascript:
    jQuery(document).ready(function () {
        KTDatatablesTaxes.init();
    });



