= simple_form_for [:admin, @tax] do |f|
  .form-group.row
    .col-lg-4.col-sm-12
      = f.input :code, placeholder: t('activerecord.attributes.tax.code'), class: 'form-control', input_html: { maxlength: 5 }
    .col-lg-4.col-sm-12
      = f.input :name, placeholder: t('activerecord.attributes.tax.name'), class: 'form-control'
    .col-lg-4
      label Valor
      .input-group
        = f.text_field :value, placeholder: t('activerecord.attributes.tax.value'), class: 'form-control'
        .input-group-append
          span.input-group-text %
  .row
    .col-lg-4
    .col-lg-8.text-right
      = f.submit button_primary, class: 'btn btn-success'