= render 'shared/subheader', custom_button: false, export_button: false, back_button: false, back_button_route: '', new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  .container
    h1  = t('views.dashboard.show.hello')