.alert.alert-custom.alert-outline-danger.fade.show.mb-5 role="alert"
  .alert-icon
    i.fas.fa-exclamation-triangle
  .alert-text = t('controllers.client_products.not')
  .alert-close
    button.close type="button" data-dismiss="alert" aria-label="Close"
      span aria-hidden="true"
        i.fas.fa-times