- unless @products.blank?
  - @products.each_slice(3) do |group|
    .row
      - group.each do |client_product|
        .col-xl-3.col-lg-6.col-md-6.col-sm-6
          /! begin::Card
          .card.card-custom.gutter-b.card-stretch
            .card-header.border-0
              h3.card-title
              .card-toolbar
                .dropdown.dropdown-inline data-placement="left" data-toggle="tooltip" title=("Quick actions")
                  a.btn.btn-clean.btn-hover-light-primary.btn-sm.btn-icon aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#"
                    i.ki.ki-bold-more-hor
                  .dropdown-menu.dropdown-menu-md.dropdown-menu-right
                    /! begin::Navigation
                    ul.navi.navi-hover.py-5
                      li.navi-item
                        = link_to edit_client_product_admin_client_path(id: @client.id, product_id: client_product.id), class: 'navi-link', remote: true do
                          span.navi-icon
                            i.fas.fa-edit
                          span.navi-text = t('views.shared.buttons.edit')
                      li.navi-item
                        = link_to destroy_client_product_admin_client_path(id: @client.id, product_id: client_product.id), class: 'navi-link', remote: true, method: :delete, data: { confirm: 'Are you sure?' } do
                          span.navi-icon
                            i.fas.fa-trash
                          span.navi-text = t('views.shared.buttons.destroy')
                      li.navi-item
                        a.navi-link href="#"
                          span.navi-icon
                            i.fas.fa-file-download
                          span.navi-text = t('views.shared.buttons.download')
            .card-body
              .d-flex.flex-column.align-items-center
                .flex-shrink-0.mr-4
                  /! begin: Icon
                  .symbol.symbol-lg-75
                    - if client_product.image.attached?
                      = image_tag(client_product.image.service_url)
                    - else
                      = image_tag('products.svg', alt: "image")
                /! end: Icon
                /! begin: Tite
                = link_to edit_client_product_admin_client_path(id: @client.id, product_id: client_product.id), class: 'text-dark-75 font-weight-bold mt-5 font-size-lg', remote: true do
                  = client_product.product.name
                a.text-muted.font-weight-bold = client_product.tariff_fraction
  .row
    .col-xl-12#paginator
      = paginate @products, remote: true
- else
  .not-register
    = "#{t('views.shared.text.not_records')} de #{t('activerecord.models.product.other')}."