doctype html
html
  head
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
  body
    label = "#{t('activerecord.attributes.user.username')}: #{@user.username}"
    label = "#{t('activerecord.attributes.user.password')}: #{@user.password}"