= simple_form_for [:admin, @charge], remote: true do |f|
  = f.hidden_field :chargeable_type, value: 'Shipment'
  = f.hidden_field :chargeable_id, value: @shipment.id
  = submit_tag '', class: "btn btn-primary", id: 'btn-submit-form', style: "display: none;"
  - if @type_charge == 'income'
    = f.hidden_field :apply_to_able_type
  - else
    = f.hidden_field :apply_to_able_type
  .hide-element
    = f.input :type_charge, selected: @type_charge
  .row
    .col-xl-4
      = f.association :service, collection: @services.map { |s| [s.description, s.id] }, prompt: t('views.shared.prompt.service')
    .col-xl-4
      = f.association :currency, prompt: t('views.shared.prompt.currency')
  .row
    .col-xl-12
      - if @type_charge == 'income'
        = f.input :apply_to_able_id, collection: Client.all, prompt: t('views.shared.prompt.client')
      - else
        = f.input :apply_to_able_id, collection: Supplier.all, prompt: t('views.shared.prompt.supplier')
  .row.mt-2
    .col-xl-12
      = f.input :description, placeholder: t('activerecord.attributes.charge.description')
  .row.mt-2
    .col-xl-4
      = f.association :tax, prompt: t('views.shared.prompt.tax')