.text-center
  - if @charge.type_charge == 'income'
    i.fas.fa-dollar-sign.fa-3x style="color: green !important;"
  - else
    i.fas.fa-dollar-sign.fa-3x style="color: red !important;"
  .row
    .col-xl-4
      label = t('activerecord.attributes.charge.description')
      = text_field_tag :description, @charge.description, class: 'form-control', readonly: true
    .col-xl-4
      label = t('activerecord.attributes.charge.currency')
      = text_field_tag :currency, @charge.currency.code, class: 'form-control', readonly: true
    .col-xl-4
      label = t('activerecord.attributes.charge.service')
      = text_field_tag :currency, @charge.service.description, class: 'form-control', readonly: true
  .row.mt-2
    .col-xl-8
      label = t('activerecord.attributes.charge.apply_to_able_id')
      = text_field_tag :apply_to, @charge.apply_to, class: 'form-control', readonly: true
    - if !@charge.tax.nil?
      .col-xl-4
        label = t('activerecord.attributes.charge.tax')
        = text_field_tag :tax, @charge.tax.name, class: 'form-control', readonly: true
  .row.mt-2
    .col-xl-4
      label = t('activerecord.attributes.charge.number_pieces')
      = text_field_tag :number_pieces, @charge.number_pieces, class: 'form-control', readonly: true
    .col-xl-4
      label = t('activerecord.attributes.charge.unit')
      = text_field_tag :unit, @charge.unit, class: 'form-control', readonly: true
    .col-xl-4
      label = t('activerecord.attributes.charge.price')
      = text_field_tag :price, @charge.price, class: 'form-control', readonly: true
  .row.mt-2
    .col-xl-4
      label = t('activerecord.attributes.charge.total_volume')
      = text_field_tag :total_volume, @charge.total_volume, class: 'form-control', readonly: true
    .col-xl-4
      label = t('activerecord.attributes.charge.total_weight')
      = text_field_tag :total_weight, @charge.total_weight, class: 'form-control', readonly: true
    .col-xl-4
      label = t('activerecord.attributes.charge.total')
      = text_field_tag :total, @charge.total, class: 'form-control', readonly: true