show_content_modal("<%= t("views.admin.charges.edit.title") %>", "<%= t("views.shared.buttons.update") %>", 'create');
$("#exampleModalScrollable").modal("show");
$(".modal-container").html("<%= j render partial: "admin/charges/form" %>");