show_content_modal("<%= t("views.admin.charges.show.title") %>", "false", 'show');
$("#exampleModalScrollable").modal("show");
$(".modal-container").html("<%= j render partial: "admin/charges/show" %>");