= simple_form_for [:customer, @quote], html: { class: "form fv-plugins-bootstrap fv-plugins-framework", id: "kt_form"} do |f|
  = f.hidden_field :organization_id, value: 1
  = f.hidden_field :quoted_at, value: Time.now
  = f.hidden_field :client_id, value: @client.id
  .div
    h4.mb-10.font-weight-bold.text-dark = t('views.admin.quotes.new.form.wizard.step1.subtitle1')
    .row.mt-6
      .col-xl-4.col-sm-12
        = f.input :service_mode, prompt: t('views.shared.prompt.transportation_method'), input_html: { class: 'selectpicker form-control'}
      .col-xl-4.hide-element.freight_type
        = f.association :freight_type, prompt: t('views.shared.prompt.freight_type'), :input_html => { class: 'form-control' }
    .row.mt-6
      .col-xl-4.col-sm-12
        = f.input :operation_type, prompt: t('views.shared.prompt.operation_type'), :input_html => { class: 'selectpicker form-control' }
      .col-xl-4.col-sm-12
        = f.association :incoterm, prompt: t('views.shared.prompt.incoterm'), label_method: :code, value_method: :id, input_html: { class: 'selectpicker form-control', 'data-live-search': "true" }
      .col-xl-4.col-sm-12.hide-element.service_type
        = f.input :service_type, readonly: true
    .row.mt-6
      = f.fields_for :origin_route do |ff|
        .col-xl-4.col-sm-12
          = ff.association :origin_port, input_html: { class: 'form-control selectpicker', data: { 'live-search': "true" } }
      = f.fields_for :destiny_route do |fff|
        .col-xl-4.col-sm-12
          = fff.association :destiny_port, input_html: { class: 'form-control selectpicker', data: { 'live-search': "true" } }
    .d-flex.justify-content-between.border-top.mt-5.pt-10
    /! begin::Entry
    .d-flex.flex-column-fluid
      /! begin::Container
      .container
        /! begin::Profile Personal Information
        .d-flex.flex-row.flex-center
          // = render 'map'
    div
    = f.submit button_primary, class: 'btn btn-success font-weight-bold text-uppercase px-9 py-4', 'data-wizard-type': "action-submit"
javascript:
    $(document).ready(function() {
        // $('#quote_origin_route_attributes_origin_port_id').on('change', function () {
        //   $.ajax({
        //       url: "/customer/quotes/get_port_coordinates/" + this.value,
        //       type: "get",
        //       success: function (data) {
        //           console.log(data);
        //           longitudeOriginPort = data['longitude'];
        //           latitudeOriginPort = data['latitude'];
        //
        //           marker1.setLngLat([longitudeOriginPort, latitudeOriginPort])
        //               .addTo(map);
        //       },
        //       error: function (data) {
        //       }
        //   })
        // });
        //
        // $('#quote_destiny_route_attributes_destiny_port_id').on('change', function () {
        //     $.ajax({
        //         url: "/customer/quotes/get_port_coordinates/" + this.value,
        //         type: "get",
        //         success: function (data) {
        //             console.log(data);
        //             longitudeDischargePort = data['longitude'];
        //             latitudeDischargePort = data['latitude'];
        //
        //             marker2.setLngLat([longitudeDischargePort, latitudeDischargePort])
        //                 .addTo(map);
        //     },
        //     error: function (data) {
        //     }
        //   })
        // });

        $('#quote_freight_type').on('change', function () {
            $.ajax({
                url: "/customer/quotes/set_freight_type/" + this.value,
                type: "get",
                success: function (data) {
                },
                error: function (data) {
                }
            })
        });
        $('#quote_service_mode').on('change', function () {
            $.ajax({
                url: "/customer/quotes/search_freight_types/" + this.value,
                type: "get",
                success: function (data) {
                    if (jQuery.isEmptyObject(data)) {
                        if (!$(".freight_type").hasClass('hide-element')) {
                            $(".freight_type").addClass('hide-element');
                        }
                    } else {
                        if ($(".freight_type").hasClass('hide-element')) {
                            $(".freight_type").removeClass('hide-element');
                        }
                        var listitems = ["<option value=''>Seleccione un tipo de flete</option>"];
                        $.each(data, function (key, value) {
                            listitems += '<option value="' + value.id + '">' + value.code + '</option>';
                        });
                        $("#quote_freight_type_id").empty().append(listitems);
                    }
                },
                error: function (data) {
                }
            });
        });

        $('#quote_incoterm_id').on('change', function () {
            var operation_type = document.getElementById("quote_operation_type").value;
            if (operation_type) {
                $.ajax({
                    url: "/customer/quotes/search_service_type_by_incoterm/" + this.value + "/" + operation_type,
                    type: "GET",
                    success: function (data) {
                        if (jQuery.isEmptyObject(data)) {
                            if (!$(".service_type").hasClass('hide-element')) {
                                $(".service_type").addClass('hide-element');
                            }
                        } else {
                            if ($(".service_type").hasClass('hide-element')) {
                                $(".service_type").removeClass('hide-element');
                            }
                            document.getElementById("quote_service_type").value = data['name'];
                        }
                    },
                    error: function (data) {
                    }
                })
            }
        });

        $('#quote_operation_type').on('change', function () {
            var incoterm_id =document.getElementById("quote_incoterm_id").value;
            console.log(incoterm_id);
            if (incoterm_id) {
                $.ajax({
                    url: "/customer/quotes/search_service_type_by_operation_type/" + this.value + "/" + incoterm_id,
                    type: "GET",
                    success: function (data) {
                        if (jQuery.isEmptyObject(data)) {
                            if (!$(".service_type").hasClass('hide-element')) {
                                $(".service_type").addClass('hide-element');
                            }
                        } else {
                            if ($(".service_type").hasClass('hide-element')) {
                                $(".service_type").removeClass('hide-element');
                            }
                            document.getElementById("quote_service_type").value = data['name'];
                        }
                    },
                    error: function (data) {
                    }
                })
            }
        });

    });