<div id='map' style='width: 600px; height: 300px;'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYXJvZHJpZ3VlejkyIiwiYSI6ImNrbjh1cWp3OTExZ3kyb2xnaGNiaDRzeGQifQ.j7QBl9gTvpmdm7jwAmiCZA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 1
    });

    const marker1 = new mapboxgl.Marker();
    const marker2 = new mapboxgl.Marker({
        color: "#C12403",
        draggable: true
    });
</script>