tr
  td.table-bordered-tariffs
    p.text-center = t('activerecord.attributes.quote.number')
    p.text-center
      b = quote.number
  td.table-bordered-tariffs
    p.text-center = t('activerecord.attributes.quote.description')
    p.text-center
      b = quote.description
  td.table-bordered-tariffs
    p.text-center = t('activerecord.attributes.quote.service_mode')
    p.text-center
      i class="orange-fs fa-2x fas #{icon_transportation_method(quote.service_mode)}"
  td.table-bordered-tariffs
    p.text-center = t('activerecord.attributes.rate.origin_port')
    p.text-center
      - if quote.rate.tariff.service_mode == 'aerial'
        i.fas.fa-2x.orange-fs.fa-plane-departure.mr-1
      - elsif quote.rate.tariff.service_mode == 'maritime'
        i.fas.fa-2x.orange-fs.fa-anchor.mr-1
    p.text-center
      b = quote.rate.origin_port.name
  td.table-bordered-tariffs
    p.text-center = t('activerecord.attributes.rate.discharge_port')
    p.text-center
      - if quote.rate.tariff.service_mode == 'aerial'
        i.fas.fa-2x.orange-fs.fa-plane-arrival.mr-1
      - elsif quote.rate.tariff.service_mode == 'maritime'
        i.fas.fa-2x.orange-fs.fa-anchor.mr-1
    p.text-center
      b = quote.rate.discharge_port.name
  td.table-bordered-tariffs
    p.text-center = t('activerecord.attributes.quote.total_weight')
    p.text-center
      b = quote.total_weight
  td.table-bordered-tariffs
    p.text-center = t('activerecord.attributes.quote.total_volume')
    p.text-center
      b = quote.total_volume
  td.table-bordered-tariffs
    p.text-center = t('activerecord.attributes.tariff.carrier')
    p.text-center
      - if quote.rate.tariff.carrier.logo.attached?
        = image_tag(rate.tariff.carrier.logo.service_url, width: 80, height: 80)
      - else
        i.fas.fa-3x.fa-truck
  td.table-bordered-tariffs
    p.text-center = t('activerecord.attributes.rate.transite_time')
    p.text-center
      b = "#{quote.rate.transite_time.to_s} #{t('views.shared.text.days')}"
  td.table-bordered-tariffs
    p.text-center = t('activerecord.attributes.rate.minimal_cost')
    p.text-center
      b = number_to_currency(quote.rate.minimal_cost, unit: '$', format: '%u %n')
/   td.table-bordered-tariffs style="vertical-align:middle; background: #0082CB;"
/     = link_to t('views.shared.buttons.show'), customer_quote_path(quote), class: 'link-color font-weight-bold font-size-h3'
/ tr style="height: 0.5em;"