.nested-fields
  = f.hidden_field :id
  = f.hidden_field :_destroy
  .row
    .col
      .form-group.fv-plugins-icon-container
        = f.association :product
    .col
      .form-group.fv-plugins-icon-container
        = f.association :packaging_type
    .col
      .form-group.fv-plugins-icon-container
        = f.input :number_units
    .col-xl-2
      = link_to_remove_association f do
        i.fas.fa-trash-alt.text-danger
  .row
    .col
      .form-group.fv-plugins-icon-container
        = f.input :length
    .col
      .form-group.fv-plugins-icon-container
        = f.input :height
    .col
      .form-group.fv-plugins-icon-container
        = f.input :width
    .col
      .form-group.fv-plugins-icon-container
        = f.input :weight
    .col
      .form-group.fv-plugins-icon-container
        = f.input :volume
