.table-responsive
  table.table style="border-spacing: 2px;"
    tbody#rates-minimal-cost
      - unless @minimal_cost.blank?
        div.ribbon.ribbon-left.ribbon-ver
          .ribbon-target.bg-warning style=("top: 45px; left: -2px;")
            i.fa.fa-star.text-white
        tr
          td.table-bordered-best-tariffs
            p.text-center = t('activerecord.attributes.tariff.service_mode')
            p.text-center
              i class="orange-fs fa-2x fas #{icon_transportation_method(@minimal_cost.tariff.service_mode)}"
          td.table-bordered-best-tariffs
            p.text-center = t('activerecord.attributes.tariff.carrier')
            p.text-center
              - if @minimal_cost.tariff.carrier.logo.attached?
                = image_tag(@minimal_cost.tariff.carrier.logo.service_url, width: 80, height: 80)
              - else
                i.fas.fa-3x.fa-truck
          td.table-bordered-best-tariffs
            p.text-center = t('activerecord.attributes.rate.origin_port')
            p.text-center
              - if @minimal_cost.tariff.service_mode == 'aerial'
                i.fas.fa-2x.orange-fs.fa-plane-departure.mr-1
              - elsif @minimal_cost.tariff.service_mode == 'maritime'
                i.fas.fa-2x.orange-fs.fa-anchor.mr-1
            p.text-center
              b = @minimal_cost.origin_port.name
            td.table-bordered-best-tariffs
              p.text-center = t('activerecord.attributes.rate.discharge_port')
              p.text-center
                - if @minimal_cost.tariff.service_mode == 'aerial'
                  i.fas.fa-2x.orange-fs.fa-plane-arrival.mr-1
                - elsif @minimal_cost.tariff.service_mode == 'maritime'
                  i.fas.fa-2x.orange-fs.fa-anchor.mr-1
              p.text-center
                b = @minimal_cost.discharge_port.name
          td.table-bordered-best-tariffs
            p.text-center = t('activerecord.attributes.rate.frequency')
            p.text-center
              b = t("enums.rate.frequency.#{@minimal_cost.frequency}")
          td.table-bordered-best-tariffs
            p.text-center = t('activerecord.attributes.rate.transite_time')
            p.text-center
              b = "#{@minimal_cost.transite_time.to_s} #{t('views.shared.text.days')}"
          td.table-bordered-best-tariffs
            p.text-center = t('activerecord.attributes.rate.minimal_cost')
            p.text-center
              b = number_to_currency(@minimal_cost.minimal_cost, unit: '$', format: '%u %n')
          td.table-bordered-best-tariffs style="vertical-align:middle; background: #26C281 ;"
            = link_to t('views.shared.buttons.select'), wizard_path(:quote_units, rate_id: @minimal_cost.id, quote_id: @quote.id), class: 'link-color font-weight-bold font-size-h3'
        tr style="height: 0.5em;"