.table-responsive.mt-4
  table.table style="border-spacing: 2px;"
    tbody#rates
      - unless @rates.blank?
        - @rates.each do |rate|
          tr
            td.table-bordered-tariffs
              p.text-center = t('activerecord.attributes.tariff.service_mode')
              p.text-center
                i class="orange-fs fa-2x fas #{icon_transportation_method(rate.tariff.service_mode)}"
            td.table-bordered-tariffs
              p.text-center = t('activerecord.attributes.tariff.carrier')
              p.text-center
                - if rate.tariff.carrier.logo.attached?
                  = image_tag(rate.tariff.carrier.logo.service_url, width: 80, height: 80)
                - else
                  i.fas.fa-3x.fa-truck
            td.table-bordered-tariffs
              p.text-center = t('activerecord.attributes.rate.origin_port')
              p.text-center
                - if rate.tariff.service_mode == 'aerial'
                  i.fas.fa-2x.orange-fs.fa-plane-departure.mr-1
                - elsif rate.tariff.service_mode == 'maritime'
                  i.fas.fa-2x.orange-fs.fa-anchor.mr-1
              p.text-center
                b = rate.origin_port.name
              td.table-bordered-tariffs
                p.text-center = t('activerecord.attributes.rate.discharge_port')
                p.text-center
                  - if rate.tariff.service_mode == 'aerial'
                    i.fas.fa-2x.orange-fs.fa-plane-arrival.mr-1
                  - elsif rate.tariff.service_mode == 'maritime'
                    i.fas.fa-2x.orange-fs.fa-anchor.mr-1
                p.text-center
                  b = rate.discharge_port.name
            td.table-bordered-tariffs
              p.text-center = t('activerecord.attributes.rate.frequency')
              p.text-center
                b = t("enums.rate.frequency.#{rate.frequency}")
            td.table-bordered-tariffs
              p.text-center = t('activerecord.attributes.rate.transite_time')
              p.text-center
                b = "#{rate.transite_time.to_s} #{t('views.shared.text.days')}"
            td.table-bordered-tariffs
              p.text-center = t('activerecord.attributes.rate.minimal_cost')
              p.text-center
                b = number_to_currency(rate.minimal_cost, unit: '$', format: '%u %n')
            td.table-bordered-tariffs style="vertical-align:middle; background: #0082CB;"
              = link_to t('views.shared.buttons.select'), wizard_path(:quote_units, rate_id: rate.id, quote_id: @quote.id), class: 'link-color font-weight-bold font-size-h3'
          tr style="height: 0.5em;"