= render 'shared/customer/subheader', custom_button: false, new_button: true, new_button_route: new_customer_quote_path
.d-flex.flex-column-fluid
  .container
    .row
      .col-xl-12
        .card.card-custom.gutter-b
          .card-body
            = render 'collection'