= render 'shared/customer/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: customer_quotes_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  .container
    .div.row
      .div.col-lg-6
        = simple_form_for @quote, url: wizard_path do |f|
          = f.hidden_field :id, value: @quote.id
          = hidden_field_tag :resource, @quote.id
          = hidden_field_tag :resource_name, 'Quote'
          = f.hidden_field :frequency, value: @quote.rate.frequency
          - @optional_services.each do |category, services|
            .card.card-custom.card-stretch
              .card-header
                .card-title
                  h3.card-label = t("views.customer.quotes.optional_services.#{category}")
              .card-body.card-fit#prueba
                .form-group
                  .checkbox-list
                    = f.collection_check_boxes :optional_service_ids, services, :id, :name_label
          = f.submit t('views.shared.buttons.next'), class: 'btn btn-success font-weight-bold text-uppercase px-9 py-4', 'data-wizard-type': "action-submit"
      .div.col-lg-6
        .card.card-custom.bg-gray-100
          .card-header.border-0
            .card-title
              span.card-icon
                i.fas.fa-calculator
              h3.card-label = t("views.customer.quotes.new.summary")
              b= @quote.number
          .separator.separator-solid
          .card-body
            .row
              label.col-6.font-weight-boldest.align-middle
                = t("views.customer.quotes.new.origin_zip_code")
              span.col-6.text-primary.text-right.align-middle#origin_zip_code
                | 25312
            .row
              label.col-6.font-weight-boldest.align-middle
                = t("views.customer.quotes.new.origin_port")
              span.col-6.text-primary.text-right.align-middle#origin_port
                = @quote.origin_route.origin_port.name
            .row
              label.col-6.font-weight-boldest.align-middle
                = t("views.customer.quotes.new.port_via")
              span.col-6.text-primary.text-right.align-middle#port_via
                = @quote.rate.via
            .row
              label.col-6.font-weight-boldest.align-middle
                = t("views.customer.quotes.new.discharge_port")
              span.col-6.text-primary.text-right.align-middle#discharge_port
                = @quote.destiny_route.destiny_port.name
            .row
              label.col-6.font-weight-boldest.align-middle
                = t("views.customer.quotes.new.transite_time")
              span.col-6.text-primary.text-right.align-middle#transite_time
                = @quote.rate.transite_time
                |  days
            .row
              label.col-6.font-weight-boldest.align-middle
                = t("views.customer.quotes.new.frequency")
              span.col-6.text-primary.text-right.align-middle#frequency
                = t("enums.rate.frequency.#{@quote.rate.frequency}")
            .row
              label.col-6.font-weight-boldest.align-middle
                = t("views.customer.quotes.new.started_at")
              span.col-6.text-primary.text-right.align-middle#started_at
                = @quote.rate.tariff.started_at.strftime("%d-%m-%Y")
            .row
              label.col-6.font-weight-boldest.align-middle
                = t("views.customer.quotes.new.containers")
              span.col-6.text-primary.text-right.align-middle#containers
                | 1 x DV20
            .row
              label.col-6.font-weight-boldest.align-middle
                = t("views.customer.quotes.new.incoterm")
              span.col-6.text-primary.text-right.align-middle#insurance
                = @quote.incoterm.code
          .card-header.border-0
            .card-title
              span.card-icon
                i.fas.fa-file-invoice-dollar
              h3.card-label = t("views.customer.quotes.new.prices")
          .separator.separator-solid
          .card-body#prices
          .card-body
            .row
              label.col-6.font-weight-boldest.align-middle
                = t("views.customer.quotes.new.minimal_cost")
              span.minimal_cost.col-6.text-primary.text-right.align-middle
                = @quote.rate.minimal_cost
            .separator.separator-solid
            .row
              label.col-6.font-weight-boldest.align-middle
                = t("views.customer.quotes.new.total")
              span.total.col-6.text-primary.text-right.align-middle
                = @total_cost
javascript:
    $(document).ready(function () {
        $("input[id='quote_optional_service_ids_1']").click(function () {
            if($("input[id='quote_optional_service_ids_1']").is(":checked"))
            {
                if(!document.getElementById("merchandise")) {
                    $("#prueba").append("<div class='form-group' id='merchandise'><label class='col-6 font-weight-boldest align-middle'>Agregar el valor de la mercancia</label>" +
                        "<input name='quote[declared_value]' id='value_merchandise'\></div>");
                }
                else{
                    $("#merchandise").show();
                }
            }
            else{
                $("#merchandise").hide();
            }
        })
        $("input[type='checkbox']").click(function () {
            $("#msg").html(" ");
            $("#total").html(" ");
            $("#prices").html(" ");

            var total_cost = parseFloat(document.getElementsByClassName("minimal_cost")[0].innerHTML);
            document.getElementsByClassName("total")[0].innerHTML = total_cost;
            $("input[type='checkbox']:checked").each(function () {
                $.ajax({
                    url: "/customer/quotes/get_optional_service/" + $(this).val(),
                    type: "get",
                    success: function (data) {
                        total_cost = total_cost + parseFloat(data['cost']);
                        $("#prices").append("<div class='row'><label class='col-6 font-weight-boldest align-middle'>" + data['name_label'] +
                            "</label> <span class='col-6 text-primary text-right align-middle'>" + data['cost'] + "</span></div>");
                        document.getElementsByClassName("total")[0].innerHTML = total_cost;
                    },
                    error: function (data) {
                    }
                })

            });
        })

    });