.d-flex.flex-column-fluid
  .container
    .div.row
      .div.col-lg-12
        = simple_form_for @quote, url: wizard_path, method: :put do |f|
          = f.hidden_field :id, value: @quote.id
          = hidden_field_tag :resource, @quote.id
          = hidden_field_tag :resource_name, 'Quote'
          = f.hidden_field :frequency, value: @quote.rate.frequency
          .card.card-custom
            .card-header
              .card-title
                h3.card-label = t("views.customer.quotes.quote_units")
            .card-body#quote_unit
              .form-group.row
                .d-flex.flex-row.flex-root
                  label.col-form-label.text-right = t('activerecord.attributes.quote.number')
                  .col-lg-6.col-xl-3
                    input.form-control.form-control-lg.form-control-solid  value = @quote.number
              .card.card-border
                .card-body#quote_units
                    = f.simple_fields_for :quote_units do |quote_unit|
                      = render 'quote_unit_fields', f: quote_unit
                .card-footer
                  .links
                    = link_to_add_association f, :quote_units do
                      i.fas.fa-plus-circle.fs
                      = t('views.shared.buttons.add')
          = f.submit t('views.shared.buttons.next'), class: 'btn btn-success font-weight-bold text-uppercase px-9 py-4', 'data-wizard-type': "action-submit"