= render 'shared/customer/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: customer_quotes_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  .container
    .card.card-custom.gutter-bs
      .card-header.card-header-tabs-line
        .card-toolbar
          ul.nav.nav-tabs.nav-tabs-space-lg.nav-tabs-line.nav-tabs-bold.nav-tabs-line-3x role="tablist"
            li.nav-item.mr-3
              a.nav-link.active data-toggle="tab" href="#kt_apps_quote_view_tab_1"
                span.nav-icon.mr-2
                  span.svg-icon.mr-3
                    i.fas.fa-calculator.fa6-aside-icon
                span.nav-text.font-weight-bold = t('views.admin.quotes.show.tabs.general.title')
      .card-body.px-0
        .tab-content.pt-5
          .tab-pane.active#kt_apps_quote_view_tab_1 role="tabpanel"
            .container
              form.form
                .row
                  .col-lg-12
                    .container-fluid.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
                      .d-flex.align-items-center.flex-wrap.mr-1
                        .d-flex.align-items-baseline.flex-wrap.mr-5
                          h5.text-dark.font-weight-bold.my-1.mr-5.mb-4 = t('views.admin.quotes.show.tabs.general.subtitle1')
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-1.col-lg-1.col-form-label.text-right = t('activerecord.attributes.quote.number')
                    .col-lg-6.col-xl-3
                      input.form-control.form-control-lg.form-control-solid  value = @quote.number
                .d-flex.flex-row.flex-root
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.operation_type')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid  value = @quote.operation_type
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.quoted_at')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value= (@quote.quoted_at.blank? ? '' : @quote.quoted_at.strftime("%m/%d/%Y %R"))
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.expired_at')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value= (@quote.expired_at.blank? ? '' : @quote.expired_at.strftime("%m/%d/%Y %R"))
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.frequency')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value =  t("enums.quote.frequency.#{@quote.frequency}")
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.free_day_of_delay')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value = @quote.free_day_of_delay
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.declared_value')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value = @quote.declared_value
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.description')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value = @quote.description
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.text-right.col-form-label = t("activerecord.attributes.quote.danger_item")
                    .col-lg-9.col-xl-6
                      = check_box_tag :danger_item, 'yes', @quote.danger_item, disabled: true
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.text-right.col-form-label = t("activerecord.attributes.quote.guarantee_letter")
                    .col-lg-9.col-xl-6
                      = check_box_tag :guarantee_letter, 'yes', @quote.guarantee_letter, disabled: true
    = link_to t('views.shared.buttons.finish'), Wicked::FINISH_STEP, class: 'btn btn-success font-weight-bold text-uppercase px-9 py-4'