= render 'shared/customer/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: customer_quotes_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
- unless @rates.blank?
  .d-flex.flex-column-fluid
    .container
      .row
        .col-xl-12
          .card
            .card-body
              = render 'rate_minimal_cost'
      .row
        .col-xl-12
          .card
            .card-body
              = render 'rate_cost_benefit'
      .row.mb-2
        .col-xl-12
          .card.card-custom.gutter-b
            .card-body#rates
              = render 'rate'
- else
  .not-register
    = "#{t('views.shared.text.not_records')} de #{t('activerecord.models.rate.other')}."
