ul.breadcrumb.breadcrumb-transparent.breadcrumb-dot.font-weight-bold.p-0.my-2.font-size-sm
  - if controller?('admin/dashboard') && action?('show')
    li.breadcrumb-item.active aria-current="page"
      span.text-muted Dashboard
  - else
    li.breadcrumb-item
      = link_to 'Dashboard', admin_root_path, class: 'text-muted'
  - @breadcrumbs.each do |breadcrumb|
    - if breadcrumb[:path].nil?
      li.breadcrumb-item.active aria-current="page"
        span.text-muted = breadcrumb[:label]
    - else
      li.breadcrumb-item
        = link_to breadcrumb[:label], breadcrumb[:path], class: 'text-muted'