/! begin::Chat Panel
#kt_chat_modal.modal.modal-sticky.modal-sticky-bottom-right style="display: none;" data-backdrop="false" role="dialog"
  .modal-dialog role="document"
    .modal-content
      /! begin::Card
      .card.card-custom
        /! begin::Header
        .card-header.align-items-center.px-4.py-3
          .text-left.flex-grow-1
            /! begin::Dropdown Menu
            .dropdown.dropdown-inline
              button.btn.btn-clean.btn-sm.btn-icon.btn-icon-md aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button"
                span.svg-icon.svg-icon-lg
                  /! begin::Svg Icon | path:assets/media/svg/icons/Communication/Add-user.svg
                  svg height="24px" version="1.1" viewbox=("0 0 24 24") width="24px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"
                      polygon points=("0 0 24 0 24 24 0 24") /
                      path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" /
                      path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" /
              /! end::Svg Icon
              .dropdown-menu.p-0.m-0.dropdown-menu-right.dropdown-menu-md
                = render 'shared/chat_menu'
          /! end::Dropdown Menu
          .text-center.flex-grow-1
            .text-dark-75.font-weight-bold.font-size-h5 = current_user.employee.name.familiar
            div
              span.label.label-dot.label-success
              span.font-weight-bold.text-muted.font-size-sm  = t('views.shared.chat.active')
          .text-right.flex-grow-1
            button.btn.btn-clean.btn-sm.btn-icon.btn-icon-md data-dismiss="modal" type="button"
              i.ki.ki-close.icon-1x
        /! end::Header
        /! begin::Body
        .card-body
          /! begin::Scroll
          .scroll.scroll-pull data-height="375" data-mobile-height="300"
            /! begin::Messages
            .messages
              /! begin::Message In
              .d-flex.flex-column.mb-5.align-items-start
                .d-flex.align-items-center
                  .symbol.symbol-circle.symbol-40.mr-3
                    img alt="Pic" src="assets/media/users/300_12.jpg" /
                  div
                    a.text-dark-75.text-hover-primary.font-weight-bold.font-size-h6 href="#" = current_user.employee.name.familiar
                    span.text-muted.font-size-sm 2 Hours
                .mt-2.rounded.p-5.bg-light-success.text-dark-50.font-weight-bold.font-size-lg.text-left.max-w-400px How likely are you to recommend our company to your friends and family?
              /! end::Message In
              /! begin::Message Out
              .d-flex.flex-column.mb-5.align-items-end
                .d-flex.align-items-center
                  div
                    span.text-muted.font-size-sm 3 minutes
                    a.text-dark-75.text-hover-primary.font-weight-bold.font-size-h6 href="#"  You
                  .symbol.symbol-circle.symbol-40.ml-3
                    img alt="Pic" src="assets/media/users/300_21.jpg" /
                .mt-2.rounded.p-5.bg-light-primary.text-dark-50.font-weight-bold.font-size-lg.text-right.max-w-400px Hey there, we’re just writing to let you know that you’ve been subscribed to a repository on GitHub.
              /! end::Message Out
              /! begin::Message In
              .d-flex.flex-column.mb-5.align-items-start
                .d-flex.align-items-center
                  .symbol.symbol-circle.symbol-40.mr-3
                    img alt="Pic" src="assets/media/users/300_21.jpg" /
                  div
                    a.text-dark-75.text-hover-primary.font-weight-bold.font-size-h6 href="#"  = current_user.employee.name.familiar
                    span.text-muted.font-size-sm 40 seconds
                .mt-2.rounded.p-5.bg-light-success.text-dark-50.font-weight-bold.font-size-lg.text-left.max-w-400px Ok, Understood!
              /! end::Message In
              /! begin::Message Out
              .d-flex.flex-column.mb-5.align-items-end
                .d-flex.align-items-center
                  div
                    span.text-muted.font-size-sm Just now
                    a.text-dark-75.text-hover-primary.font-weight-bold.font-size-h6 href="#"  You
                  .symbol.symbol-circle.symbol-40.ml-3
                    img alt="Pic" src="assets/media/users/300_21.jpg" /
                .mt-2.rounded.p-5.bg-light-primary.text-dark-50.font-weight-bold.font-size-lg.text-right.max-w-400px You’ll receive notifications for all issues, pull requests!
              /! end::Message Out
              /! begin::Message In
              .d-flex.flex-column.mb-5.align-items-start
                .d-flex.align-items-center
                  .symbol.symbol-circle.symbol-40.mr-3
                    img alt="Pic" src="assets/media/users/300_12.jpg" /
                  div
                    a.text-dark-75.text-hover-primary.font-weight-bold.font-size-h6 href="#"  = current_user.employee.name.familiar
                    span.text-muted.font-size-sm 40 seconds
                .mt-2.rounded.p-5.bg-light-success.text-dark-50.font-weight-bold.font-size-lg.text-left.max-w-400px
                  | You can unwatch this repository immediately by clicking here:
                  a href="#"  https://github.com
              /! end::Message In
              /! begin::Message Out
              .d-flex.flex-column.mb-5.align-items-end
                .d-flex.align-items-center
                  div
                    span.text-muted.font-size-sm Just now
                    a.text-dark-75.text-hover-primary.font-weight-bold.font-size-h6 href="#"  You
                  .symbol.symbol-circle.symbol-40.ml-3
                    img alt="Pic" src="assets/media/users/300_21.jpg" /
                .mt-2.rounded.p-5.bg-light-primary.text-dark-50.font-weight-bold.font-size-lg.text-right.max-w-400px Discover what students who viewed Learn Figma - UI/UX Design. Essential Training also viewed
              /! end::Message Out
              /! begin::Message In
              .d-flex.flex-column.mb-5.align-items-start
                .d-flex.align-items-center
                  .symbol.symbol-circle.symbol-40.mr-3
                    img alt="Pic" src="assets/media/users/300_12.jpg" /
                  div
                    a.text-dark-75.text-hover-primary.font-weight-bold.font-size-h6 href="#" = current_user.employee.name.familiar
                    span.text-muted.font-size-sm 40 seconds
                .mt-2.rounded.p-5.bg-light-success.text-dark-50.font-weight-bold.font-size-lg.text-left.max-w-400px Most purchased Business courses during this sale!
              /! end::Message In
              /! begin::Message Out
              .d-flex.flex-column.mb-5.align-items-end
                .d-flex.align-items-center
                  div
                    span.text-muted.font-size-sm Just now
                    a.text-dark-75.text-hover-primary.font-weight-bold.font-size-h6 href="#"  You
                  .symbol.symbol-circle.symbol-40.ml-3
                    img alt="Pic" src="assets/media/users/300_21.jpg" /
                .mt-2.rounded.p-5.bg-light-primary.text-dark-50.font-weight-bold.font-size-lg.text-right.max-w-400px Company BBQ to celebrate the last quater achievements and goals. Food and drinks provided
        /! end::Message Out
        /! end::Messages
        /! end::Scroll
        /! end::Body
        /! begin::Footer
        .card-footer.align-items-center
          /! begin::Compose
          textarea.form-control.border-0.p-0 placeholder=("Type a message") rows="1"
        /! end::Footer
        /! end::Card
      /! end::Chat Panel
