/! begin::Navigation
ul.navi.navi-hover.py-5
  li.navi-item
    a.navi-link href="#"
      span.navi-icon
        i.flaticon2-drop
      span.navi-text New Group
  li.navi-item
    a.navi-link href="#"
      span.navi-icon
        i.flaticon2-list-3
      span.navi-text Contacts
  li.navi-item
    a.navi-link href="#"
      span.navi-icon
        i.flaticon2-rocket-1
      span.navi-text Groups
      span.navi-link-badge
        span.label.label-light-primary.label-inline.font-weight-bold new
  li.navi-item
    a.navi-link href="#"
      span.navi-icon
        i.flaticon2-bell-2
      span.navi-text Calls
  li.navi-item
    a.navi-link href="#"
      span.navi-icon
        i.flaticon2-gear
      span.navi-text Settings
  li.navi-separator.my-3
  li.navi-item
    a.navi-link href="#"
      span.navi-icon
        i.flaticon2-magnifier-tool
      span.navi-text Help
  li.navi-item
    a.navi-link href="#"
      span.navi-icon
        i.flaticon2-bell-2
      span.navi-text Privacy
      span.navi-link-badge
        span.label.label-light-danger.label-rounded.font-weight-bold 5
          /! end::Navigation