.dropdown-menu.p-0.m-0.dropdown-menu-md.dropdown-menu-right.py-3
  /! begin::Navigation
  ul.navi.navi-hover.py-5
    //li.navi-item
      //a.navi-link href="#"
        //span.navi-icon
          //i.flaticon2-drop
        //span.navi-text New
    //li.navi-item
      //a.navi-link href="#"
        //span.navi-icon
          //i.flaticon2-list-3
        //span.navi-text Exportar
    li.navi-item
      a.navi-link data-target="#manage_column_modal" data-toggle="modal"
        span.navi-icon
          i.flaticon2-gear
        span.navi-text Manage Columns
    li.navi-separator.my-3

  /! end::Navigation
/! end::Dropdowns
