.dropdown.dropdown-inline.mr-2
  button.btn.btn-sm.btn-primary.font-weight-bolder.dropdown-toggle type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    span.svg-icon.svg-icon-md
      = render 'shared/icons/download'
      = t('views.shared.buttons.export')
  .dropdown-menu.dropdown-menu-sm.dropdown-menu-right
    ul.navi.flex-column.navi-hover.py-2
      li.navi-item
        = link_to admin_clients_path(format: :pdf), target: "_blank", class: 'navi-link' do
          span.navi-icon
            i.la.la-file-pdf-o
          span.navi-text PDF    
