#filterModal.modal.fade aria-hidden="true" aria-labelledby="filterModalTitle" role="dialog" tabindex="-1"
  .modal-dialog role="document"
    .modal-content
      .modal-header
        h5#filterModalTitle.modal-title = t('views.shared.text.filter_by')
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
      - if  controller?('admin/clients')
        = render 'admin/clients/filter_form'