/! begin::Chat Panel
#manage_column_modal.modal.fade.bd-example-modal-sm aria-hidden="true" aria-labelledby="manageColumnModalTitle" role="dialog" tabindex="-1"
  .modal-dialog.modal-sm role="document"
    .modal-content
      .modal-header.flex-column
        .modal-title#filterModalTitle = t('views.shared.text.select_columns')
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true" &times;
        input#myInput onkeyup="myFunction()" placeholder=("Buscar por nombre..") title=("Buscar por nombre") type="text"
      .modal-body  style="max-height: calc(100vh - 300px); overflow-y: auto; "
        .checkbox-list#columns_list
          - @all_columns.each do |column_name|
            .d-flex.d-inline-flex
              input name=column_name type="checkbox"
              span = t('views.admin.clients.index.collections.' + column_name)
      .modal-footer
        button.btn.btn-secondary data-dismiss="modal" type="button" = t('views.shared.buttons.close')
javascript:
    function myFunction() {
        var input, filter, list, div, span, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        list = document.getElementById("columns_list");
        div = list.getElementsByTagName("div");
        for (i = 0; i < div.length; i++) {
            span = div[i].getElementsByTagName("span")[0];
            input = div[i].getElementsByTagName("input")[0];
            if (span) {
                if (span.innerText.toUpperCase().indexOf(filter) > -1) {
                    div[i].style.display = "";
                    span.style.display = "";
                    input.style.display = "";
                } else {
                    div[i].style.display = "none";
                    span.style.display = "none";
                    input.style.display = "none";
                }
            }
        }
    }