div class="message alert alert-custom #{class_name} fade show mb-5" role="alert" style="background-color: white"
    .alert-icon
        i.flaticon2-warning
    .alert-text
        - if msg.instance_of?(Array)
            - msg.each do |m|
                = m
                br
        - else
            = msg
    .alert-close
        button type="button" class="" data-dismiss="alert" aria-label="Close"
            span aria-hidden="true"
                i.ki.ki-close
javascript:
    $(document).ready(function() {
        setTimeout(function () {
            $(".message").fadeOut(1500);
        }, 3000);
    });