.modal.fade#exampleModalScrollable data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true"
  .modal-dialog.modal-dialog-centered.modal-lg#modal-dg role="document"
    .modal-content
      .modal-header
        h5 class="modal-title" id="modal_title" Title
        button type="button" class="close" data-dismiss="modal" aria-label="Close"
          i.ki.ki-close aria-hidden="true"
      .modal-body
        .modal-container
      .modal-footer
        button#btn_close_modal type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal" = t('views.shared.buttons.cancel')
        button#btn_no_modal type="button" style="display: none;" class="btn btn-danger font-weight-bold" data-dismiss="modal" No
        button#btn_submit_modal type="button" class="btn btn-success font-weight-bold" Save changes
        button#btn_yes_modal style="display: none;" type="button" class="btn btn-success font-weight-bold" = t('views.shared.buttons.yes')
