/ begin::aside
.aside.aside-left.aside-fixed.d-flex.flex-column.flex-row-auto#kt_aside
  / begin::brand
  .brand.flex-column-auto
    / begin::logo
    = link_to admin_root_path, class: 'brand-logo' do
      = image_tag('logo.png', alt: 'Logo')
    / end::logo
    / begin::toggle
    button.brand-toggle.btn.btn-sm.px-0#kt_aside_toggle
      span.svg-icon.svg-icon.svg-icon-xl
        = render 'shared/icons/toggle'
    / end::toggle
  / end::brand
  / begin::Aside Menu
  .aside-menu-wrapper.flex-column-fluid#kt_aside_menu_wrapper
    / begin::Menu Container
    .aside-menu.my-4#kt_aside_menu data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500"
      / begin::Menu Nav
      ul.menu-nav
        li.menu-item class="#{'menu-item-active' if controller?('admin/dashboard') && action?('show')}" aria-haspopup="true"
          = link_to admin_root_path, class: 'menu-link' do
            span.svg-icon.menu-icon
              = render 'shared/icons/dashboard'
            span.menu-text Dashboard
        li.menu-item class="#{'menu-item-active' if controller?('admin/agents') && action?('index')}" aria-haspopup="true"
          = link_to admin_agents_path, class: 'menu-link' do
            span.svg-icon.menu-icon
              i.fas.fa-truck-pickup.fa6-aside-icon
            span.menu-text = t('views.shared.sidebar.agents')
        li.menu-item class="#{'menu-item-active' if controller?('admin/middlemen') && action?('index')}" aria-haspopup="true"
          = link_to admin_middlemen_path, class: 'menu-link' do
            span.svg-icon.menu-icon
              = render 'shared/icons/contact'
            span.menu-text = t('views.shared.sidebar.middlemen')
        li.menu-item class="#{'menu-item-active' if controller?('admin/clients') && action?('index')}" aria-haspopup="true"
          = link_to admin_clients_path, class: 'menu-link' do
            span.svg-icon.menu-icon
              = render 'shared/icons/client_icon'
            span.menu-text = t('views.shared.sidebar.clients')
        li.menu-item class="#{'menu-item-active' if controller?('admin/suppliers') && action?('index')}" aria-haspopup="true"
          = link_to admin_suppliers_path, class: 'menu-link' do
            span.svg-icon.menu-icon
              = render 'shared/icons/supplier_icon'
            span.menu-text = t('views.shared.sidebar.suppliers')
        li.menu-item class="#{'menu-item-active' if controller?('admin/quotes') && action?('index')}" aria-haspopup="true"
          = link_to admin_quotes_path, class: 'menu-link' do
            span.svg-icon.menu-icon
              i.fas.fa-calculator.fa6-aside-icon
            span.menu-text = t('views.shared.sidebar.quotes')
        li.menu-item class="#{'menu-item-active' if controller?('admin/shipments') && action?('index')}" aria-haspopup="true"
          = link_to admin_shipments_path, class: 'menu-link' do
            span class="svg-icon menu-icon"
              i.fas.fa-ship.fa6-aside-icon
            span class="menu-text" = t('activerecord.models.shipment.other')
        li.menu-item class="#{'menu-item-active' if controller?('admin/maritime_carriers') && action?('index')}" aria-haspopup="true"
          = link_to admin_tariffs_path, class: 'menu-link' do
            span class="svg-icon menu-icon"
              i.fas.fa-dollar-sign.fa6-aside-icon
            span class="menu-text" = t('activerecord.models.tariffs.other')
        li.menu-section
          h4.menu-text Custom
          i.menu-icon.ki.ki-bold-more-hor.icon-md
        li.menu-item.menu-item-submenu aria-haspopup="true" data-menu-toggle="hover"
          a.menu-link.menu-toggle href="javascript:;"
            span class="svg-icon menu-icon"
              = render 'shared/icons/apps'
            span class="menu-text" = t('views.shared.sidebar.application')
            i.menu-arrow
          .menu-submenu
            i.menu-arrow
            ul.menu-subnav
              li.menu-item aria-haspopup="true"
                = link_to admin_root_path, class: 'menu-link' do
                  i.menu-bullet.menu-bullet-line
                    span
                  span.menu-text = t('views.shared.sidebar.back_to_app')

        - if current_user.admin?
          li.menu-section
            h4.menu-text Admin
            i.menu-icon.ki.ki-bold-more-hor.icon-md
          li.menu-item class="#{'menu-item-active' if controller?('admin/roles') && action?('index')}" aria-haspopup="true"
            = link_to admin_roles_path, class: 'menu-link' do
              span.svg-icon.menu-icon
                = render 'shared/icons/account'
              span.menu-text = t('activerecord.models.role.other')
          li.menu-item class="#{'menu-item-active' if controller?('admin/users') && action?('index')}" aria-haspopup="true"
            = link_to admin_users_path, class: 'menu-link' do
              span.svg-icon.menu-icon
                = render 'shared/icons/users'
              span.menu-text = t('views.shared.sidebar.users')

          li.menu-item.menu-item-submenu aria-haspopup="true" data-menu-toggle="hover"
            a.menu-link.menu-toggle href="javascript:;"
              span class="svg-icon menu-icon"
                = render 'shared/icons/tools'
              span class="menu-text" = t('views.shared.sidebar.settings')
              i.menu-arrow
            .menu-submenu
              i.menu-arrow
              ul.menu-subnav
                li.menu-item aria-haspopup="true"
                  = link_to admin_containers_path, class: 'menu-link' do
                    i.menu-bullet.menu-bullet-line
                      span
                    span.menu-text = t('activerecord.models.container.other')
                li.menu-item aria-haspopup="true"
                  = link_to admin_criteria_path, class: 'menu-link' do
                    i.menu-bullet.menu-bullet-line
                      span
                    span.menu-text = t('activerecord.models.criterium.other')
                li.menu-item aria-haspopup="true"
                  = link_to admin_services_path, class: 'menu-link' do
                    i.menu-bullet.menu-bullet-line
                      span
                    span.menu-text = t('views.shared.sidebar.services')
                li.menu-item aria-haspopup="true"
                  = link_to admin_packaging_types_path, class: 'menu-link' do
                    i.menu-bullet.menu-bullet-line
                      span
                    span.menu-text = t('views.shared.sidebar.packaging')
                li.menu-item aria-haspopup="true"
                  = link_to admin_taxes_path, class: 'menu-link' do
                    i.menu-bullet.menu-bullet-line
                      span
                    span.menu-text = t('views.shared.sidebar.taxes')
                li.menu-item aria-haspopup="true"
                  = link_to admin_ports_path, class: 'menu-link' do
                    i.menu-bullet.menu-bullet-line
                      span
                    span.menu-text = t('views.shared.sidebar.ports')
                li.menu-item aria-haspopup="true"
                  = link_to admin_documents_path, class: 'menu-link' do
                    i.menu-bullet.menu-bullet-line
                      span
                    span.menu-text = t('views.shared.sidebar.documents')


      / end::Menu Nav
    / end::Menu Container
  / end::Aside Menu