/! begin::Sticky Toolbar
ul.sticky-toolbar.nav.flex-column.pl-2.pr-2.pt-3.pb-3.mt-4
  /! begin::Item
  li#kt_demo_panel_toggle.nav-item.mb-2 data-placement="right" data-toggle="tooltip" title=("Check out more demos")
    a.btn.btn-sm.btn-icon.btn-bg-light.btn-icon-success.btn-hover-success href="#"
      i.flaticon2-drop
  /! end::Item
  /! begin::Item
  li.nav-item.mb-2 data-placement="left" data-toggle="tooltip" title=("Layout Builder")
    a.btn.btn-sm.btn-icon.btn-bg-light.btn-icon-primary.btn-hover-primary href="https://keenthemes.com/metronic/preview/demo1/builder.html" target="_blank"
      i.flaticon2-gear
  /! end::Item
  /! begin::Item
  li.nav-item.mb-2 data-placement="left" data-toggle="tooltip" title="Documentation"
    a.btn.btn-sm.btn-icon.btn-bg-light.btn-icon-warning.btn-hover-warning href="https://keenthemes.com/metronic/?page=docs" target="_blank"
      i.flaticon2-telegram-logo
  /! end::Item
  /! begin::Item
  li#kt_sticky_toolbar_chat_toggler.nav-item data-placement="left" data-toggle="tooltip" title=("Chat Example")
    a.btn.btn-sm.btn-icon.btn-bg-light.btn-icon-danger.btn-hover-danger data-target="#kt_chat_modal" data-toggle="modal" href="#"
      i.flaticon2-chat-1
        /! end::Item
      /! end::Sticky Toolbar