.subheader.py-2.py-lg-4.subheader-solid#kt_subheader
  .container-fluid.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
    .d-flex.align-items-center.flex-wrap.mr-2
      h5.text-dark.font-weight-bold.mt-2.mb-2.mr-5
        = render 'shared/breadcrumbs'
    .d-flex.align-items-center
      - if custom_button
        = render 'shared/buttons/custom_actions_button'
      - if back_button
        = link_to(back_button_route, class: 'btn btn-sm btn-primary font-weight-bolder mr-2') do
          span.svg-icon.svg-icon-md
            = render 'shared/icons/back'
            = t('views.shared.buttons.back')
      - if action?('index')
        button.btn.btn-primary.font-weight-bolder.mr-2 data-target="#filterModal" data-toggle="modal" type="button"
          span.svg-icon.svg-icon-md
            i.fas.fa-filter
            = t('views.shared.buttons.filters')
      - if export_button
        = render 'shared/export_button'
      - if shipment_button
        = render 'admin/shipments/new_button'
      - if quote_button
        = render 'admin/quotes/new_button'
      - if rate_button
        = render 'admin/carrier_rates/new_button'
      - if new_button
        = link_to(new_button_route, class: 'btn btn-sm btn-primary font-weight-bolder') do
          span.svg-icon.svg-icon-md
            = render 'shared/icons/new'
            = t('views.shared.buttons.new')

