.offcanvas.offcanvas-right.p-10#kt_quick_user
    .offcanvas-header.d-flex.align-items-center.justify-content-between.pb-5
        h3.font-weight-bold.m-0 
            = t('views.shared.user_profile.title')
            small.text-muted.font-size-sm.ml-2 12 messages
        a.btn.btn-xs.btn-icon.btn-light.btn-hover-primary#kt_quick_user_close
            i.ki.ki-close.icon-xs.text-muted
    .offcanvas-content.pr-5.mr-n5
        .d-flex.align-items-center.mt-5
            .symbol.symbol-100.mr-5
                .symbol-label.rounder-avatar
                i.symbol-badge.bg-success
            .d-flex.flex-column
                a.font-weight-bold.font-size-h5.text-dark-75.text-hover-primary = current_user.employee.name.familiar
                .text-muted.mt-1 Application Developer
                .navi.mt-2
                    a.navi-item href="javascript:;"
                        span.navi-link.p-0.pb-2
                            span.navi-icon.mr-1
                                span class="svg-icon svg-icon-lg svg-icon-primary"
                                    svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                        g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                            rect x="0" y="0" width="24" height="24"
                                            path d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z" fill="#000000"
                                            circle fill="#000000" opacity="0.3" cx="19.5" cy="17.5" r="2.5"
                            span.navi-text.text-muted.text-hover-primary = current_user.email
                    = link_to t('views.shared.user_profile.signout'), destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-light-primary font-weight-bolder py-2 px-5'        
        .separator.separator-dashed.mt-8.mb-5
        .navi.navi-spacer-x-0.p-0
            a.navi-item
                .navi-link
                    .symbol.symbol-40.bg-light.mr-3
                        .symbol-label
                            span.svg-icon.svg-icon-md.svg-icon-success
                                svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                    g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                        rect x="0" y="0" width="24" height="24"
                                        path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z" fill="#000000"
                                        circle fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5"                         
                    .navi-text
                        .font-weight-bold My Profile
                        .text-muted Account settings and more
                        span.label.label-light-danger.label-inline.font-weight-bold update
            a.navi-item
                .navi-link
                    .symbol.symbol-40.bg-light.mr-3
                        .symbol-label
                            span.svg-icon.svg-icon-md.svg-icon-warning
                                svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                    g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                        rect x="0" y="0" width="24" height="24"
                                        rect fill="#000000" opacity="0.3" x="12" y="4" width="3" height="13" rx="1.5"
                                        rect fill="#000000" opacity="0.3" x="7" y="9" width="3" height="8" rx="1.5"
                                        path d="M5,19 L20,19 C20.5522847,19 21,19.4477153 21,20 C21,20.5522847 20.5522847,21 20,21 L4,21 C3.44771525,21 3,20.5522847 3,20 L3,4 C3,3.44771525 3.44771525,3 4,3 C4.55228475,3 5,3.44771525 5,4 L5,19 Z" fill="#000000" fill-rule="nonzero"
                                        rect fill="#000000" opacity="0.3" x="17" y="11" width="3" height="6" rx="1.5"
                    .navi-text
                        .font-weight-bold My Messages
                        .text-muted Inbox and tasks
        .separator.separator-dashed.my-7
        div
            h5.mb-5 Recen Notifications
            .d-flex.aligns.items-center.bg-light-warning.rounded.p-5.gutter-b
                span.svg-icon.svg-icon-warning.mr-5
                    span.svg-icon.svg-icon-lg
                        svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                            g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                rect x="0" y="0" width="24" height="24"
                                path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z" fill="#000000"
                                rect fill="#000000" opacity="0.3" transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519)" x="16.3255682" y="2.94551858" width="3" height="18" rx="1"
                .d-flex.flex-column.flex-grow-1.mr-2
                    a.font-weight-normal.text-dark-75.text-hover-primary.font-size-lg.mb-1 Another purpose persuade
                    span.text-muted.font-size-sm Due in 2 Days
                span.font-weight-bolder.text-warning.py-1.font-size-lg +28% 
            .d-flex.aligns.items-center.bg-light-success.rounded.p-5.gutter-b
                span.svg-icon.svg-icon-success.mr-5
                    span.svg-icon.svg-icon-lg
                        svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                            g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                rect x="0" y="0" width="24" height="24"
                                path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953)"
                                path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"
                .d-flex.flex-column.flex-grow-1.mr-2
                    a.font-weight-normal.text-dark-75.text-hover-primary.font-size-lg.mb-1 Would be to people
                    span.text-muted.font-size-sm Due in 2 Days
                span.font-weight-bolder.text-success.py-1.font-size-lg +50% 
            .d-flex.aligns.items-center.bg-light-info.rounded.p-5.gutter-b
                span.svg-icon.svg-icon-info.mr-5
                    span.svg-icon.svg-icon-lg
                        svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                            g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                rect x="0" y="0" width="24" height="24"
                                path d="M11.7573593,15.2426407 L8.75735931,15.2426407 C8.20507456,15.2426407 7.75735931,15.6903559 7.75735931,16.2426407 C7.75735931,16.7949254 8.20507456,17.2426407 8.75735931,17.2426407 L11.7573593,17.2426407 L11.7573593,18.2426407 C11.7573593,19.3472102 10.8619288,20.2426407 9.75735931,20.2426407 L5.75735931,20.2426407 C4.65278981,20.2426407 3.75735931,19.3472102 3.75735931,18.2426407 L3.75735931,14.2426407 C3.75735931,13.1380712 4.65278981,12.2426407 5.75735931,12.2426407 L9.75735931,12.2426407 C10.8619288,12.2426407 11.7573593,13.1380712 11.7573593,14.2426407 L11.7573593,15.2426407 Z" fill="#000000" opacity="0.3" transform="translate(7.757359, 16.242641) rotate(-45.000000) translate(-7.757359, -16.242641)"
                                path d="M12.2426407,8.75735931 L15.2426407,8.75735931 C15.7949254,8.75735931 16.2426407,8.30964406 16.2426407,7.75735931 C16.2426407,7.20507456 15.7949254,6.75735931 15.2426407,6.75735931 L12.2426407,6.75735931 L12.2426407,5.75735931 C12.2426407,4.65278981 13.1380712,3.75735931 14.2426407,3.75735931 L18.2426407,3.75735931 C19.3472102,3.75735931 20.2426407,4.65278981 20.2426407,5.75735931 L20.2426407,9.75735931 C20.2426407,10.8619288 19.3472102,11.7573593 18.2426407,11.7573593 L14.2426407,11.7573593 C13.1380712,11.7573593 12.2426407,10.8619288 12.2426407,9.75735931 L12.2426407,8.75735931 Z" fill="#000000" transform="translate(16.242641, 7.757359) rotate(-45.000000) translate(-16.242641, -7.757359)"
                                path d="M5.89339828,3.42893219 C6.44568303,3.42893219 6.89339828,3.87664744 6.89339828,4.42893219 L6.89339828,6.42893219 C6.89339828,6.98121694 6.44568303,7.42893219 5.89339828,7.42893219 C5.34111353,7.42893219 4.89339828,6.98121694 4.89339828,6.42893219 L4.89339828,4.42893219 C4.89339828,3.87664744 5.34111353,3.42893219 5.89339828,3.42893219 Z M11.4289322,5.13603897 C11.8194565,5.52656326 11.8194565,6.15972824 11.4289322,6.55025253 L10.0147186,7.96446609 C9.62419433,8.35499039 8.99102936,8.35499039 8.60050506,7.96446609 C8.20998077,7.5739418 8.20998077,6.94077682 8.60050506,6.55025253 L10.0147186,5.13603897 C10.4052429,4.74551468 11.0384079,4.74551468 11.4289322,5.13603897 Z M0.600505063,5.13603897 C0.991029355,4.74551468 1.62419433,4.74551468 2.01471863,5.13603897 L3.42893219,6.55025253 C3.81945648,6.94077682 3.81945648,7.5739418 3.42893219,7.96446609 C3.0384079,8.35499039 2.40524292,8.35499039 2.01471863,7.96446609 L0.600505063,6.55025253 C0.209980772,6.15972824 0.209980772,5.52656326 0.600505063,5.13603897 Z" fill="#000000" opacity="0.3" transform="translate(6.014719, 5.843146) rotate(-45.000000) translate(-6.014719, -5.843146)"
                                path d="M17.9142136,15.4497475 C18.4664983,15.4497475 18.9142136,15.8974627 18.9142136,16.4497475 L18.9142136,18.4497475 C18.9142136,19.0020322 18.4664983,19.4497475 17.9142136,19.4497475 C17.3619288,19.4497475 16.9142136,19.0020322 16.9142136,18.4497475 L16.9142136,16.4497475 C16.9142136,15.8974627 17.3619288,15.4497475 17.9142136,15.4497475 Z M23.4497475,17.1568542 C23.8402718,17.5473785 23.8402718,18.1805435 23.4497475,18.5710678 L22.0355339,19.9852814 C21.6450096,20.3758057 21.0118446,20.3758057 20.6213203,19.9852814 C20.2307961,19.5947571 20.2307961,18.9615921 20.6213203,18.5710678 L22.0355339,17.1568542 C22.4260582,16.76633 23.0592232,16.76633 23.4497475,17.1568542 Z M12.6213203,17.1568542 C13.0118446,16.76633 13.6450096,16.76633 14.0355339,17.1568542 L15.4497475,18.5710678 C15.8402718,18.9615921 15.8402718,19.5947571 15.4497475,19.9852814 C15.0592232,20.3758057 14.4260582,20.3758057 14.0355339,19.9852814 L12.6213203,18.5710678 C12.2307961,18.1805435 12.2307961,17.5473785 12.6213203,17.1568542 Z" fill="#000000" opacity="0.3" transform="translate(18.035534, 17.863961) scale(1, -1) rotate(45.000000) translate(-18.035534, -17.863961)"
                .d-flex.flex-column.flex-grow-1.mr-2
                    a.font-weight-normal.text-dark-75.text-hover-primary.font-size-lg.mb-1 WThe best product
                    span.text-muted.font-size-sm Due in 2 Days
                span.font-weight-bolder.text-info.py-1.font-size-lg +8%
