- unless @addresses.blank?
  - @addresses.each_slice(4) do |group|
    .row.mb-2
      - group.each do |address|
        .col-xl-4
          = render 'admin/suppliers/addresses/address', address: address
  .row
    .col-xl-12#paginator
      = paginate @addresses, remote: true
- else
  = render 'admin/suppliers/addresses/alert'