.container
  .row
    .col-xl-6
      b
        label = t('activerecord.attributes.address.name')
      = text_field :address, :name, class: 'form-control', value: @address.name, readonly: true
  .row
    .col-lg-4
      b
        label = t('activerecord.attributes.address.street')
      = text_field :address, :street, class: 'form-control', value: @address.street, readonly: true
    .col-lg-4
      b
        label = t('activerecord.attributes.address.interior_number')
      = text_field :address, :interior_number, class: 'form-control', value: @address.interior_number, readonly: true
    .col-lg-4
      b
        label = t('activerecord.attributes.address.outdoor_number')
      = text_field :address, :outdoor_number, class: 'form-control', value: @address.outdoor_number, readonly: true
  .row.mt-3
    .col-lg-4
      b
        label = t('activerecord.attributes.address.colony')
      = text_field :address, :colony, class: 'form-control', value: @address.colony, readonly: true
    .col-lg-4
      b
        label = t('activerecord.attributes.address.city')
      = text_field :address, :city, class: 'form-control', value: @address.city, readonly: true
    .col-lg-4
      b
        label = t('activerecord.attributes.address.zip_code')
      = text_field :address, :zip_code, class: 'form-control', value: @address.zip_code, readonly: true
  .row.mt-3
    .col-lg-4
      b
        label = t('activerecord.attributes.address.state')
      = select :address, :state, options_for_select(State.all.map {|s| [s.name, s.id]}, @address.state_id), { prompt: t("views.admin.clients.shared.prompt.type_address") }, class: "form-control", disabled: true
    .col-lg-4
      b
        label = t('activerecord.attributes.address.country')
      = text_field :address, :country, class: 'form-control', value: @address.country, readonly: true
    .col-lg-4
      b
        label = t('activerecord.attributes.address.type_address')
      = select :address, :type_address, options_for_select(Address.type_addresses.map { |key, value| [t("enums.address.type_address.#{key.humanize.downcase}"), key] }), { prompt: t("views.admin.clients.shared.prompt.type_address") }, class: "form-control", disabled: true
  .row.mt-3
    .col-xl-4
      b
        label = t('activerecord.attributes.address.principal')
      .mr-2
        = check_box_tag :principal, 'yes', true, disabled: true