= simple_form_for @address, url: url_for(controller: 'admin/suppliers', action: action_controller), remote: true do |f|
  = f.hidden_field :addressable_type, value: 'Supplier'
  = f.hidden_field :addressable_id, value: @supplier.id
  = hidden_field_tag :address_id, @address.id
  = submit_tag '', class: "btn btn-primary", id: 'btn-submit-form', style: "display: none;"
  .row
    .col-xl-12.col-sm-12
      = f.input :name, placeholder: t('activerecord.attributes.address.name')
  .row
    .col-xl-6.col-sm-12.mt-2
      = f.input :street, placeholder: t('activerecord.attributes.address.street')
    .col-xl-3.col-sm-12.mt-2
      = f.input :interior_number, placeholder: t('activerecord.attributes.address.interior_number')
    .col-xl-3.col-sm-12.mt-2
      = f.input :outdoor_number, placeholder: t('activerecord.attributes.address.outdoor_number')
  .row
    .col-xl-4.col-sm-12.mt-2
      = f.input :colony, placeholder: t('activerecord.attributes.address.colony')
    .col-xl-4.col-sm-12.mt-2
      = f.input :city, placeholder: t('activerecord.attributes.address.city')
    .col-xl-4.col-sm-12.mt-2
      = f.input :zip_code, placeholder: t('activerecord.attributes.address.zip_code')
  .row
    .col-xl-4.col-sm-12.mt-2
      = f.input :country do
        = f.select :country, options_for_select(Country.all.collect {|c| [c.name, c.name]}, @address.country), { prompt: t('views.shared.prompt.country') }, { class: 'form-control', data: { 'live-search': "true" } }
    .col-xl-4.col-sm-12.mt-2
      = f.association :state, prompt: t('views.shared.prompt.state'), label_method: :name, value_method: :id
    .col-xl-4.col-sm-12.mt-2
      = f.label :address_type_ids
      = f.select :address_type_ids, options_for_select(AddressType.all.collect { |st| [t("enums.address.type_address.#{st.name}"), st.id] }, @address.address_type_ids), {prompt: t('views.shared.prompt.address')}, { class: 'form-control', multiple: true }
javascript:
    $(document).ready(function () {
       $('#btn_submit_modal').click(function () {
          $('#addresses_information_tab_3').trigger("click");
        });
        $('#address_address_type_ids').selectpicker();
        $('#address_country').selectpicker();
        $('#address_country').on('change', function() {
            $.ajax({
                url: "/admin/suppliers/filter_states/" + $(this).val(),
                type: "get",
                success: function (data) {
                    console.log(data);
                    console.log(jQuery.isEmptyObject(data));
                    console.log($("#address_state_id"));
                    if (jQuery.isEmptyObject(data)) {
                        if (!$(".address_state").hasClass('hide-element')) {
                            $(".address_state").addClass('hide-element');
                        }
                    }
                    else {
                        if ($(".address_state").hasClass('hide-element')) {
                            $(".address_state").removeClass('hide-element');
                        }
                        var listitems = ["<option value=''>Seleccione un estado</option>"];
                        $.each(data,function(key, value) {
                            listitems += '<option value="' + value.id+ '">' + value.name + '</option>';
                        });
                        console.log(listitems);

                        $("#address_state_id").empty().append(listitems);
                    }
                },
                error: function (data) {
                }
            })
        });
    });