.col-xl-3.col-lg-6.col-md-6.col-sm-6
  /! begin::Card
  .card.card-custom.gutter-b.card-stretch
    .card-header.border-0
      h3.card-title
      .card-toolbar
        .dropdown.dropdown-inline data-placement="left" data-toggle="tooltip" title=("Quick actions") 
          a.btn.btn-clean.btn-hover-light-primary.btn-sm.btn-icon aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" 
            i.ki.ki-bold-more-hor
          .dropdown-menu.dropdown-menu-md.dropdown-menu-right
            /! begin::Navigation
            ul.navi.navi-hover.py-5
              li.navi-item
                = link_to destroy_client_document_admin_client_path(id: @client.id, document_id: client_document.id), class: 'navi-link', remote: true, method: :delete, data: { confirm: 'Are you sure?' } do               
                  span.navi-icon
                    i.fas.fa-trash
                  span.navi-text = t('views.shared.buttons.destroy')
              li.navi-item
                = link_to edit_client_document_admin_client_path(id: @client.id, document_id: client_document.id), class: 'navi-link', remote: true do
                  span.navi-icon
                    i.fas.fa-edit
                  span.navi-text = t('views.shared.buttons.edit')
              - if client_document.file.attached?
                li.navi-item
                  = link_to download_client_document_admin_client_path(id: @client.id, document_id: client_document.id), download: "#{client_document.file.filename}" , class: 'navi-link' do
                    span.navi-icon
                      i.fas.fa-file-download
                    span.navi-text = t('views.shared.buttons.download')
    .card-body
      .d-flex.flex-column.align-items-center
        .flex-shrink-0.mr-4
          /! begin: Icon
          .symbol.symbol-lg-50
            = image_tag("svg/files/#{client_document.file.filename.extension_without_delimiter}.svg", alt: "image" ) rescue image_tag("svg/files/File.svg", alt: "image" )
          /! end: Icon
        /! begin: Title         
        = link_to "#{(client_document.file.attached? ? client_document.file.filename : client_document.file.name)}", client_document.file.service_url, target: '_blank', class: "text-muted text-hover-primary font-weight-bold mt-15 font-size-lg"
        /! end: Title
  /! end:: Card
