- unless @documents.blank?
  - @documents.each_slice(4) do |group|
    .row
      - group.each do |client_document|
        = render 'admin/clients/client_documents/card_body', client_document: client_document
  .row
    .col-xl-12#paginator
      = paginate @documents, remote: true
- else
  .not-register
    = "#{t('views.shared.text.not_records')} de #{t('activerecord.models.document.other')}."