= simple_form_for @client_document, url: url_for(controller: 'admin/clients', action: action_controller) , enctype: 'multipart/form-data', remote: true do |f|
  = hidden_field_tag :document_id, @client_document.id
  = f.association :client, label: false , selected: @client.id, input_html: { class: 'hide-element' }
  .row
    .col-xl-6
      .form-group.fv-plugins-icon-container
        = f.association :document, prompt: t('views.shared.prompt.document_type')
        .fv-plugins-message-container
  .row
    .col-xl-12
      = f.label :file
      .custom-file
        = f.file_field :file, class: 'custom-file-input'
        = f.label t('views.shared.prompt.field'), class: "custom-file-label", data: { browse: t('views.shared.buttons.upload') }
      - if @client_document.file.attached?
        = link_to "Ver documento", @client_document.file.service_url, target: '_blank'
    = f.submit 'data', class: 'btn btn-success hide-element', id: 'btnProductInformation'
javascript:
    ;(function () {
        // $('#client_product_tag_list').tagify();

        $('#btn_submit_modal').click(function () {
          $('#documents_information_tab_8').trigger("click");
        });   

        $("#btnCancelDocument").click(function(){
            $("#document_form").toggle();
            $("#document_list").show();
        });

        $("#btnProduct").click(function () {
            $('#btnProductInformation').trigger("click");
        });

        $("#client_document_file").on('change', function() {
            var fileName = $(this).val();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });

    })()