.card.card-custom.card-stretch#document_form
  .card-header.py-3
    .card-title.align-items-start.flex-column
      h3.card-label.font-weight-bolder.text-dark = t('views.admin.client_documents.new.title')
    .card-toolbar.align-items
      button.mr-2 id="btnCancelDocument"  type="button" class="btn btn-danger" = t('views.shared.buttons.cancel')
      button id="btnProduct"  type="button" class="btn btn-success font-weight-bold" = @button 

  .card-body
    = render 'admin/clients/client_documents/form', action_controller: action_controller, action: action , title: t('views.admin.client_documents.new.title'), button: t('views.shared.buttons.save')    