.modal-header
  h5 class="modal-title" id="modal_title" = title
  button type="button" class="close" data-dismiss="modal" aria-label="Close"
    i.ki.ki-close aria-hidden="true"
= simple_form_for [:admin, @rate], multipart: true, remote: true, authenticity_token: true do |f|
  = f.hidden_field :tariff_id
  .modal-body
    .modal-container
      .form-group.row
        .col-xl-3.col-sm-12
          = label_tag :pol_code, t('activerecord.attributes.rate.pol_code')
          = text_field :data, :pol_code, prompt: t('activerecord.attributes.rate.pol_code'), class: 'form-control', placeholder: t('activerecord.attributes.rate.pol_code'), readonly: true
        .col-xl-3.col-sm-12
          = f.association :origin_port, prompt: t('activerecord.attributes.rate.origin_port')
        .col-xl-3.col-sm-12
          = label_tag :pod_code, t('activerecord.attributes.rate.pod_code')
          = text_field :data, :pod_code, prompt: t('activerecord.attributes.rate.pod_code'), class: 'form-control', placeholder: t('activerecord.attributes.rate.pod_code'), readonly: true
        .col-xl-3.col-sm-12
          = f.association :discharge_port, prompt: t('activerecord.attributes.rate.discharge_port')
      .form-group.row
        .col-xl-3.col-sm-12
          = f.input :freight_rate, placeholder: t('activerecord.attributes.rate.freight_rate')
        .col-xl-3.col-sm-12
          = f.input :minimal_cost, placeholder: t('activerecord.attributes.rate.minimal_cost')
        .col-xl-3.col-sm-12
          = f.input :via_code, placeholder: t('activerecord.attributes.rate.via_code')
        .col-xl-3.col-sm-12
          = f.input :via, placeholder: t('activerecord.attributes.rate.via')
      .form-group.row
        .col-xl-3.col-sm-12
          = f.input :frequency, prompt: t('views.shared.prompt.frequency')
        .col-xl-3.col-sm-12
          = f.input :transite_time, placeholder: t('activerecord.attributes.rate.transite_time')
        .col-xl-3.col-sm-12
          = f.input :free_days, prompt: t('views.shared.prompt.frequency')
      .form-group.row
        .col-xl-3.col-sm-12
          = f.input :guarantee_letter
  .modal-footer
    button type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal" = t('views.shared.buttons.cancel')
    = f.submit button, class: 'btn btn-success font-weight-bold'