$("#modalRates").modal("show");
$(".modal-content").html("<%= j render partial: "admin/rates/form", locals: { title: t('views.admin.rates.edit.subtitle'), button: t('views.shared.buttons.update') } %>");