<% if @rate.errors.empty? %>
  // add the row to the table, show alert and hide modal
  $("#rate").html("<%= j render partial: 'admin/tariffs/ rate_information' %>");
  $('#modalRates').modal('hide');
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
  // show first error
  $("#modal-container").html("<%= j render partial: "admin/rates/form", locals: { title: t('views.admin.rates.edit.subtitle'), button: t('views.shared.buttons.update') } %>");
<% end %>