/! begin: Search Form
form.kt-form.kt-form--fit.mb-15
.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  table.table.table-separate.table-head-custom.collapsed#kt_datatable_middleman
    thead
      tr
        th = t('activerecord.attributes.middleman.name')
        th = t('activerecord.attributes.middleman.website')
        th = t('views.admin.middlemen.shared.data.phone')
        th = t('activerecord.attributes.middleman.status')
    tbody
      - @middlemen.each do |middleman|
        tr
          td
            .d-flex.align-items-center
              - if middleman.logo.attached?
                .symbol.symbol-50.mt-1
                  = image_tag(middleman.logo.service_url)
              - else
                .symbol.symbol-50.symbol-light-secondary
                  = image_tag('middleman.png')
              .ml-3
                span.text-dark-75.font-weight-bold.line-height-sm.d-block.pb-2  = link_to middleman.name, admin_middleman_path(middleman.id, readonly: false)
                span.text-muted.text-hover-primary = middleman.rfc
          td = middleman.website
          td
            - if middleman.extension != ""
              = middleman.phone_with_extension
            - elsif middleman.country_code != ""
              = middleman.phone_with_country_code

          td
            - if middleman.authorized?
              span.label.label-light-success.label-inline.font-weight-bold = "#{t("enums.middleman.status.#{middleman.status}")}"
            - elsif middleman.pending?
              span.label.label-light-primary.label-inline.font-weight-bold = "#{t("enums.middleman.status.#{middleman.status}")}"
            - else
              span.label.label-light-danger.label-inline.font-weight-bold = "#{t("enums.middleman.status.#{middleman.status}")}"
javascript:
    jQuery(document).ready(function () {
        KTDatatablesMiddlemen.init();
    });
