h3.mb-10.font-weight-bold.text-dark = t('views.admin.middlemen.shared.text.step1.label')
.row
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.input :name, placeholder: t('activerecord.attributes.client.name'), input_html: { title: t('views.admin.clients.shared.text.step1.instructions.name'), data: { toggle: "tooltip", placement: "top" } }
      .fv-plugins-message-container
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.input :rfc, placeholder: t('activerecord.attributes.middleman.rfc'), input_html: { class: 'form-control-lg' }
      .fv-plugins-message-container
.row
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.input :website, placeholder: t('activerecord.attributes.middleman.website'), input_html:{class:'form-control-lg'}
      .fv-plugins-message-container
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.association :currency, label_method: :code, prompt: t('views.shared.prompt.currency'), input_html: {class: 'form-control-lg'}
      .fv-plugins-message-container
#phones
  = f.simple_fields_for :phones do |phone|
    = render 'shared/cocoon/phone_client_fields', f: phone, phoneable_type: 'Middleman'
