.card.card-custom.card-stretch
  .card-header.py-3
    .card-title.align-items-start.flex-column
      h3.card-label.font-weight-bolder.text-dark = t('views.admin.middlemen.show.tabs.personal.subtitle')
      span.text-muted.font-weight-bold.font-size-sm.mt-1 = t('views.admin.users.show.tab_panes.personal_information.subtitle')
    .card-toolbar
      - if @readonly
        = link_to t('views.shared.buttons.cancel'), update_readonly_admin_middleman_path(@middleman.id, readonly: false), class: 'btn btn-danger mr-2', 'data-remote': true
        button id="updatePersonalInformation" class="btn btn-success" = t('views.shared.buttons.update')
      - else
        = link_to t('views.shared.buttons.edit'), update_readonly_admin_middleman_path(@middleman.id, readonly: true), id: 'editPersonalInformation', class: 'btn btn-success', 'data-remote': true
  = simple_form_for [:admin, @middleman], html: {class: "form"} , remote: true do |f|
    .card-body
      .container-fluid
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right Avatar
          .col-lg-9.col-xl-6
            .image-input.image-input-outline.avatar-default-middleman#kt_profile_avatar
              - if @middleman.logo.attached?
                .image-input-wrapper style="background-image: url(#{@middleman.logo.service_url})"
              - else
                .image-input-wrapper
              - if @readonly
                label.btn.btn-xs.btn-icon.btn-circle.btn-white.btn-hover-text-primary.btn-shadow data-action="change" data-toggle="tooltip" data-original-title="Change avatar"
                  i.flaticon2-pen.icon-sm.text-muted
                  = f.file_field :logo, input_html: { accept: ".png, .jpg, .jpeg" }
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.middleman.name')
          .col-lg-9.col-xl-6
            = f.input :name, label: false, input_html: { disabled: !@readonly }
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.middleman.rfc')
          .col-lg-9.col-xl-6
            = f.input :rfc, label: false, input_html: { disabled: !@readonly }
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.middleman.website')
          .col-lg-9.col-xl-6
            = f.input :website, label: false, input_html: { disabled: !@readonly }
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.middleman.currency')
          .col-lg-9.col-xl-6
            = f.association :currency, label_method: :code, prompt: t('views.shared.prompt.currency'), input_html: { class: 'form-control-lg', disabled: !@readonly }, label: false
        .row
          label.col-xl-3
          .col-lg-9.col-xl-6
            h5.font-weight-bold.mb-6 = t('views.admin.users.show.tab_panes.personal_information.section3')
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.middleman.cfdi')
          .col-lg-9.col-xl-6
            = f.association :cfdi, label: false, prompt: t('views.shared.prompt.cfdi'), input_html: { class: 'form-control-lg', disabled: !@readonly }
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.middleman.way_pay')
          .col-lg-9.col-xl-6
            = f.association :way_pay, label: false, prompt: t('views.shared.prompt.way_pay'), input_html: { class: 'form-control-lg', disabled: !@readonly }
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.middleman.payment_method')
          .col-lg-9.col-xl-6
            = f.association :payment_method, label: false, prompt: t('views.shared.prompt.payment_method'), input_html: { class: 'form-control-lg', disabled: !@readonly }
    = f.submit 'data', class: 'btn btn-success hide-element', id: 'btnPersonalInformation'
javascript:
    $(document).ready(function () {
        $("#cancelPersonaInformation").click(function () {
          $('#personal_information_tab_1').trigger("click");
        });

        $("#updatePersonalInformation").click(function () {
            $('#btnPersonalInformation').trigger("click");
        });
        avatar = new KTImageInput('kt_profile_avatar');
        $("#status_middleman").click(function () {
            if(this.checked)
            {
                document.getElementById("middleman_status").value = 'authorized';
            }
            else
            {
                document.getElementById("middleman_status").value = 'pending';
            }
        });
    });

