.card.card-custom.card-stretch
  .card-header.py-3
    .card-title.align-items-start.flex-column
      h3.card-label.font-weight-bolder.text-dark = t('views.admin.middlemen.show.tabs.phone.subtitle')
    .card-toolbar
      = link_to t('views.shared.buttons.new'), new_phone_admin_middleman_path(@middleman.id), class: 'btn btn-success', 'data-remote': true
  .card-body
    #phone_list  
      = render 'admin/middlemen/phones/collection'