.card.card-custom.card-stretch
  .card-body.pt-4
    .d-flex.justify-content-end
      .dropdown.dropdown-inline
        a.btn.btn-clean.btn-hover-light-primary.btn-sm.btn-icon aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#"
          i.la.la-ellipsis-h
        .dropdown-menu.dropdown-menu-sm.dropdown-menu-right
          ul.navi.navi-hover.py-5
            li.navi-item
              = link_to(new_address_admin_middleman_path(@middleman.id), class: 'navi-link', 'data-remote': true) do              
                span.navi-icon
                  i.fas.fa-map-marked
                span.navi-text = t('views.admin.addresses.new.title')
            li.navi-item#menu_contact_link
              = link_to(new_contact_admin_middleman_path(@middleman.id), class: 'navi-link', 'data-remote': true) do               
                span.navi-icon
                  i.fas.fa-user
                span.navi-text = t('views.admin.contacts.new.title')
            - if current_user.admin
              li.navi-separator.my-3
              li.navi-item
                a.navi-link href="#"
                  span.navi-icon
                    i.fas.fa-trash
                  span.navi-text = t('views.shared.buttons.destroy')
    .d-flex.align-items-center
      .symbol.symbol-60.symbol-xxl-100.mr-5.align-self-start.align-self-xxl-center
        - if @middleman.logo.attached?
          = image_tag(@middleman.logo.service_url, al: 'Pic')
        - else
          span.symbol-label
            = image_tag('middleman.png', alt: 'Pic', width: '60px', height: '60px')
      div
        a.font-weight-bolder.font-size-h5.text-dark-75.text-hover-primary href="#"  = @middleman.name
        .text-muted = @middleman.website
        .mt-2
          a.btn.btn-sm.btn-primary.font-weight-bold.mr-2.py-2.px-3.px-xxl-5.my-1 href="#"  Chat
          a.btn.btn-sm.btn-success.font-weight-bold.py-2.px-3.px-xxl-5.my-1 href="#"  Follow
          - if @middleman.authorized?
            span.label.label-light-success.label-inline.font-weight-bold = "#{t("enums.middleman.status.#{@middleman.status}")}"
          - elsif @middleman.pending?
            span.label.label-light-warning.label-inline.font-weight-bold = "#{t("enums.middleman.status.#{@middleman.status}")}"
          - else
            span.label.label-light-danger.label-inline.font-weight-bold = "#{t("enums.middleman.status.#{@middleman.status}")}"
    .py-9
      .d-flex.align-items-center.justify-content-between.mb-2
        span.font-weight-bold.mr-2 RFC:
        span.text-muted = @middleman.rfc
      .d-flex.align-items-center.justify-content-between.mb-2
        span.font-weight-bold.mr-2 = "#{t('activerecord.models.contact.one')}:"
        span.text-muted = @middleman.principal_contact.name.capitalize if @middleman.principal_contact.blank?
      .d-flex.align-items-center.justify-content-between.mb-2
        span.font-weight-bold.mr-2 = "#{t('activerecord.attributes.user.email')}: "
        = mail_to @middleman.principal_email, @middleman.principal_email, class: 'text-muted text-hover-primary'
      .d-flex.align-items-center.justify-content-between.mb-2
        span.font-weight-bold.mr-2 = "#{t('activerecord.attributes.employee.phone')}: "
        span.text-muted
          - if @middleman.extension != ""
            = @middleman.phone_with_extension
          - elsif @middleman.country_code != ""
            = @middleman.phone_with_country_code

    ul.nav.flex-column.nav-rounded
      li.nav-item.mb-2
        a.nav-link.active#personal_information_tab_1 data-toggle="tab" href="#kt_apps_personal_information_tab_1"
          span.nav-icon.mr-2
            span.svg-icon
              i.fas.fa-user-circle
          span.nav-text.font-size-lg = t('views.admin.middlemen.show.tabs.personal.subtitle')
      li.nav-item.mb-2
        a.nav-link#addresses_information_tab_2 data-toggle="tab" href="#kt_apps_addresses_information_tab_3"
          span.nav-icon.mr-2
            span.svg-icon
              i.fas.fa-map-marked
          span.nav-text.font-size-lg = t('views.admin.middlemen.show.tabs.address.subtitle')
      li.nav-item.mb-2
        a.nav-link#phones_information_tab_3 data-toggle="tab" href="#kt_apps_phones_information_tab_4"
          span.nav-icon.mr-2
            span.svg-icon
              i.fas.fa-phone
          span.nav-text.font-size-lg = t('views.admin.middlemen.show.tabs.phone.subtitle')
      li.nav-item.mb-2
        a.nav-link#contacts_tab_4 data-toggle="tab" href="#kt_apps_contacts_tab_5"
          span.nav-icon.mr-2
            span.svg-icon
              i.fas.fa-users
          span.nav-text.font-size-lg = t('views.admin.middlemen.show.tabs.contact.subtitle')
javascript:
    ;(function () {
        $("#menu_contact_link").click(function(){
            $('#contacts_tab_4').trigger("click");
            $("#contact_form").show();
            $("#contacts").hide();
        });

        $('#personal_tab').click(function () {
            $('#personal_information_tab_1').trigger("click");
        });
    })()
