.wizard-step data-wizard-type="step" data-wizard-state="current"
  .wizard-label
    i.wizard-icon.fas.fa-id-card
    h3.wizard-title = "1. #{t('views.admin.middlemen.shared.text.step1.title')}"
  span.svg-icon.svg-icon-xl.wizard-arrow
    = render 'shared/icons/arrow_right'
.wizard-step data-wizard-type="step" data-wizard-state="pending"
  .wizard-label
    i.wizard-icon.fas.fa-map-marked
    h3.wizard-title = "2. #{t('views.admin.middlemen.shared.text.step2.title')}"
  span.svg-icon.svg-icon-xl.wizard-arrow
    = render 'shared/icons/arrow_right'
.wizard-step data-wizard-type="step" data-wizard-state="pending"
  .wizard-label
    i.wizard-icon.fas.fa-user
    h3.wizard-title = "3. #{t('views.admin.middlemen.shared.text.step4.title')}"
  span.svg-icon.svg-icon-xl.wizard-arrow
    = render 'shared/icons/arrow_right'
.wizard-step data-wizard-type="step" data-wizard-state="pending"
  .wizard-label
    i.wizard-icon.fas.fa-money-bill
    h3.wizard-title = "4. #{t('views.admin.middlemen.shared.text.step5.title')}"
  span.svg-icon.svg-icon-xl.wizard-arrow.last
    = render 'shared/icons/arrow_right'