$("#contacts").html("<%= j render partial: 'admin/middlemen/contacts/accordion_contacts' %>");
$("#paginator").html("<%= escape_javascript(paginate(@contacts, remote: true)) %>");
toastr.error("<%= escape_javascript(@response) %>");