= render 'shared/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: admin_middlemen_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  .container
    .card.card-custom
      .card-body.p-0
        = render 'form', button_primary: t('views.shared.buttons.save'), button_secondary: t('views.shared.buttons.cancel')