show_content_modal("<%= t("views.admin.addresses.new.title") %>", "<%= t("views.shared.buttons.save") %>", 'create');
$("#exampleModalScrollable").modal("show");
$(".modal-container").html("<%= j render partial: "admin/middlemen/addresses/form", locals: { action_controller: 'add_address' } %>");