$("#contact_form").html("<%= j render partial: 'admin/middlemen/contacts/new', locals: { action_controller: 'add_contact', action: 'create' } %>");
$("#contacts").html("<%= j render :partial => 'admin/middlemen/contacts/accordion_contacts' %>");
