= render 'shared/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: admin_middlemen_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
/! begin::Entry
.d-flex.flex-column-fluid
  /! begin::Container
  .container
    /! begin::Profile Personal Information
    .d-flex.flex-row
      = render 'admin/middlemen/tab_panel'    
    .tab-content
      .tab-pane.active#tab_forms_dashboard role="tabpanel"
        = render 'admin/middlemen/dashboard'
      .tab-pane#tab_forms_general role="tabpanel"
        .d-flex.flex-row
          #kt_profile_aside.flex-row-auto.offcanvas-mobile.w-250px.w-xxl-350px
            = render 'admin/middlemen/profile_aside'
          .flex-row-fluid.ml-lg-8
            .tab-content
              .tab-pane.active#kt_apps_personal_information_tab_1 role="tabpanel"
                = render 'admin/middlemen/personal_information'
              .tab-pane#kt_apps_addresses_information_tab_3 role="tabpanel"
                = render 'admin/middlemen/addresses_information'
              .tab-pane#kt_apps_phones_information_tab_4 role="tabpanel"
                = render 'admin/middlemen/phones_information'
              .tab-pane#kt_apps_contacts_tab_5 role="tabpanel"
                = render 'admin/middlemen/contacts_information'
