= paginator.render do
  .card.card-custom.gutter-b.card-stretch
    .d-flex.justify-content-between.align-items-center.flex-wrap.ml-4
      .d-flex.flex-wra.py-2.mr-3
        == first_page_tag unless current_page.first?
        == prev_page_tag unless current_page.first?
        - each_page do |page|
          - if page.left_outer? || page.right_outer? || page.inside_window?
            == page_tag page
          - elsif !page.was_truncated?
            == gap_tag
        == next_page_tag unless current_page.last?
        == last_page_tag unless current_page.last?