- if page.current?
  = content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'btn btn-icon btn-circle btn-sm border-0 btn-hover-primary active mr-2 my-1'
- else
  = link_to page, url, remote: remote, rel: page.rel, class: 'btn btn-icon btn-circle btn-sm border-0 btn-hover-primary mr-2 my-1'
