= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form fv-plugins-bootstrap fv-plugins-framework", id: 'kt_login_singin_form'}) do |f|
  .pb-5.pb-lg-15
    h3.font-weight-bolder.text-dark.font-size-h2.font-size-h1-lg = t('.sign_in')
  .form-group.fv-plugins-icon-container
    = f.label :email, class: 'font-size-h6 font-weight-bolder text-dark'
    = f.email_field :email, autofocus: true, class: 'form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0'
    .fv-plugins-message-container
  .form-group.fv-plugins-icon-container
    .d-flex.justify-content-between.mt-n5
      = f.label :password, class: "font-size-h6 font-weight-bolder text-dark pt-5"
      = link_to t(".forgot_your_password"), new_password_path(resource_name), class: 'text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5'
    = f.password_field :password, class: 'form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0'
    .fv-plugins-message-container
  .pb-lg-0.pb-5
    = f.submit t('.sign_in'), class: 'btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3', id: 'kt_login_singin_form_submit_button'