.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  table.table.table-separate.table-head-custom.collapsed#kt_datatable_general
    thead
      tr
        th = t('activerecord.attributes.role.name')
        th = t('views.shared.tags.actions')
    tbody
      - @roles.each do |role|
        tr
          td
            .d-flex.align-items-center
              .symbol.symbol-50.symbol-light-secondary
                span.symbol-label
                  = role.id
              .ml-3
                span.text-dark-75.font-weight-bold.line-height-sm.d-block.pb-2 = role.name
          td nowrap="nowrap"
            = link_to(edit_admin_role_path(role), class: 'btn btn-sm btn-clean btn-icon', title: t('views.shared.buttons.edit'), data: { toggle: 'tooltip', placement: "top" }) do
              span.svg-icon.svg-icon-md.svg-icon-primary
                i.fas.fa-edit
            = link_to assign_admin_role_path(role), class: 'btn btn-sm btn-clean btn-icon', title: t('activerecord.models.access_role.other'), data: { toggle: 'tooltip', placement: "top" } do
              span.svg-icon.svg-icon-md.svg-icon-primary
                i.fas.fa-lock
            = link_to({action: :destroy, id: role.id}, class: "btn btn-sm btn-clean btn-icon", title: t('views.shared.buttons.destroy'), method: :delete, data: { toggle: 'tooltip', placement: "top", confirm: 'Are you okay?' }) do
              span.svg-icon.svg-icon-md.svg-icon-primary
                i.fas.fa-trash
javascript:
    jQuery(document).ready(function () {
        KTDatatablesGeneral.init();
    });