<%= simple_form_for [:admin, @role] do |f| %>
  <div class="form-group row">
    <div class="col-sm-12 col-lg-6">
      <%= f.input :name, placeholder: t('activerecord.attributes.container.name'), readonly: permissions %>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8 text-right">
      <%= f.submit button_primary, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>