<div class="form-group row">
  <div class="col-sm-12 col-lg-6">
    <%= label :role, :name %>
    <%= text_field :role, :name, placeholder: t('activerecord.attributes.container.name'), readonly: permissions, value: @role.name, class: 'form-control' %>
  </div>
</div>
<% if permissions %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <%= t('activerecord.models.access.other') %>
        <% prepare_hash %>
        <% @access_order = Access.all.order("id ASC") %>
        <% @access_order.each do |access| %>
          <th>
            <%= t("views.admin.access.#{access.name.downcase}") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% access = @access_order.all.pluck(:id) %>
      <% SystemModule.all.each do |sm| %>
        <tr>
          <input type="hidden" name="role_id" class= 'role_id' value= <%= @role.id %> >
          <th>
            <%= t("activerecord.models.#{squish(sm.name)}.other") %>
          </th>
          <td>
            <label class="checkbox checkbox-inline">
              <input type="checkbox"  <%= 'checked' if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[0])) %>  value= '<%= access[0] %> : <%= sm.id  %>' >
              <span></span>
            </label>
          </td>
          <td>
            <label class="checkbox checkbox-inline">
              <input type="checkbox"  <%= 'checked' if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[1])) %>  value= '<%= access[1] %> : <%= sm.id  %>' >
              <span></span>
            </label>
          </td>
          <td>
            <label class="checkbox checkbox-inline">
              <input type="checkbox"  <%= 'checked' if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[2])) %>  value= '<%= access[2] %> : <%= sm.id  %>' >
              <span></span>
            </label>
          </td>
          <td>
            <label class="checkbox checkbox-inline">
              <input type="checkbox"  <%= 'checked' if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[3])) %>  value= '<%= access[3] %> : <%= sm.id  %>' >
              <span></span>
            </label>
          </td>
          <td>
            <label class="checkbox checkbox-inline">
              <input type="checkbox"  <%= 'checked' if (@permissions[sm.id].present? && @permissions[sm.id].include?(access[4])) %>  value= '<%= access[4] %> : <%= sm.id  %>' >
              <span></span>
            </label>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<script>
    $('document').ready(function() {

        $(':checkbox').on('change', function() {
            var $this = $(this);
            var ids = $this.val();
            var id_array = ids.split(':');
            var system_module_id = id_array[1];
            var access_id = id_array[0];
            var role_id = $('.role_id').val();
            var url;
            console.log(system_module_id.trim());
            console.log(access_id.trim());
            console.log(role_id.trim());

            if (this.checked) {
                url = "/admin/access_roles/add_access/" + role_id.trim() + "/" + access_id.trim() + "/" + system_module_id.trim();
            } else {
                url = "/admin/access_roles/remove_access/" + role_id.trim() + "/" + access_id.trim() + "/" + system_module_id.trim();
            }
            console.log(url);
            $.ajax({
                url: url,
                type: "get",
                success: function (data) {
                    if (data.type == 'success') {
                        toastr.success(data.response)
                    } else {
                        toastr.error(data.response)
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            })
        });
    });
</script>