= render 'shared/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: admin_roles_path, new_button: false, new_button_route: '', shipment_button: false, rate_button: false, quote_button: false
.d-flex.flex-column-fluid
  .container
    .card.card-custom
      .card-body
        = render 'form', permissions: false, button_primary: t('views.shared.buttons.update')