.card.card-custom.gutter-b.card-stretch.card-rounded
  .card-body.pt-4.d-flex.flex-column.justify-content-between
    /-- begin::Toolbar--
    .d-flex.justify-content-end
      .dropdown.dropdown-inline data-toggle="tooltip" title="Quick actions" data-placement="left"
        a class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          i.fas.fa-ellipsis-h
        .dropdown-menu.dropdown-menu-md.dropdown-menu-right
          ul.navi.navi-hover
            li.navi-item
              = link_to edit_address_admin_client_path(id: @client.id, address_id: address.id), class: 'navi-link', remote: true do
                span.navi-icon
                  i.fas.fa-edit
                span.navi-text = t('views.shared.buttons.edit')
            li.navi-item
              - unless address.principal 
                = link_to destroy_address_admin_client_path(id: @client.id, address_id: address.id), class: 'navi-link', remote: true, method: :delete, data: { confirm: 'Are you sure?' } do
                  span.navi-icon
                    i.fas.fa-trash
                  span.navi-text = t('views.shared.buttons.destroy')
    /-- end::Toolbar--
    /--begin::User--
    .d-flex.align-items-center.mb-7
      .flex-shrink-0.mr-4.mt-lg-0.mt-3
        .symbol.symbol-75.symbol-light
          = image_tag("svg/addresses/#{address.address_types.first.name}.svg", alt: "image") rescue image_tag("svg/addresses/Marker1.svg", alt: "image")
      .d-flex.flex-column
        = link_to show_address_admin_client_path(id: @client.id, address_id: address.id), class: 'text-dark font-weight-bold text-hover-primary font-size-h4 mb-0', remote: true do
          = address.name.truncate(15)
        span.text-muted.font-weight-bold = address.city
    /--end::User--
    /--begin::Desc--
    p.mb-7
    /--end::Desc--
    /--begin::Info--
    .mb-7
      .d-flex.justify-content-between.align-items-stretch
        span.text-dark-75.font-weight-bolder.mr-2 = "#{t('views.admin.clients.index.abbreviate.street')}:"
        label.text-muted.text-hover-primary = address.street_with_number
      .d-flex.justify-content-between.align-items-center.my-1
        span.text-dark-75.font-weight-bolder.mr-2 = "#{t('views.admin.clients.index.abbreviate.zip_code')}:"
        label.text-muted.text-hover-primary = address.zip_code
      .d-flex.justify-content-between.align-items-center
        span.text-dark-75.font-weight-bolder.mr-2 = "#{t('views.admin.clients.index.abbreviate.country')}:"
        label.text-muted.text-hover-primary = address.country

    /--end::Info--
