- unless @addresses.blank?
  - @addresses.each_slice(3) do |group|
    .row.mb-2
      - group.each do |address|
        .col-xl-4
          = render 'admin/agents/addresses/address', address: address
  .row
    .col-xl-12#paginator
      = paginate @addresses, remote: true
- else
  .not-register
    = "#{t('views.shared.text.not_records')} de #{t('activerecord.models.address.other')}."