.row
  .col-lg-6.col-xxl-4.order-1.order-xxl-1
    .card.card-custom.card-stretch.gutter-b
      .card-header.border-0.pt-5
        h3.card-title.align-items-start.flex-column = t('views.admin.shipments.show.tabs.activity.shipment_information')
      .card-body.pt-8
        .d-flex.align-items-center.mb-10.row
          .d-flex.flex-column.font-weight-bold.col-xl-6
            span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.number')
            span.text-muted = @shipment.number
          .d-flex.flex-column.font-weight-bold.col-xl-6
            span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.client')
            span.text-muted = @shipment.client.name
        .d-flex.align-items-center.mb-10.row
          .d-flex.flex-column.font-weight-bold.col-xl-6
            span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.estimated_departured_at')
            span.text-muted = @shipment.estimated_departured_at.blank? ? '' : @shipment.estimated_departured_at.strftime("%m/%d/%Y %R")
          .d-flex.flex-column.font-weight-bold.col-xl-6
            span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.estimated_arrivaled_at')
            span.text-muted = @shipment.estimated_arrivaled_at.blank? ? '' : @shipment.estimated_arrivaled_at.strftime("%m/%d/%Y %R")
        .d-flex.align-items-center.mb-10.row
          .d-flex.flex-column.font-weight-bold.col-xl-6
            span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.departured_at')
            span.text-muted = @shipment.departured_at.blank? ? '' : @shipment.departured_at.strftime("%m/%d/%Y %R")
          .d-flex.flex-column.font-weight-bold.col-xl-6
            span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.arrivaled_at')
            span.text-muted = @shipment.arrivaled_at.blank? ? '' : @shipment.arrivaled_at.strftime("%m/%d/%Y %R")
        .d-flex.align-items-center.mb-10.row
          .d-flex.flex-column.font-weight-bold.col-xl-6
            span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.description')
            span.text-muted = @shipment.description
          .d-flex.flex-column.font-weight-bold.col-xl-6
            span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.declared_value')
            span.text-muted = @shipment.declared_value
        .d-flex.align-items-center.mb-10.row
          .d-flex.flex-column.font-weight-bold.col-xl-6
            span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.incoterm')
            span.text-muted = @shipment.incoterm.code
          .d-flex.flex-column.font-weight-bold.col-xl-6
            span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.type_service')
            span.text-muted = t("enums.shipment.type_service.#{@shipment.type_service}")
        .d-flex.align-items-center.mb-10.row
          .d-flex.flex-column.font-weight-bold.col-xl-6
            span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.collection_route.origin_port')
            span.text-muted = @shipment.collection_route.origin_port.name
          .d-flex.flex-column.font-weight-bold.col-xl-6
            span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.delivery_route.destiny_port')
            span.text-muted = @shipment.delivery_route.destiny_port.name
  .col-lg-6.col-xxl-8.order-1.order-xxl-1
    // = render 'admin/shipments/mapbox'
.row
  .col-lg-4.col-xxl-4
    = render 'admin/shipments/chat'
  .col-lg-8.col-xxl-4.order-1.order-xxl-1
    = render 'admin/shipments/trip_plan'
    = render 'admin/shipments/updates'