.card.card-custom.card-stretch.gutter-b
  .card-header.align-items-center.px-4.py-3
    .text-left.flex-grow-1
    .text-center.flex-grow-1
      .text-dark-75.font-weight-bold.font-size-h5 = @shipment.client.principal_contact.name
      div
        span.label.label-dot.label-success
        span.font-weight-bold.text-muted.font-size-sm Active
    .text-right.flex-grow-1
  .card-body
    .scroll.scroll-pull data-height="375" data-mobile-height="300"
      .messages
        .d-flex.flex-column.mb-5.align-items-end
          .d-flex.align-items-center
            div
              span.text-muted.font-size-sm.mr-3 3 minutes
              span.text-dark-75.text-hover-primary.font-weight-bold.font-size-h6 = @shipment.client.principal_contact.name
            - if @shipment.client.principal_contact.user.avatar.attached?
              .symbol.symbol-circle.symbol-40.ml-3
                = image_tag(@shipment.client.principal_contact.user.avatar.service_url)
            - else
              .symbol.symbol-circle.symbol-40.ml-3.symbol-light-secondary
                span.symbol-label
                  = @shipment.client.principal_contact.name.initials
          .mt-2.rounded.p-5.bg-light-primary.text-dark-50.font-weight-bold.font-size-lg.text-right.max-w-400px Hey there, we’re just writing to let you know that you’ve been subscribed to a repository on GitHub.
        .d-flex.flex-column.mb-5.align-items-start
          .d-flex.align-items-center
            - if current_user.avatar.attached?
              .symbol.symbol-circle.symbol-40.mr-3
                = image_tag(current_user.avatar.service_url)
            - else
              .symbol.symbol-circle.symbol-40.mr-3.symbol-light-secondary
                span.symbol-label
                  = current_user.employee.name.initials
            div
              span.text-dark-75.text-hover-primary.font-weight-bold.font-size-h6 = current_user.employee.name
              span.text-muted.font-size-sm.ml-2 40 seconds

          .mt-2.rounded.p-5.bg-light-success.text-dark-50.font-weight-bold.font-size-lg.text-leftmax-w-400px Ok, Understood!
  .card-footer.align-items-center
    textarea.form-control.border-0.p-0 rows="2" placeholder="Type a message"
    .d-flex.align-items-center.justify-content-between.mt-5
      .mr-3
        a href="#" class="btn btn-clean btn-icon btn-md mr-1"
          i.fas.fa-camera.icon-lg
        a href="#" class="btn btn-clean btn-icon btn-md"
          i.fas.fa-image.icon-lg
      div
        button.btn.btn-primary.btn-md.text-uppercase.font-weight-bold.chat-send.py-2.px-6 type="button" Send