.card.card-custom.card-stretch.gutter-b
  .card-header.border-0.pt-5
    h3.card-title.align-items-start.flex-column = t('views.admin.shipments.show.tabs.activity.shipment_information')
  .card-body.pt-8
    .row
      .col-sm-12
        table.table.table-separate.table-head-custom.collapsed#kt_datatable_products
          thead
            tr
              th.pl-0.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.description')
              th.pl-0.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.packaging_type')
              th.text-right.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.pieces')
              th.text-right.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.length')
              th.text-right.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.height')
              th.text-right.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.width')
              th.text-right.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.weight')
              th.text-right.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.volume')
          tbody
            - unless @shipment.shipment_units.blank?
              - @shipment.shipment_units.each do |shipment_detail|
                tr.font-weight-boldest
                  td.pl-0.pt-7 = shipment_detail.product.name
                  td.pl-0.pt-7 = shipment_detail.packaging_type.code
                  td.text-right.pt-7 = shipment_detail.number_units
                  td.text-right.pt-7 = shipment_detail.length
                  td.text-right.pt-7 = shipment_detail.height
                  td.text-right.pt-7 = shipment_detail.width
                  td.text-right.pt-7 = shipment_detail.weight
                  td.text-right.pt-7 = shipment_detail.volume

    .row
      .col-sm-12
        .table-responsive
          table.table
            thead
              th.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.total_pieces')
              th.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.total_weight')
              th.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.total_volume')
              th.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.total_weight_volume')
            tbody
              tr.font-weight-bolder
                td.font-weight-bolder = @shipment.total_pieces
                td.font-weight-bolder = @shipment.total_weight
                td.font-weight-bolder = @shipment.total_volume
                td.font-weight-bolder = @shipment.chargeable_weight