<div class="card card-custom card-stretch gutter-b">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <%= t('views.admin.shipments.show.tabs.activity.shipment_route') %>
    </h3>
  </div>
  <div class="card-body pt-8">
    <div class="d-flex align-items-center mb-10" id='map' style='width: auto; height: 400px;'></div>
  </div>
</div>
<script>
    longitudeOriginPort = <%= @shipment.collection_route.origin_port.longitude %>;
    latitudeOriginPort = <%= @shipment.collection_route.origin_port.latitude %>;

    longitudeDestinyPort = <%= @shipment.delivery_route.destiny_port.longitude %>;
    latitudeDestinyPort = <%= @shipment.delivery_route.destiny_port.latitude %>;

    mapboxgl.accessToken = 'pk.eyJ1IjoiYXJvZHJpZ3VlejkyIiwiYSI6ImNrbjh1cWp3OTExZ3kyb2xnaGNiaDRzeGQifQ.j7QBl9gTvpmdm7jwAmiCZA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 1
    });

    const origin = [longitudeOriginPort, latitudeOriginPort];
    const destiny = [longitudeDestinyPort, latitudeDestinyPort];

    const route = {
        'type': 'FeatureCollection',
        'features': [{
            'type': 'Feature',
            'geometry': {
                'type': 'LineString',
                'coordinates': [origin, destiny]
            }
        }]
    }

    // Coordinates are initially set to origin.
    var point = {
        'type': 'FeatureCollection',
        'features': [
            {
                'type': 'Feature',
                'properties': {},
                'geometry': {
                    'type': 'Point',
                    'coordinates': origin
                }
            }
        ]
    };

    // Calculate the distance in kilometers between route start/end point.
    var lineDistance = turf.length(route.features[0]);

    var arc = [];

    var steps = 500;

    // Draw an arc between the `origin` & `destination` of the two points
    for (var i = 0; i < lineDistance; i += lineDistance / steps) {
        var segment = turf.along(route.features[0], i);
        arc.push(segment.geometry.coordinates);
    }

    route.features[0].geometry.coordinates = arc;

    map.on('load', function () {
        // Add a source and layer displaying a point which will be animated in a circle.
        map.addSource('route', {
            'type': 'geojson',
            'data': route
        });

        map.addSource('point', {
            'type': 'geojson',
            'data': point
        });

        map.addLayer({
            'id': 'route',
            'source': 'route',
            'type': 'line',
            'paint': {
                'line-width': 2,
                'line-color': '#ff671d'
            }
        });

        map.addLayer({
            'id': 'point',
            'source': 'point',
            'type': 'symbol',
            'layout': {
                'icon-image': 'airport-15',
                'icon-rotate': ['get', 'bearing'],
                'icon-rotation-alignment': 'map',
                'icon-allow-overlap': true,
                'icon-ignore-placement': true
            }
        });
    });


</script>