.dropdown.dropdown-inline.mr-2
  button.btn.btn-sm.btn-primary.font-weight-bolder.dropdown-toggle type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    span.svg-icon.svg-icon-md
      = render 'shared/icons/new'
    = t('views.shared.buttons.new')
  .dropdown-menu.dropdown-menu-sm.dropdown-menu-right
    ul.nav.flex-column.nav-hover
      li.nav-item
        = link_to new_admin_shipment_path(transportation_method: 'aerial'), class: 'nav-link' do
          i.nav-icon.fas.fa-plane
          span.nav-text = t('enums.port.transportation_method.aerial')
      li.nav-item
        = link_to new_admin_shipment_path(transportation_method: 'land'), class: 'nav-link' do
          i.nav-icon.fas.fa-truck
          span.nav-text = t('enums.port.transportation_method.land')
      li.nav-item
        = link_to new_admin_shipment_path(transportation_method: 'maritime'), class: 'nav-link' do
          i.nav-icon.fas.fa-ship
          span.nav-text = t('enums.port.transportation_method.maritime')
