.flex-row-fluid
  .card.card-custom.gutter-b
    .card-body
      ul.dashboard-tabs.nav.nav-pills.nav-primary.row.row-paddingless.m-0.p-0 role="tablist"
        li.nav-item.d-flex.col.flex-grow-1.flex-shrink-0.mr-3.mb-3.mb-lg-0
          a.nav-link.border.py-10.d-flex.flex-grow-1.rounded.flex-column.align-items-center.active data-toggle="pill" href="#tab_forms_activity"
            span.nav-icon.py-2.w-auto
              span.svg-icon.svg-icon-3x
                = render 'shared/icons/activity'
            span.nav-text.font-size-lg.py-2.font-weight-bold.text-center = t('views.admin.shipments.show.tabs.activity.title')

        li.nav-item.d-flex.col.flex-grow-1.flex-shrink-0.mr-3.mb-3.mb-lg-0
          a.nav-link.border.py-10.d-flex.flex-grow-1.rounded.flex-column.align-items-center data-toggle="pill" href="#tab_forms_shipments"
            span.nav-icon.py-2.w-auto
              span.svg-icon.svg-icon-3x
                i.fas.fa-ship.fa-3x
            span.nav-text.font-size-lg.py-2.font-weight-bold.text-center = t('views.admin.shipments.show.tabs.shipment')

        li.nav-item.d-flex.col.flex-grow-1.flex-shrink-0.mr-3.mb-3.mb-lg-0
          a.nav-link.border.py-10.d-flex.flex-grow-1.rounded.flex-column.align-items-center data-toggle="pill" href="#tab_forms_documents"
            span.nav-icon.py-2.w-auto
              span.svg-icon.svg-icon-3x
                i.fas.fa-file.fa-3x
            span.nav-text.font-size-lg.py-2.font-weight-bold.text-center = t('views.admin.shipments.show.tabs.documents')

        li.nav-item.d-flex.col.flex-grow-1.flex-shrink-0.mr-3.mb-3.mb-lg-0
          a.nav-link.border.py-10.d-flex.flex-grow-1.rounded.flex-column.align-items-center data-toggle="pill" href="#tab_forms_commodity"
            span.nav-icon.py-2.w-auto
              span.svg-icon.svg-icon-3x
                i.fas.fa-boxes.fa-3x
            span.nav-text.font-size-lg.py-2.font-weight-bold.text-center = t('views.admin.shipments.show.tabs.commodity')

        li.nav-item.d-flex.col.flex-grow-1.flex-shrink-0.mr-3.mb-3.mb-lg-0
          a.nav-link.border.py-10.d-flex.flex-grow-1.rounded.flex-column.align-items-center data-toggle="pill" href="#tab_forms_purchase_orders"
            span.nav-icon.py-2.w-auto
              span.svg-icon.svg-icon-3x
                i.fas.fa-receipt.fa-3x
            span.nav-text.font-size-lg.py-2.font-weight-bold.text-center = t('views.admin.shipments.show.tabs.purchase_orders')

        li.nav-item.d-flex.col.flex-grow-1.flex-shrink-0.mr-3.mb-3.mb-lg-0
          a.nav-link.border.py-10.d-flex.flex-grow-1.rounded.flex-column.align-items-center data-toggle="pill" href="#tab_forms_quote"
            span.nav-icon.py-2.w-auto
              span.svg-icon.svg-icon-3x
                = render 'shared/icons/calculator'
            span.nav-text.font-size-lg.py-2.font-weight-bold.text-center = t('views.admin.shipments.show.tabs.quotes')

        li.nav-item.d-flex.col.flex-grow-1.flex-shrink-0.mr-3.mb-3.mb-lg-0
          a.nav-link.border.py-10.d-flex.flex-grow-1.rounded.flex-column.align-items-center data-toggle="pill" href="#tab_forms_invoice"
            span.nav-icon.py-2.w-auto
              span.svg-icon.svg-icon-3x
                i.fas.fa-file-invoice-dollar.fa-3x
            span.nav-text.font-size-lg.py-2.font-weight-bold.text-center = t('views.admin.shipments.show.tabs.invoices')