.card.card-custom.card-stretch.gutter-b.card-stretch-half
  .card-header.border-0.pt-5
    h3.card-title.align-items-start.flex-column = t('views.admin.shipments.show.tabs.activity.shipment_plan')
  .card-body.pt-8
    .d-flex.align-items-center.mb-10.row
      .card-timeline.px-2
        ul.bs4-order-tracking
          li class="step #{'active' if @shipment.full_status1?}"
            div
              i.fas.fa-ship
            = t('enums.shipment.status.waiting_collection')
          li class="step #{'active' if @shipment.full_status2?}"
            div
              i.fas.fa-ship
            = t('enums.shipment.status.in_transit')
          li class="step #{'active' if @shipment.full_status3?}"
            div
              i.fas.fa-ship
            = t('enums.shipment.status.delivery_route')
          li class="step #{'active' if @shipment.full_status4?}"
            div
              i.fas.fa-ship
            = t('enums.shipment.status.delivered')
        .row.mb-3
          .col-xl-6
            .text-left = @shipment.collection_route.origin_port.name
          .col-xl-6
            .text-right = @shipment.delivery_route.destiny_port.name