= render 'shared/subheader', custom_button: false, export_button: false, back_button: false, back_button_route: '', new_button: false, new_button_route: new_admin_shipment_path, quote_button: false, shipment_button: true, rate_button: false
.d-flex.flex-column-fluid
  .container
    .row
      .col-xl-12
        .card.card-custom.gutter-b
          .card-body
            .row
              .col-xl-6
                = link_to admin_shipments_path(service_mode: 1), class: 'btn btn-filter btn-sm mr-1', remote: true do
                  i.fas.fa-truck.fa-2x style="color: #fff"
                = link_to admin_shipments_path(service_mode: 0), class: 'btn btn-filter btn-sm mr-1', remote: true do
                  i.fas.fa-plane.fa-2x style="color: #fff"
                = link_to admin_shipments_path(service_mode: 2), class: 'btn btn-filter btn-sm mr-1', remote: true do
                  i.fas.fa-ship.fa-2x style="color: #fff"
                = link_to admin_shipments_path, class: 'btn btn-filter btn-sm mr-1' do
                  i.fas.fa-broom.fa-2x style="color: #fff"
            #shipments.mt-4
              - unless @shipments.blank?
                = render @shipments
              - else
                .not-register
                  = "#{t('views.shared.text.not_records')} de #{t('activerecord.models.shipment.other')}."
            - if @shipments.current_page == @shipments.total_pages
            - else
              p.d-flex.justify-content-center id="view-more"
                = link_to(t('views.shared.buttons.load_more'), url_for(page: @shipments.current_page + 1), class: 'btn btn-info', remote: true)
javascript:
  $(document).ready(function () {
      $(window).scroll(function() {
          const url = $('#view-more a').attr('href');
          if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
              $('#view-more').html('Obteniendo más posts');
              return $.getScript(url);
          }
      });
      return $(window).scroll();
  });