= simple_form_for @phone, url: url_for(controller: 'admin/middlemen', action: action_controller), remote: true do |f|
  = f.hidden_field :phoneable_type, value: 'Middleman'
  = f.hidden_field :phoneable_id, value: @middleman.id
  = f.hidden_field :code
  = hidden_field_tag :full_mobile_phone, @phone.full_mobile_phone  
  = hidden_field_tag :phone_id, @phone.id
  = submit_tag '', class: "btn btn-primary", id: 'btn-submit-form', style: "display: none;"
  .row
    .col-xl-4.col-sm-12
      = f.input :type_phone, prompt: t('views.shared.prompt.type_phone.large')
    .col-xl-4.col-sm-12.hide-element#country-code
      = f.input :mobile_number, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: 'country-code-tel' }
    .col-xl-4.hide-element#phone-code
      = f.input :number, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: 'extension-code-tel' }
    .col-xl-2.hide-element#extension-code
      = f.input :extension, placeholder: t('activerecord.attributes.phone.extension')
javascript:
    $(document).ready(function () {
        const input = $(".country-code-tel");
        if ($('#phone_type_phone').val() === '') {
            console.log("ninguna opcion");
            $('#country-code').addClass('hide-element');
            $('#extension-code').addClass('hide-element');
            $('#phone-code').addClass('hide-element');
            $('#phone_extension').val('');
            $('.extension-code-tel').val('');
            $(".country-code-tel").val('');
        } else if ($('#phone_type_phone').val() === 'permanent') {
            // Telefono fijo
            console.log("telefono fijo");
            if (!$("#country-code").hasClass('hide-element')) {
                $('#country-code').addClass('hide-element');
                $(".country-code-tel").val('');
            }
            $('#extension-code').removeClass('hide-element');
            $('#phone-code').removeClass('hide-element');
        } else {
            // Telefono movil
            input.intlTelInput({
                formatOnInit: true,
                separateDialCode: false,
                placeholderNumberType: 'MOBILE',
                initialCountry: "mx",
                nationalMode: false,
                hiddenInput: "full",
            });
            let full_mobile_phone = $('#full_mobile_phone').val();
            console.log(full_mobile_phone);
            input.intlTelInput("setNumber", full_mobile_phone);
            if (!$("#extension-code").hasClass('hide-element')) {
                $('#extension-code').addClass('hide-element');
                $('#phone-code').addClass('hide-element');
                $('#phone_extension').val('');
                $('.extension-code-tel').val('');
            }
            $('#country-code').removeClass('hide-element');
        }

        $('#phone_type_phone').on('change', function() {
            if ($('#phone_type_phone').val() === '') {
                console.log("ninguna opcion");
                $('#country-code').addClass('hide-element');
                $('#extension-code').addClass('hide-element');
                $('#phone-code').addClass('hide-element');
                $('#phone_extension').val('');
                $('.extension-code-tel').val('');
                $(".country-code-tel").val('');
            } else if ($('#phone_type_phone').val() === 'permanent') {
                console.log("telefono fijo");
                if (!$("#country-code").hasClass('hide-element')) {
                    $('#country-code').addClass('hide-element');
                    $(".country-code-tel").val('');
                }
                $('#extension-code').removeClass('hide-element');
                $('#phone-code').removeClass('hide-element');
            } else {
                console.log('telefono movil');
                input.intlTelInput({
                    formatOnInit: true,
                    separateDialCode: false,
                    placeholderNumberType: 'MOBILE',
                    initialCountry: "mx",
                    nationalMode: false,
                    hiddenInput: "full",
                });
                if (!$("#extension-code").hasClass('hide-element')) {
                    $('#extension-code').addClass('hide-element');
                    $('#phone-code').addClass('hide-element');
                    $('#phone_extension').val('');
                    $('.extension-code-tel').val('');
                }
                $('#country-code').removeClass('hide-element');
            }
        });

        $("#new_phone").submit(function () {
            let countryData = $('#phone_mobile_number').intlTelInput("getSelectedCountryData");
            let countryCode = countryData.dialCode
            $('#phone_code').val(countryCode);
        });

        $(".edit_phone").submit(function () {
            let countryData = $('#phone_mobile_number').intlTelInput("getSelectedCountryData");
            let countryCode = countryData.dialCode
            $('#phone_code').val(countryCode);
        });
        $('#btn_submit_modal').click(function () {
            $('#phones_information_tab_4').trigger("click");
        });
    });
