.col-6.col-md-3
  .mb-8.d-flex.flex-column
    span.text-dark.font-weight-bold.mb-4
      font style="vertical-align: inherit;" = t('activerecord.attributes.rate.pol_code')
    span.text-muted.font-weight-bolder.font-size-lg = @rate.origin_port.port_identifier
.col-6.col-md-3
  .mb-8.d-flex.flex-column
    span.text-dark.font-weight-bold.mb-4
      font style="vertical-align: inherit;" = t('activerecord.attributes.rate.origin_port')
    span.text-muted.font-weight-bolder.font-size-lg = @rate.origin_port.name
.col-6.col-md-3
  .mb-8.d-flex.flex-column
    span.text-dark.font-weight-bold.mb-4
      font style="vertical-align: inherit;" = t('activerecord.attributes.rate.pod_code')
    span.text-muted.font-weight-bolder.font-size-lg = @rate.discharge_port.port_identifier
.col-6.col-md-3
  .mb-8.d-flex.flex-column
    span.text-dark.font-weight-bold.mb-4
      font style="vertical-align: inherit;" = t('activerecord.attributes.rate.discharge_port')
    span.text-muted.font-weight-bolder.font-size-lg = @rate.discharge_port.name
.col-6.col-md-3
  .mb-8.d-flex.flex-column
    span.text-dark.font-weight-bold.mb-4
      font style="vertical-align: inherit;" = t('activerecord.attributes.rate.freight_rate')
    span.text-muted.font-weight-bolder.font-size-lg = @rate.freight_rate
.col-6.col-md-3
  .mb-8.d-flex.flex-column
    span.text-dark.font-weight-bold.mb-4
      font style="vertical-align: inherit;" = t('activerecord.attributes.rate.minimal_cost')
    span.text-muted.font-weight-bolder.font-size-lg = @rate.minimal_cost
.col-6.col-md-3
  .mb-8.d-flex.flex-column
    span.text-dark.font-weight-bold.mb-4
      font style="vertical-align: inherit;" = t('activerecord.attributes.rate.transite_time')
    span.text-muted.font-weight-bolder.font-size-lg = @rate.transite_time
.col-6.col-md-3
  .mb-8.d-flex.flex-column
    span.text-dark.font-weight-bold.mb-4
      font style="vertical-align: inherit;" = t('activerecord.attributes.rate.frequency')
    span.text-muted.font-weight-bolder.font-size-lg = t("enums.rate.frequency.#{@rate.frequency}")
.col-6.col-md-3
  .mb-8.d-flex.flex-column
    span.text-dark.font-weight-bold.mb-4
      font style="vertical-align: inherit;" = t('activerecord.attributes.rate.via_code')
    span.text-muted.font-weight-bolder.font-size-lg = @rate.via_code
.col-6.col-md-3
  .mb-8.d-flex.flex-column
    span.text-dark.font-weight-bold.mb-4
      font style="vertical-align: inherit;" = t('activerecord.attributes.rate.via')
    span.text-muted.font-weight-bolder.font-size-lg = @rate.via
.col-6.col-md-3
  .mb-8.d-flex.flex-column
    span.text-dark.font-weight-bold.mb-4
      font style="vertical-align: inherit;" = t('activerecord.attributes.rate.free_days')
    span.text-muted.font-weight-bolder.font-size-lg = @rate.free_days.nil? ? 0 : @rate.free_days
.col-6.col-md-3
  .mb-8.d-flex.flex-column
    span.text-dark.font-weight-bold.mb-4
      font style="vertical-align: inherit;" = t('activerecord.attributes.rate.guarantee_letter')
    span.text-muted.font-weight-bolder.font-size-lg = @rate.guarantee_letter? ? 'No' : 'Si'