.row
  .col-xl-6
    = link_to admin_tariffs_path(service_mode: 1), class: 'btn btn-filter btn-sm mr-1', remote: true do
      i.fas.fa-truck.fa-2x style="color: #fff"
    = link_to admin_tariffs_path(service_mode: 0), class: 'btn btn-filter btn-sm mr-1', remote: true do
      i.fas.fa-plane.fa-2x style="color: #fff"
    = link_to admin_tariffs_path(service_mode: 2), class: 'btn btn-filter btn-sm mr-1', remote: true do
      i.fas.fa-ship.fa-2x style="color: #fff"
    = link_to admin_tariffs_path, class: 'btn btn-filter btn-sm mr-1' do
      i.fas.fa-broom.fa-2x style="color: #fff"
  .col-xl-6
    = form_for [:admin, @tariffs_import], multipart: true do |f|
      = render 'admin/tariffs/import', f: f
.table-responsive.mt-4
  table.table style="border-spacing: 2px;"
    tbody#rates
      = render 'admin/tariffs/rate'
= link_to "Load more", admin_tariffs_path(page: @rates.current_page+1), id: "load-more-posts", remote: true
