<div class="input-group mb-3">
  <%= text_field :rate, :pol_code, prompt: t('activerecord.attributes.rate.pol_code'), class: 'form-control', placeholder: t('activerecord.attributes.rate.pol_code'), readonly: true %>
  <select class="custom-select" id="inputGroupSelect01">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>