.wizard.wizard-1#kt_wizard_v1 data-wizard-state="first" data-wizard-clickable="false"
  /--begin::Wizard Nav--
  .wizard-nav.border-bottom
    .wizard-steps.p-8.p-lg-10
      = render 'admin/tariffs/wizard_steps'
  /--end::Wizard Nav--
  /--begin::Wizard Body--
  .row.justify-content-center.my-10.px-8.my-lg-15.px-lg-10
    .col-xl-12.col-xxl-7
      = simple_form_for [:admin, @tariff], html: { class: "form fv-plugins-bootstrap fv-plugins-framework", id: "kt_form" } do |f|
        / Step 1
        .pb-5 data-wizard-type="step-content" data-wizard-state="current"
          = render 'admin/tariffs/tariff', f: f
        / Step 2
        .pb-5 data-wizard-type="step-content"
          h3.mb-10.font-weight-bold.text-dark = t('views.admin.tariffs.new.wizard.step2.subtitle')
          .card.card-border
            .card-body
              #rates
                = f.simple_fields_for :rates do |rate|
                  = render 'rate_fields', f: rate
            .card-footer
              .links
                = link_to_add_association f, :rates do
                  i.fas.fa-plus-circle.fs
                  = t('views.shared.buttons.add')
        .d-flex.justify-content-between.border-top.mt-5.pt-10
          .mr-2
            button.btn.btn-light-primary.font-weight-bold.text-uppercase.px-9.py-4 type="button" data-wizard-type="action-prev" = t('views.shared.buttons.previous')
          div
            = f.submit button_primary, class: 'btn btn-success font-weight-bol text-uppercase px-9 py-4', 'data-wizard-type': "action-submit"
            button.btn.btn-primary.font-weight-bold.text-uppercase.px-9.py-4 type="button" data-wizard-type="action-next" = t('views.shared.buttons.next')
        /--end::Wizard Body--
javascript:
    $(document).ready(function() {
        KTWizard1.init();
    });