<div class="input-group">
  <label class="input-group-btn my-0">
    <span class="btn btn-large btn-outline-primary rounded-0" id="browse">
        Browse…
      <%= f.file_field :file, id: 'csv-input', accept: '.csv,.xls, .xlsx' %>
    </span>
  </label>
  <input type="text" class="form-control rounded-0" readonly="" placeholder="Upload CSV">
  <div class="input-group-append">
    <%= f.submit "Import", class: "btn btn-filter btn-sm" %>
  </div>
</div>
<script>
    $(function() {
        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on("change", ":file", function() {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input
                    .val()
                    .replace(/\\/g, "/")
                    .replace(/.*\//, "");
            input.trigger("fileselect", [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready(function() {
            $(":file").on("fileselect", function(event, numFiles, label) {
                var input = $(this)
                        .parents(".input-group")
                        .find(":text"),
                    log = numFiles > 1 ? numFiles + " files selected" : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });
        });
    });
</script>
