.nested-fields
  = f.hidden_field :id
  = f.hidden_field :_destroy
  .row
    .col-xl-2
      .form-group.fv-plugins-icon-container
        = label_tag :pol_code, t('activerecord.attributes.rate.pol_code')
        = text_field :rate, :pol_code, prompt: t('activerecord.attributes.rate.pol_code'), class: 'form-control', placeholder: t('activerecord.attributes.rate.pol_code'), readonly: true
    .col-xl-3
      .form-group.fv-plugins-icon-container
        = f.association :origin_port, prompt: t('activerecord.attributes.rate.origin_port')
    .col-xl-2
      .form-group.fv-plugins-icon-container
        = label_tag :pod_code, t('activerecord.attributes.rate.pod_code')
        = text_field :rate, :pod_code, prompt: t('activerecord.attributes.rate.pod_code'), class: 'form-control', placeholder: t('activerecord.attributes.rate.pod_code'), readonly: true
    .col-xl-3
      .form-group.fv-plugins-icon-container
        = f.association :discharge_port, prompt: t('activerecord.attributes.rate.discharge_port')
    .col-xl-2
      = link_to_remove_association f do
        i.fas.fa-trash-alt.text-danger
  .row
    .col-xl-2
      .form-group.fv-plugins-icon-container
        = f.input :freight_rate, placeholder: t('activerecord.attributes.rate.freight_rate')
    .col-xl-3
      .form-group.fv-plugins-icon-container
        = f.input :minimal_cost, placeholder: t('activerecord.attributes.rate.minimal_cost')
    .col-xl-2
      .form-group.fv-plugins-icon-container
        = f.input :via_code, placeholder: t('activerecord.attributes.rate.via_code')
    .col-xl-3
      .form-group.fv-plugins-icon-container
        = f.input :via, placeholder: t('activerecord.attributes.rate.via')
  .row
    .col-xl-2
      .form-group.fv-plugins-icon-container
        = f.input :frequency, prompt: t('views.shared.prompt.frequency')
    .col-xl-3
      .form-group.fv-plugins-icon-container
        = f.input :transite_time, placeholder: t('activerecord.attributes.rate.transite_time')
    .col-xl-2
      .form-group.fv-plugins-icon-container
        = f.input :free_days, prompt: t('views.shared.prompt.frequency')
  .row
    .col-xl-2
      .form-group.fv-plugins-icon-container
        = f.input :guarantee_letter
 