- unless @surcharges.blank?
  - @surcharges.each do |sc|
    tr
      td = sc.surcharge.code
      td = sc.currency.code
      td = sc.value
      td = sc.type_surcharge
      td nowrap="nowrap"
        = link_to(edit_admin_rate_surcharge_path(sc, rate_id: sc.rate_id), class: 'btn btn-sm btn-clean btn-icon', remote: true) do
          span.svg-icon.svg-icon-md.svg-icon-primary
            i.fas.fa-edit

        = link_to({ action: :destroy, id: sc.id }, class: "btn btn-sm btn-clean btn-icon", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }, remote: true) do
          span.svg-icon.svg-icon-md.svg-icon-danger
            i.fas.fa-trash
- else
  tr.text-center
    td.font-weight-bolder.text-danger style="font-size: 16px" colspan="5" = t('views.shared.text.not_records')