h4.mb-10.font-weight-bold.text-dark = t('views.admin.tariffs.new.wizard.step1.subtitle')
.row
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.input :started_at, as: :calendar_picker, placeholder: t('activerecord.attributes.tariff.started_at')
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.input :ended_at, as: :calendar_picker, placeholder: t('activerecord.attributes.tariff.ended_at')
.row
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.input :service_mode, placeholder: t('activerecord.attributes.agent.rfc'), prompt: t('views.shared.prompt.service_mode')
      .fv-plugins-message-container
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.association :carrier, prompt: t('views.shared.prompt.carrier')
      .fv-plugins-message-container
.row.hide-element.freight_type
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.association :freight_type, prompt: t('views.shared.prompt.freight_type')
      .fv-plugins-message-container

javascript:
    $(function () {
        $('#tariff_started_at_datetimepicker').datetimepicker({
            format: "DD-MM-YYYY",
            buttons: { showToday:true },
            icons:
                {
                    today: 'fas fa-calendar-check',
                    previous: 'fas fa-arrow-left',
                    next: 'fas fa-arrow-right',
                }
        });
        $('#tariff_ended_at_datetimepicker').datetimepicker({
            format: "DD-MM-YYYY",
            buttons: { showToday: true },
            icons:
                {
                    today: 'fas fa-calendar-check',
                    previous: 'fas fa-arrow-left',
                    next: 'fas fa-arrow-right',
                }
        });

        $('#tariff_service_mode').on('change', function() {
            console.log(this.value);
            $.ajax({
                url: "/admin/tariffs/filter_freight_types/" + $(this).val(),
                type: "get",
                success: function (data) {
                    console.log("encontro");
                    console.log(data);
                    if (jQuery.isEmptyObject(data)) {
                        if (!$(".freight_type").hasClass('hide-element')) {
                            $(".freight_type").addClass('hide-element');
                        }
                    } else {
                        if ($(".freight_type").hasClass('hide-element')) {
                            $(".freight_type").removeClass('hide-element');
                        }
                        var listitems = ["<option value=''>Seleccione un tipo de flete</option>"];
                        $.each(data, function (key, value) {
                            listitems += '<option value="' + value.id + '">' + value.code + '</option>';
                        });
                        console.log(listitems);

                        $("#tariff_freight_type_id").empty().append(listitems);
                    }
                },
                error: function (data) {
                }
            });

            $.ajax({
                url: "/admin/tariffs/filter_carriers/" + $(this).val(),
                type: "get",
                success: function (data) {
                    console.log("encontro");
                    console.log(data);
                    if (jQuery.isEmptyObject(data)) {
                    } else {
                        var listitems = ["<option value=''>Seleccione un transportista</option>"];
                        $.each(data, function (key, value) {
                            listitems += '<option value="' + value.id + '">' + value.name + '</option>';
                        });
                        console.log(listitems);

                        $("#tariff_carrier_id").empty().append(listitems);
                    }
                },
                error: function (data) {
                }
            });
        });
    });