.wizard-step data-wizard-type="step" data-wizard-state="current"
  .wizard-label
    i.wizard-icon.fas.fa-truck
    h3.wizard-title = "1. #{t('views.admin.tariffs.new.wizard.step1.title')}"
  span.svg-icon.svg-icon-xl.wizard-arrow
    = render 'shared/icons/arrow_right'
.wizard-step data-wizard-type="step" data-wizard-state="pending"
  .wizard-label
    i.wizard-icon.fas.fa-map-marked
    h3.wizard-title = "2. #{t('views.admin.tariffs.new.wizard.step2.title')}"
  span.svg-icon.svg-icon-xl.wizard-arrow
    = render 'shared/icons/arrow_right'