<% if params[:page] %>
  $('#rates').append('<%= escape_javascript render('admin/tariffs/rate') %>');
<% else %>
  $("#rates").html("<%= j render partial: 'admin/tariffs/rate' %>");
<% end %>
<% if @rates.last_page? %>
  $("#load-more-posts").hide();
<% else %>
  $('#load-more-posts').replaceWith("<%= escape_javascript(link_to_next_page(@rates, 'Load more', :remote => true, :id=>'load-more-posts' ))%>");
<% end %>