= render 'shared/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: admin_tariffs_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  .container-fluid
    .d-flex.flex-row
      .flex-row-fluid
        .row
          .col-md-7.col-lg-12.col-xxl-7
            .card.card-custom.card-stretch.gutter-b
              .card-body.p-15.pb-20
                = render 'admin/rate_surcharges/modal'
                = render 'admin/rates/modal'
                .row.mb-17
                  .col-xxl-5.mb-11.mb-xxl-0
                    .card.card-custom.card-stretch
                      .card-body.p-0.rounded.px-10.py-15.d-flex.align-items-center.justify-content-center style="background-color: #FFCC69;"
                        - if @tariff.carrier.logo.attached?
                          = image_tag(@tariff.carrier.logo.service_url, class: 'mw-100 w-200px', style: 'transform: scale(1.6);')
                        - else
                          = image_tag('carriers/default.png', class: 'mw-100 w-200px')
                  .col-xxl-7.pl-xxl-11
                    h2.font-weight-bolder.text-dark.mb-7 style="font-size: 32px;"
                      font style="vertical-align: inherit;" = @tariff.carrier.name
                    .font-size-h2.mb-7.text-dark-50
                      font style="vertical-align: inherit;" = "#{t('views.admin.tariffs.show.validity')}:"
                      span.text-info.font-weight-boldest.ml-2
                        - if @tariff.started_at.nil?
                          font style="vertical-align: inherit;" = @tariff.ended_at.blank? ? '' : @tariff.ended_at.strftime("%d-%m-%Y")
                        - else
                          font style="vertical-align: inherit;"
                            = "Del #{@tariff.started_at.blank? ? '' : @tariff.started_at.strftime("%d-%m-%Y")} al #{@tariff.ended_at.blank? ? '' : @tariff.ended_at.strftime("%d-%m-%Y")}"
                .row.mb-6#rate
                  = render 'admin/tariffs/ rate_information'
                .d-flex
                  = link_to edit_admin_rate_path(@rate.id), class: 'btn btn-light-primary font-weight-bolder mr-6 px-6 font-size-sm', remote: true do
                    span.svg-icon
                      i.fas.fa-edit
                    = t('views.shared.buttons.edit')
                  = link_to({ controller: :rates, action: :destroy, id: @rate.id }, class: "btn btn-light-danger font-weight-bolder px-8 font-size-sm", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do
                    span.svg-icon
                      i.fas.fa-trash
                    = t('views.shared.buttons.destroy')
          .col-md-5.col-lg-12.col-xxl-5
            .card.card-custom.card-stretch.gutter-b
              .card-header.border-0.pt-6.mb-2
                h3.card-title.align-items-start.flex-column
                  span.card-label.font-weight-bold.font-size-h2.text-dark-75.mb-3 = t('activerecord.models.surcharge.other')
                  span.text-muted.font-weight-bold.font-size-sm Example
                .card-toolbar
                  = link_to new_admin_rate_surcharge_path(rate_id: @rate.id), class: 'btn btn-light-info btn-sm font-weight-bolder font-size-sm py-3 px-6', remote: true do
                    = t('views.shared.buttons.new')
              .card-body.pt-2
                .table-responsive
                  table.table.table-borderless.mb-0
                    thead
                      tr
                        th = t('activerecord.attributes.rate_surcharge.surcharge')
                        th = t('activerecord.attributes.rate_surcharge.currency')
                        th = t('activerecord.attributes.rate_surcharge.value')
                        th = t('activerecord.attributes.rate_surcharge.type_surcharge')
                        th = t('views.shared.tags.actions')
                    tbody#surcharges
                      = render 'admin/tariffs/surcharge'

