.modal-header
  h5 class="modal-title" id="modal_title" = title
  button type="button" class="close" data-dismiss="modal" aria-label="Close"
    i.ki.ki-close aria-hidden="true"
= simple_form_for [:admin, @rate_surcharge], multipart: true, remote: true, authenticity_token: true do |f|
  = f.hidden_field :rate_id, value: @rate.id
  .modal-body
    .modal-container
      .form-group.row
        .col-xl-6.col-sm-12
          = f.association :surcharge, label_method: :code, prompt: t('views.shared.prompt.surcharge')
        .col-xl-6.col-sm-12
          = f.association :currency, label_method: :code, prompt: t('views.shared.prompt.currency')
      .form-group.row
        .col-xl-6.col-sm-12
          = f.input :value, placeholder: t('activerecord.attributes.rate_surcharge.value')
        .col-xl-6.col-sm-12
          = f.input :type_surcharge, placeholder: t('activerecord.attributes.rate_surcharge.type_surcharge')
  .modal-footer
    button#btn_close_modal type="button" class="btn btn-danger font-weight-bold" data-dismiss="modal" = t('views.shared.buttons.cancel')
    = f.submit button, class: 'btn btn-success font-weight-bold'