.modal.fade#modalSurcharges data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true"
  .modal-dialog.modal-dialog-centered.modal-lg#modal-dg role="document"
    .modal-content