<% if @rate_surcharge.errors.empty? %>
  // add the row to the table, show alert and hide modal
  $("#surcharges").html("<%= j render partial: 'admin/tariffs/surcharge' %>");
  $('#modalSurcharges').modal('hide');
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
  // show first error
  $("#modal-container").html("<%= j render partial: "admin/rate_surcharges/form", locals: { title: t('views.admin.surcharges.new.title'), button: t('views.shared.buttons.save') } %>");
<% end %>