$("#modalSurcharges").modal("show");
$(".modal-content").html("<%= j render partial: "admin/rate_surcharges/form", locals: { title: t('views.admin.surcharges.edit.title'), button: t('views.shared.buttons.update') } %>");