<div class="modal fade product-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mySmallModalLabel">
          <%= t('views.admin.products.new.title') %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="ki ki-close" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [:admin, Product.new]  do |f| %>
          <div class="form-group">
            <%= f.input :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit t('views.shared.buttons.save'), id: "btnProductForm", class: "btn btn-success font-weight-bold" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
