label.col-sm-12.col-xl-3.col-form-label Portal
.col-xl-9.col-sm-12.col-form-label
  .checkbox-inline
    label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary"
      input type="checkbox" name="document[client]" id= "document_client" checked='checked'
      span
      = t('activerecord.attributes.document.client')
    label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary"
      input type="checkbox" name="document[supplier]" id="document_supplier" checked='checked'
      span
      = t('activerecord.attributes.document.supplier')