.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  table.table.table-separate.table-head-custom.collapsed#kt_datatable_documents
    thead
      tr
        th = t('activerecord.attributes.document.obligatory')
        th = t('activerecord.attributes.document.name')
    tbody
      - @documents.each do |document|
        tr
          td
            - if document.obligatory
              i.fas.fa-lock.fa-2x
            - else
              i.fas.fa-unlock.fa-2x
          td = link_to document.name, admin_document_path(document.id)
javascript:
    jQuery(document).ready(function () {
        KTDatatablesDocuments.init();
    });