= simple_form_for [:admin, @document] do |f|
  .card-body
    .container-fluid
      .form-group.row
        label.col-sm-12.col-xl-3.col-form-label.text-right = t('activerecord.attributes.document.name')
        .col-lg-9.col-xl-6
          = f.input :name, label: false
      .form-group.row
        label.col-sm-12.col-xl-3.col-form-label.text-right = t('activerecord.attributes.document.document_type')
        .col-lg-9.col-xl-6
          = f.input :document_type, label: false
      .form-group.row
        label.col-sm-12.col-xl-3.col-form-label.text-right = t('activerecord.attributes.document.phase')
        .col-lg-9.col-xl-6
          = f.input :phase, label: false
      .form-group.row
        label.col-sm-12.col-xl-3.col-form-label.text-right Portal
        .col-xl-9.col-sm-12.col-form-label
          .checkbox-inline
            label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary"
              = f.check_box :client
              span
              = t('activerecord.attributes.document.client')
            label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary"
              = f.check_box :supplier
              span
              = t('activerecord.attributes.document.supplier')
      .form-group.row
        label.col-sm-12.col-xl-3.col-form-label.text-right = t('activerecord.attributes.document.active')
        .col-xl-9.col-sm-12.col-form-label
          .checkbox-inline
            label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary"
              = f.check_box :active
              span
      .form-group.row
        label.col-sm-12.col-xl-3.col-form-label.text-right = t('activerecord.attributes.document.obligatory')
        .col-xl-9.col-sm-12.col-form-label
          .checkbox-inline
            label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary"
              = f.check_box :obligatory
              span
      .row
        .col-lg-4
        .col-lg-8.text-right
          = f.submit button_primary, class: 'btn btn-success'
