= simple_form_for [:admin, @document] do |f|
  .form-group.row
    .col-lg-6
      = f.input :name
    .col-lg-6
      = f.input :document_type
  .form-group.row
    .col-lg-6
      = f.input :phase
  .form-group.row
    = render 'admin/documents/check_boxes'
  .form-group.row
    .col-lg-3
      = f.input :active
    .col-lg-3
      = f.input :obligatory
  .row
    .col-lg-4
    .col-lg-8.text-right
      = f.submit button_primary, class: 'btn btn-success'
