= render 'shared/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: admin_documents_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  .container-fluid
    .card.card-custom
      .card-header.py-3
        .card-title.align-items-start.flex-column
          h3.d-flex.align-items-center.text-dark.font-size-h4.font-weight-bold.mr-3
            = @document.name
            - if @document.obligatory
              i.text-primary.fas.fa-lock.ml-2 style="font-size: 1.5em !important;"
            - else
              i.text-primary.fas.fa-unlock.ml-2 style="font-size: 1.5em !important;"
        .card-toolbar
          = link_to edit_admin_document_path(@document.id), class: 'btn btn-sm btn-success font-weight-bolder text-uppercase mr-3' do
            span.svg-icon.svg-icon-md
              i.fas.fa-pencil-alt
              = t('views.shared.buttons.edit')
          = link_to({ action: :destroy, id: @document.id }, class: "btn btn-sm btn-danger font-weight-bolder text-uppercase", method: :delete, data: { confirm: 'Are you okay?' }) do
            span.svg-icon.svg-icon-md
              i.fas.fa-trash-alt
              = t('views.shared.buttons.destroy')
      = simple_form_for [:admin, @document] do |f|
        .card-body
          .container-fluid
            .form-group.row
              label.col-sm-12.col-xl-3.col-form-label.text-right = t('activerecord.attributes.document.document_type')
              .col-lg-9.col-xl-6
                = f.input :document_type, label: false, input_html: { disabled: true }
            .form-group.row
              label.col-sm-12.col-xl-3.col-form-label.text-right = t('activerecord.attributes.document.phase')
              .col-lg-9.col-xl-6
                = f.input :phase, label: false, input_html: { disabled: true }
            .form-group.row
              label.col-sm-12.col-xl-3.col-form-label.text-right Portal
              .col-xl-9.col-sm-12.col-form-label
                .checkbox-inline
                  label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary"
                    = f.check_box :client, disabled: true
                    span
                    = t('activerecord.attributes.document.client')
                  label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary"
                    = f.check_box :supplier, disabled: true
                    span
                    = t('activerecord.attributes.document.supplier')
            .form-group.row
              label.col-sm-12.col-xl-3.col-form-label.text-right = t('activerecord.attributes.document.active')
              .col-xl-9.col-sm-12.col-form-label
                .checkbox-inline
                  label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary"
                    = f.check_box :active, disabled: true
                    span
            .form-group.row
              label.col-sm-12.col-xl-3.col-form-label.text-right = t('activerecord.attributes.document.obligatory')
              .col-xl-9.col-sm-12.col-form-label
                .checkbox-inline
                  label class="checkbox checkbox-outline checkbox-outline-2x checkbox-primary"
                    = f.check_box :obligatory, disabled: true
                    span