.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  table.table.table-separate.table-head-custom.collapsed#kt_datatable_general
    thead
      tr
        th = t('activerecord.attributes.container.name')
        th = t('activerecord.attributes.container.internal_dimensions')
        th = t('activerecord.attributes.container.external_dimensions')
        th = t('views.shared.tags.actions')
    tbody
      - @containers.each do |container|
        tr
          td
            .d-flex.align-items-center
              .symbol.symbol-50.symbol-light-secondary
                span.symbol-label
                  = container.id
              .ml-3
                span.text-dark-75.font-weight-bold.line-height-sm.d-block.pb-2 = container.code
          td = container.internal_dimensions_metric
          td = container.external_dimensions_metric
          td nowrap="nowrap"
            = link_to [:admin, container], class: 'btn btn-sm btn-clean btn-icon' do
              span.svg-icon.svg-icon-md.svg-icon-primary
                i.fas.fa-eye
            = link_to(edit_admin_container_path(container), class: 'btn btn-sm btn-clean btn-icon') do
              span.svg-icon.svg-icon-md.svg-icon-primary
                i.fas.fa-edit
            = link_to({action: :destroy, id: container.id}, class: "btn btn-sm btn-clean btn-icon", method: :delete, data: {confirm: 'Are you okay?'}) do
              span.svg-icon.svg-icon-md.svg-icon-primary
                i.fas.fa-trash
javascript:
    jQuery(document).ready(function () {
        KTDatatablesGeneral.init();
    });