.form-group.row
  .col-lg-4.col-sm-12
    = f.input :name, placeholder: t('activerecord.attributes.container_dimension.name'), input_html: { readonly: true }
  .col-lg-2.col-sm-12
    = f.input :metric_value, placeholder: t('activerecord.attributes.container_dimension.metric_value')
  .col-lg-2.col-sm-12
    = f.association :metric_measurement, prompt: t('views.shared.prompt.unit'), label_method: :code
  .col-lg-2.col-sm-12
    = f.input :imperial_value, placeholder: t('activerecord.attributes.container_dimension.imperial_value')
  .col-lg-2.col-sm-12
    = f.association :imperial_measurement, prompt: t('views.shared.prompt.unit'), label_method: :code
