= simple_form_for [:admin, @container] do |f|
  .form-group.row
    .col-lg-6.col-sm-12
      = f.input :code, placeholder: t('activerecord.attributes.container.code')
    .col-lg-6.col-sm-12
      = f.input :name, placeholder: t('activerecord.attributes.container.name')
  .form-group.row
    .col-lg-12
      = f.input :description, placeholder: t('activerecord.attributes.container.description')
  hr
  h3.card-title = t('activerecord.models.container_dimension.other')
  #container_dimensions
    = f.simple_fields_for :container_dimensions do |container_dimension|
      = render 'admin/containers/container_dimension_fields', f: container_dimension
  .row
    .col-lg-4
    .col-lg-8.text-right
      = f.submit button_primary, class: 'btn btn-success'