= render 'shared/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: admin_containers_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  .container-fluid
    .card.card-custom
      .card-header.h-auto.py-4
        .card-title
          h3.card-label
            = @container.name
            span.d-block.text-muted.pt-2.font-size-sm = @container.code
      .card-body.py-4
        .form-group.row.my-2
          label.col-4.col-form-label = t('activerecord.attributes.container.description')
          .col-8
            span.form-control-plaintext.font-weight-bolder = @container.description
        .form-group.row.my-2
          label.col-4.col-form-label = t('activerecord.attributes.container.created_at')
          .col-8
            span.form-control-plaintext.font-weight-bolder = @container.created_at
        .form-group.row.my-2
          label.col-4.col-form-label = t('activerecord.attributes.container.updated_at')
          .col-8
            span.form-control-plaintext.font-weight-bolder = @container.updated_at
        hr
          h3.card-title = t('activerecord.models.container_dimension.other')
          .form-group.row.my-2
            label.col-4.col-form-label = t('views.admin.container_dimensions.specifications')
            .col-3
              span.form-control-plaintext.font-weight-bolder = t('views.admin.container_dimensions.metric')
            .col-3
              span.form-control-plaintext.font-weight-bolder = t('views.admin.container_dimensions.imperial')
          - @container.container_dimensions.each do |dimension|
            .form-group.row.my-2
              label.col-4.col-form-label = t("views.admin.container_dimensions.#{squish(dimension.name)}")
              .col-3
                span.form-control-plaintext.font-weight-bolder = dimension.metric_value.to_s + " " + (dimension.metric_measurement.nil? ? '' : dimension.metric_measurement.code)
              .col-3
                span.form-control-plaintext.font-weight-bolder = dimension.imperial_value.to_s + " " + (dimension.imperial_measurement.nil? ? '' : dimension.imperial_measurement.code)