- unless @senders.blank?
  - @senders.each_slice(3) do |group|
    .row.mb-2
      - group.each do |sender|
        .col-xl-4
          = render 'admin/clients/senders/sender', sender: sender
  .row
    .col-xl-12#paginator
      = paginate @senders, remote: true
- else
  .not-register
    = "#{t('views.shared.text.not_records')} de #{t('activerecord.models.sender.other')}."