= simple_form_for @sender, url: url_for(controller: 'admin/clients', action: action_controller), remote: true do |f|
  = f.hidden_field :senderable_type, value: 'Client'
  = f.hidden_field :senderable_id, value: @client.id
  = hidden_field_tag :sender_id, @sender.id
  = hidden_field_tag :id
  = submit_tag '', class: "btn btn-primary", id: 'btnSubmitSender', style: "display: none;"
  .row
    .col-xl-6
      = f.input :name, maxlength: 50, input_html: { class: 'form-control-sm'},placeholder: t('activerecord.attributes.sender.name')
    .col-xl-6
      = f.input :rfc, maxlength: 50, input_html: { class: 'form-control-sm'},placeholder: t('activerecord.attributes.sender.rfc')
  .row.mt-2
    .col-xl-6
      = f.input :email, maxlength: 50, input_html: { class: 'form-control-sm'},placeholder: t('activerecord.attributes.sender.email')
    .col-xl-6
      = f.input :contact, maxlength: 50, input_html: { class: 'form-control-sm'},placeholder: t('activerecord.attributes.sender.contact')
  .row.mt-2
    .col-xl-6
      = f.label :sender_type_ids
      = f.select :sender_type_ids, options_for_select(SenderType.all.collect { |st| [st.name, st.id] }, @sender.sender_type_ids), {}, { class: 'form-control', multiple: true }
  = f.simple_fields_for :phones do |phone|
    = render 'admin/clients/senders/phone_fields', f: phone, phoneable_type: 'Sender'
  .row.mr-2
    .col-xl-12
      = f.input :address, maxlength: 50, input_html: { class: 'form-control-sm'},placeholder: t('activerecord.attributes.sender.address')
javascript:
    $(function () {
        $('#btn_submit_modal').click(function () {
          $('#senders_information_tab_6').trigger("click");
        });
        $('#sender_sender_type_ids').selectpicker();
        $("#btnCancelSender").click(function () {
            $("#sender_form").hide();
            $("#senders").show();
        });
        $("#btnSender").click(function () {
            $('#btnSubmitSender').trigger("click");
        });
    });