.card.card-custom.card-stretch#sender_form
  .card-header.py-3
    .card-title.align-items-start.flex-column
      h3.card-label.font-weight-bolder.text-dark = t('views.admin.senders.new.title')
    .card-toolbar.align-items
      button.mr-2 id="btnCancelSender" class="btn btn-danger" = t('views.shared.buttons.cancel')
      button id="btnSender" class="btn btn-success" = @button
  .card-body
    = render 'admin/clients/senders/form', action_controller: action_controller, action: action, title: t('views.admin.senders.new.title'), button: t('views.shared.buttons.save')