.row
    .col-xl-12
        .form-group.fv-plugins-icon-container
            = f.label :sender_type_ids
                = f.select :sender_type_ids, options_for_select(SenderType.all.collect {|st| [st.name, st.id]}, @client.sender_ids), {}, { class: 'form-control selectpicker', multiple: true, data: { 'live-search': "true" } }
 