.row
  .col-xl-6
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.sender.name')}:"
      label.col-xl-9.col-lg-9.col-form-label = @sender.name
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.sender.rfc')}:"
      label.col-xl-9.col-lg-9.col-form-label = @sender.rfc
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.sender.email')}:"
      label.col-xl-9.col-lg-9.col-form-label = @sender.email
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.models.phone.one')}:"
      label.col-xl-9.col-lg-9.col-form-label
        - if @sender.extension != ""
          = @sender.phone_with_extension
        - elsif @sender.country_code != ""
          = @sender.phone_with_country_code
  .col-xl-6
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.sender.contact')}:"
      label.col-xl-9.col-lg-9.col-form-label = @sender.contact
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.sender.address')}:"
      label.col-xl-9.col-lg-9.col-form-label = @sender.address
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.sender.sender_type_ids')}:"
      label.col-xl-9.col-lg-9.col-form-label
        - sender_types = ""
        - @sender.sender_type_ids.each do |id|
          - sender_type = SenderType.find id
          - sender_types += sender_type.name + " "
        = sender_types