<div class="card card-custom card-stretch gutter-b">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <%= t('views.admin.shipments.show.tabs.activity.shipment_route') %>
    </h3>
  </div>
  <div class="card-body pt-8">
    <div class="d-flex align-items-center mb-10" id='map' style='width: auto; height: 400px;'></div>
  </div>
</div>
<script>
    longitudeOriginPort = <%= @shipment.collection_route.origin_port.longitude %>;
    latitudeOriginPort = <%= @shipment.collection_route.origin_port.latitude %>;

    longitudeDestinyPort = <%= @shipment.delivery_route.destiny_port.longitude %>;
    latitudeDestinyPort = <%= @shipment.delivery_route.destiny_port.latitude %>;

    mapboxgl.accessToken = 'pk.eyJ1IjoiYXJvZHJpZ3VlejkyIiwiYSI6ImNrbjh1cWp3OTExZ3kyb2xnaGNiaDRzeGQifQ.j7QBl9gTvpmdm7jwAmiCZA';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 1
    });

    const marker1 = new mapboxgl.Marker()
        .setLngLat([longitudeOriginPort, latitudeOriginPort])
        .addTo(map);

    const marker2 = new mapboxgl.Marker()
        .setLngLat([longitudeDestinyPort, latitudeDestinyPort])
        .addTo(map);
</script>