.card.card-custom.card-stretch.gutter-b
  .card-header.border-0.pt-5
    h3.card-title.align-items-start.flex-column = t('views.admin.shipments.show.tabs.activity.shipment_information')
  .card-body.pt-8
    .d-flex.align-items-center.mb-10.row
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.number')
        span.text-muted = @shipment.number
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.freight_type')
        span.text-muted = @shipment.freight_type.code
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.client')
        span.text-muted = @shipment.client.name
    .d-flex.align-items-center.mb-10.row
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.estimated_departured_at')
        span.text-muted = @shipment.estimated_departured_at.blank? ? '' : @shipment.estimated_departured_at.strftime("%m/%d/%Y %R")
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.estimated_arrivaled_at')
        span.text-muted = @shipment.estimated_arrivaled_at.blank? ? '' : @shipment.estimated_arrivaled_at.strftime("%m/%d/%Y %R")
    .d-flex.align-items-center.mb-10.row
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.departured_at')
        span.text-muted = @shipment.departured_at.blank? ? '' : @shipment.departured_at.strftime("%m/%d/%Y %R")
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.arrivaled_at')
        span.text-muted = @shipment.arrivaled_at.blank? ? '' : @shipment.arrivaled_at.strftime("%m/%d/%Y %R")
    .d-flex.align-items-center.mb-10.row
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.description')
        span.text-muted = @shipment.description
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.declared_value')
        span.text-muted = @shipment.declared_value
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.danger_item')
        span.text-muted = @shipment.danger_item == false ? t('views.shared.buttons.no') : t('views.shared.buttons.yes')
    .d-flex.align-items-center.mb-10.row
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.operation_type')
        span.text-muted = t("enums.quote.operation_type.#{@shipment.operation_type}")
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.incoterm')
        span.text-muted = @shipment.incoterm.code
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.type_service')
        span.text-muted = t("enums.shipment.type_service.#{@shipment.type_service}")
    .d-flex.align-items-center.mb-10.row
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.collection_route.origin_port')
        span.text-muted = @shipment.collection_route.origin_port.name
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.delivery_route.destiny_port')
        span.text-muted = @shipment.delivery_route.destiny_port.name
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.status')
        span.text-muted.white = t("enums.shipment.status.#{@shipment.status}")
    .d-flex.align-items-center.mb-10.row
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.total_pieces')
        span.text-muted = @shipment.total_pieces
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.total_weight')
        span.text-muted = @shipment.total_weight
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.total_volume')
        span.text-muted.white = @shipment.total_volume
    .d-flex.align-items-center.mb-10.row
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.chargeable_weight')
        span.text-muted = @shipment.chargeable_weight
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.free_day_of_delay')
        span.text-muted = @shipment.free_day_of_delay
      .d-flex.flex-column.font-weight-bold.col-xl-4
        span.text-dark.text-hover-primary.mb-1.font-size-lg = t('activerecord.attributes.shipment.guarantee_letter')
        span.text-muted = @shipment.guarantee_letter == false ? t('views.shared.buttons.no') : t('views.shared.buttons.yes')