.mb-10
  .d-flex.align-items-center.shipment-item
    .bg-fs-dark.px-6.py-6.rounded-lg
      .symbol.symbol-45.symbol-white.symbol-circle
        .symbol-label
          i class="orange-fs fa-2x fas #{icon_transportation_method(shipment.service_mode)}"
    .d-flex.flex-column.flex-grow-1
      .number-title.mt-2
        = link_to customer_shipment_path(shipment.id), class: 'ml-3 font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1' do
          = shipment.number
      = render 'admin/shipments/tracking', shipment: shipment
