.card.card-custom.card-stretch.gutter-b.card-stretch-half
  .card-header.border-0.pt-5
    h3.card-title.align-items-start.flex-column = t('views.admin.shipments.show.tabs.activity.upgrades')
  .card-body.pt-8
    .d-flex.align-items-center.mb-10.row