<% if params[:page] %>
  $('#shipments').append("<%= j render(partial: 'admin/shipments/shipment', collection: @shipments, format: 'html') %>");
<% else %>
  $("#shipments").html("<%= j render partial: 'admin/shipments/shipment', collection: @shipments, format: 'html' %>");
<% end %>
<% if @shipments.current_page == @shipments.total_pages %>
  $('#view-more').remove();
<% else %>
  $('#view-more').html("<%= j link_to(t('views.shared.buttons.load_more'), url_for(page: @shipments.current_page + 1), class: 'btn btn-info', remote: true) %>");
<% end %>