= render 'shared/customer/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: customer_shipments_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
/! begin::Entry
.d-flex.flex-column-fluid
  /! begin::Container
  .container
    /! begin::Profile Personal Information
    .d-flex.flex-row
      = render 'customer/shipments/tab_panel'
    .tab-content
      .tab-pane.active#tab_forms_activity role="tabpanel"
        = render 'customer/shipments/activity'
      .tab-pane#tab_forms_shipments role="tabpanel"
        = render 'customer/shipments/shipments'
      .tab-pane#tab_forms_documents role="tabpanel"
        .card.card-custom.card-stretch
          .card-header.py-3
            .card-title.align-items-start.flex-column
              h3.card-label.font-weight-bolder.text-dark En Construcción - Documentos....
      .tab-pane#tab_forms_commodity role="tabpanel"
        .card.card-custom.card-stretch
          .card-header.py-3
            .card-title.align-items-start.flex-column
              h3.card-label.font-weight-bolder.text-dark En Construcción - Mercancia....
      .tab-pane#tab_forms_purchase_orders role="tabpanel"
        .card.card-custom.card-stretch
          .card-header.py-3
            .card-title.align-items-start.flex-column
              h3.card-label.font-weight-bolder.text-dark En Construcción - Ordenes de Compra....
      .tab-pane#tab_forms_quote role="tabpanel"
        .card.card-custom.card-stretch
          .card-header.py-3
            .card-title.align-items-start.flex-column
              h3.card-label.font-weight-bolder.text-dark En Construcción - Cotización....
      .tab-pane#tab_forms_invoice role="tabpanel"
        .card.card-custom.card-stretch
          .card-header.py-3
            .card-title.align-items-start.flex-column
              h3.card-label.font-weight-bolder.text-dark En Construcción - Facturación....