.header.header-fixed#kt_header
  .container-fluid.d-flex.align-items-stretch.justify-content-between
    .header-menu-wrapper.header-menu-wrapper-left#kt_header_menu_wrapper
      .header-menu.header-menu-mobile.header-menu-layout-default#kt_header_menu
        ul.menu-nav
    = render 'shared/customer/topbar'