.dropdown
    .topbar-item data-toggle="dropdown" data-offset="10px,0px"
        .btn.btn-icon.btn-clean.btn-lg.btn-dropdown.mr-1
            - case(I18n.locale)
            - when :es
                = image_tag('128-spain.svg', class: "h-20px w-20px rounded-sm")
            - when :en    
                = image_tag('226-united-states.svg', class: "h-20px w-20px rounded-sm")
    .dropdown-menu.p-0.m-0.dropdown-menu-right.dropdown-menu-anim-up.dropdown-menu-sm.dropdown-menu-right
        ul.navi.navi-hover.py-4
            li.navi-item
                = link_to customer_root_path(locale: :en), class: 'navi-link' do
                    span.symbol.symbol-20.mr-3
                        = image_tag('226-united-states.svg', alt: '') 
                    span.navi-text = t('views.shared.language.english')
            li.navi-item
                = link_to customer_root_path(locale: :es), class: 'navi-link' do
                    span.symbol.symbol-20.mr-3
                        = image_tag('128-spain.svg', alt: '') 
                    span.navi-text = t('views.shared.language.spanish')