/ begin::aside
.aside.aside-left.aside-fixed.d-flex.flex-column.flex-row-auto#kt_aside
  / begin::brand
  .brand.flex-column-auto
    / begin::logo
    = link_to customer_root_path, class: 'brand-logo' do
      = image_tag('logo.png', alt: 'Logo')
    / end::logo
    / begin::toggle
    button.brand-toggle.btn.btn-sm.px-0#kt_aside_toggle
      span.svg-icon.svg-icon.svg-icon-xl
        = render 'shared/icons/toggle'
    / end::toggle
  / end::brand
  / begin::Aside Menu
  - if current_user.approved
    .aside-menu-wrapper.flex-column-fluid#kt_aside_menu_wrapper
      / begin::Menu Container
      .aside-menu.my-4#kt_aside_menu data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500"
        / begin::Menu Nav
        ul.menu-nav
          li.menu-item class="#{'menu-item-active' if controller?('customer/dashboard') && action?('show')}" aria-haspopup="true"
            = link_to customer_root_path, class: 'menu-link' do
              span.svg-icon.menu-icon
                = render 'shared/icons/dashboard'
              span.menu-text Dashboard
          li.menu-item class="#{'menu-item-active' if controller?('customer/shipments') && action?('index')}" aria-haspopup="true"
            = link_to customer_shipments_path, class: 'menu-link' do
              span class="svg-icon menu-icon"
                i.fas.fa-ship.fa6-aside-icon
              span class="menu-text" = t('activerecord.models.shipment.other')
          li.menu-item class="#{'menu-item-active' if controller?('customer/quotes') && action?('index')}" aria-haspopup="true"
            = link_to customer_quotes_path, class: 'menu-link' do
              span.svg-icon.menu-icon
                i.fas.fa-file-contract.fa6-aside-icon
              span.menu-text = t('views.shared.sidebar.quotes')
          li.menu-item class="#{'menu-item-active' if controller?('customer/reports') && action?('index')}" aria-haspopup="true"
            = link_to customer_reports_path, class: 'menu-link' do
              span.svg-icon.menu-icon
                i.fas.fa-chart-bar.fa6-aside-icon
              span.menu-text = t('views.shared.sidebar.reports')
          li.menu-item class="#{'menu-item-active' if controller?('customer/products') && action?('index')}" aria-haspopup="true"
            = link_to customer_products_path, class: 'menu-link' do
              span.svg-icon.menu-icon
                i.fas.fa-cubes.fa6-aside-icon
              span.menu-text = t('views.shared.sidebar.products')
          li.menu-item class="#{'menu-item-active' if controller?('customer/billings') && action?('index')}" aria-haspopup="true"
            = link_to customer_billings_path, class: 'menu-link' do
              span.svg-icon.menu-icon
                i.fas.fa-file-invoice-dollar.fa6-aside-icon
              span.menu-text = t('views.shared.sidebar.billings')

      / end::Menu Nav
    / end::Menu Container
  / end::Aside Menu