.subheader.py-2.py-lg-4.subheader-solid#kt_subheader
  .container-fluid.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
    .d-flex.align-items-center.flex-wrap.mr-2
      h5.text-dark.font-weight-bold.mt-2.mb-2.mr-5
        = render 'shared/customer/breadcrumbs'
    .d-flex.align-items-center
      - if new_button
        = link_to(new_button_route, class: 'btn btn-sm btn-primary font-weight-bolder') do
          span.svg-icon.svg-icon-md
            = render 'shared/icons/new'
            = t('views.shared.buttons.new')