.dropdown
    .topbar-item data-toggle="dropdown" data-offset="10px,0px"
        .btn.btn-icon.w-auto.btn-clean.d-flex.align-items-center.btn-lg.px-2#kt_quick_user_toggle
            span.text-muted.font-weight-bold.font-size-base.d-none.d-md-inline.mr-1 Hi,
            span.text-dark-50.font-weight-bolder.font-size-base.d-none.d-md-inline.mr-3 = current_user.contact.name.familiar
            span.symbol.symbol-35.symbol-light-success
                span.symbol-label.font-size-h6.font-weight-bold = current_user.contact.name.initials