/*
 * require mapbox
 * require mapbox-gl-geocoder
 * require mapbox-gl-draw
 * require mapbox-gl-directions
 * require mapbox-gl-compare
 */
@import "bootstrap-select";
@import "custom";
@import "jquery-ui";
@import "login";
@import "login-3";
@import "plugins";
@import "prismjs";
@import "styles";
@import "stym_base_dark";
@import "stym_base_light";
@import "stym_brand_dark";
@import "stym_menu_dark";
@import "stym_menu_light";
@import "styn_brand_dark";
@import "styo_aside_dark";
@import "styo_aside_light";
@import "avatar-icons";
@import "datatables";
@import "flaticon";
@import "ki";
@import "ki.rtl";
// @import 'mapbox-gl';
@import "report";
@import "tabs";
@import "wizard-1";
@import "wizard-3";
@import "wizard";
@import "toastr";
@import "tempusdominus-bootstrap-4";
@import "selectize";
@import "selectize.default";
@import "intlTelInput";
@import "tagify";
@import "tariffs";
@import "shipments";
@import "quotes";
@import "criteria";
@import "flag-icon";

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: auto !important;
}

.datetimepicker-input, .datetimepicker-input:hover {
  border: 1px #e4e6ef solid !important;
}

.not-register {
  padding: 20px;
  color: #f44336;
  opacity: 0.83;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: Raleway, Helvetica, "sans-serif" !important;
}

abbr {
  color: #f44336;
}