.avatar-default-agent {
    background-image: url('agent.png');
}

.avatar-default-middleman {
  background-image: url('middleman.png');
}

.avatar-default-product {
    background-image: url('product.png');
}