.select-group .criterium_amount input.form-control{ width: 55%}
.select-group select.input-group-addon {  }

.form-horizontal {
  div.checkbox.inline {
    .control-label {
      text-align: left;
    }
  }
}