@charset "UTF-8";

body {
    margin: 0;
    font-family: Raleway, Helvetica, "sans-serif";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3F4254;
    text-align: left;
    background-color: #ffffff; }

table {
    border-collapse: collapse; }    

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #3F4254;
    background-color: transparent; }
    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #EBEDF3; }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #EBEDF3; }
    .table tbody + tbody {
        border-top: 2px solid #EBEDF3; }

.table-sm th,
.table-sm td {
    padding: 0.3rem; } 

.table-bordered {
    border: 1px solid #EBEDF3; }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #EBEDF3; }
    .table-bordered thead th,
    .table-bordered thead td {
        border-bottom-width: 2px; }

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
    border: 0; }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #EBEDF3; }

.table.table-separate th, .table.table-separate td {
    border-top: 0;
    border-bottom: 1px solid #EBEDF3; }
    .table.table-separate th:first-child, .table.table-separate td:first-child {
        padding-left: 0 !important; }
    .table.table-separate th:last-child, .table.table-separate td:last-child {
        padding-right: 0 !important; }
    
.table.table-separate tfoot th, .table.table-separate tfoot td {
    border-bottom: 0;
    border-top: 1px solid #EBEDF3; }
    
.table.table-separate tbody tr:last-child td {
    border-bottom: 0; }
    
.table.table-bordered tfoot th, .table.table-bordered tfoot td {
    border-bottom: 0; }
    
.table.table-vertical-center th, .table.table-vertical-center td {
    vertical-align: middle; }
    
.table:not(.table-bordered) thead th, .table:not(.table-bordered) thead td {
    border-top: 0; }

