.bg-fs-dark {
  background-color: #323E48 !important;
}
.shipment-item {
  border: 2px solid #323E48;
  border-radius: 10px;
}

.shipment-icon {
  border-top: 2px solid #323E48;
  border-left: 2px solid #323E48;
  border-bottom: 2px solid #323E48;
  border-radius: 4px;
}

.bs4-order-tracking {
  overflow: hidden;
  color: #878788;
  padding-left: 0px;
}

.bs4-order-tracking li {
  list-style-type: none;
  font-size: 13px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  color: #878788;
  text-align: center
}

.bs4-order-tracking li:first-child:before {
  margin-left: 15px !important;
  padding-left: 11px !important;
  text-align: left !important
}

.bs4-order-tracking li:last-child:before {
  margin-right: 5px !important;
  padding-right: 11px !important;
  text-align: right !important
}

.bs4-order-tracking li>div {
  color: #fff;
  width: 29px;
  text-align: center;
  line-height: 29px;
  display: block;
  font-size: 12px;
  background: #878788;
  margin: auto
}

.bs4-order-tracking li:after {
  content: '';
  width: 150%;
  height: 2px;
  background: #878788;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15px;
  z-index: -1
}

.bs4-order-tracking li:first-child:after {
  left: 50%
}

.bs4-order-tracking li:last-child:after {
  left: 0% !important;
  width: 0% !important
}

.bs4-order-tracking li.active {
  font-weight: bold;
  color: #323E48;
}

.bs4-order-tracking li.active>div {
  background: #323E48;
}

.bs4-order-tracking li.active:after {
  background: #323E48;
}

.card-timeline {
  background-color: #fff;
  z-index: 0;
}