#csv-input {
  display: none;
}

.table-bordered-tariffs {
  border: 2px solid #0082CB !important;
}

.table-bordered-best-tariffs {
  border: 2px solid #26C281 !important;
}

.link-color {
  color: #FFFFFF !important;
}

.orange-fs {
  color: #f16e00;
}

.btn-filter {
  color: #fff;
  background-color: #f16e00;
  border-color: #f16e00;
}

.btn-filter:hover {
  color: #fff;
  background-color: #be5700;
  border-color: #b45200;
}

.btn-filter.disabled, .btn-filter:disabled {
  background-color: #f16e00;
  border-color: #f16e00;
}

.btn-filter:active, .btn-filter.active,
.show > .btn-filter.dropdown-toggle {
  color: #fff;
  background-color: #be5700;
  background-image: none;
  border-color: #b45200;
}

.btn-filter {
  color: #fff;
  background-color: #f16e00;
  border-color: #f16e00;
}

.btn-filter:focus, .btn-filter:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.btn-filter.focus {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.btn-filter:active, .btn-filter.active,
.show > .btn-filter.dropdown-toggle {
  color: #fff;
  background-color: #f16e00;
  background-image: none;
  border-color: #f16e00;
}

.btn-filter:active:hover, .btn-filter:active:focus, .btn-filter:active.focus, .btn-filter.active:hover, .btn-filter.active:focus, .btn-filter.active.focus,
.show > .btn-filter.dropdown-toggle:hover,
.show > .btn-filter.dropdown-toggle:focus,
.show > .btn-filter.dropdown-toggle.focus {
  color: #fff;
  background-color: #f16e00;
  border-color: #f16e00;
}

.btn-filter.disabled, .btn-filter:disabled {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}

.btn-filter.disabled:focus, .btn-filter.disabled.focus, .btn-filter:disabled:focus, .btn-filter:disabled.focus {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}

.btn-filter.disabled:hover, .btn-filter:disabled:hover {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}

.btn-filter:active, .btn-filter.active,
.show > .btn-filter.dropdown-toggle {
  color: #fff;
  background-color: #222;
  background-image: none;
  border-color: #222;
}

.btn-filter:active:hover, .btn-filter:active:focus, .btn-filter:active.focus, .btn-filter.active:hover, .btn-filter.active:focus, .btn-filter.active.focus,
.show > .btn-filter.dropdown-toggle:hover,
.show > .btn-filter.dropdown-toggle:focus,
.show > .btn-filter.dropdown-toggle.focus {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.btn-filter.disabled.active, .btn-filter.disabled:active, .btn-filter:disabled.active, .btn-filter:disabled:active {
  color: #fff;
  background-color: #ccc;
  border-color: #ccc;
}

.btn-filter.btn-inverse {
  color: #fff;
  background-color: #f16e00;
  border-color: #f16e00;
}

.btn-filter.btn-inverse:focus, .btn-filter.btn-inverse:hover {
  color: #222;
  background-color: #fff;
  border-color: #fff;
}

.btn-filter.btn-inverse:active, .btn-filter.btn-inverse.active,
.show > .btn-filter.btn-inverse.dropdown-toggle {
  color: #fff;
  background-color: #f16e00;
  background-image: none;
  border-color: #f16e00;
}

.btn-filter.btn-inverse:active:hover, .btn-filter.btn-inverse:active:focus, .btn-filter.btn-inverse:active.focus, .btn-filter.btn-inverse.active:hover, .btn-filter.btn-inverse.active:focus, .btn-filter.btn-inverse.active.focus,
.show > .btn-filter.btn-inverse.dropdown-toggle:hover,
.show > .btn-filter.btn-inverse.dropdown-toggle:focus,
.show > .btn-filter.btn-inverse.dropdown-toggle.focus {
  color: #fff;
  background-color: #f16e00;
  border-color: #f16e00;
}

.btn-filter.btn-inverse.disabled, .btn-filter.btn-inverse:disabled {
  color: #222;
  background-color: #666;
  border-color: #666;
}

.btn-filter.btn-inverse.disabled:hover, .btn-filter.btn-inverse:disabled:hover {
  color: #222;
  background-color: #666;
  border-color: #666;
}

.btn-filter.btn-inverse.disabled, .btn-filter.btn-inverse:disabled, .btn-filter.btn-inverse.disabled.active, .btn-filter.btn-inverse.disabled:active, .btn-filter.btn-inverse:disabled.active, .btn-filter.btn-inverse:disabled:active {
  color: #222;
  background-color: #666;
  border-color: #666;
}

.btn-filter.btn-inverse.disabled:hover, .btn-filter.btn-inverse:disabled:hover, .btn-filter.btn-inverse.disabled.active:hover, .btn-filter.btn-inverse.disabled:active:hover, .btn-filter.btn-inverse:disabled.active:hover, .btn-filter.btn-inverse:disabled:active:hover {
  color: #222;
  background-color: #666;
  border-color: #666;
}

.btn-filter.btn-inverse:active, .btn-filter.btn-inverse.active,
.show > .btn-filter.btn-inverse.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn-filter.btn-inverse:active:hover, .btn-filter.btn-inverse:active:focus, .btn-filter.btn-inverse:active.focus, .btn-filter.btn-inverse.active:hover, .btn-filter.btn-inverse.active:focus, .btn-filter.btn-inverse.active.focus,
.show > .btn-filter.btn-inverse.dropdown-toggle:hover,
.show > .btn-filter.btn-inverse.dropdown-toggle:focus,
.show > .btn-filter.btn-inverse.dropdown-toggle.focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}