<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<input id="tags">
<script>

    $(document).ready(function() {
        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        $( "#tags" ).autocomplete({

            source: function(query, response) {
                $.ajax({
                    url: "https://api.mapbox.com/geocoding/v5/mapbox.places/" + this.value + ".json?access_token=pk.eyJ1IjoiYXJvZHJpZ3VlejkyIiwiYSI6ImNrbjh1cWp3OTExZ3kyb2xnaGNiaDRzeGQifQ.j7QBl9gTvpmdm7jwAmiCZA",
                    dataType: "json",
                    success: function(result) {
                        console.log(result);
                    }
                });
            },
            autoFocus: true,
            minLength: 1,
            select: function (event, ui) {
                params = ui.item;
            }
        });
    });
</script>