.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  table.table.table-separate.table-head-custom.collapsed#kt_datatable_users
    thead
      tr
        th = t('activerecord.attributes.employee.name')
        th = t('activerecord.attributes.user.email')
        th = t('activerecord.attributes.user.admin')
        th = t('views.shared.tags.actions')
    tbody
      - @users.each do |user|
        - unless user.employee.nil?
          tr
            td
              .d-flex.align-items-center
                - if user.avatar.attached?
                  .symbol.symbol-50.mt-1
                    = image_tag(user.avatar.service_url)
                - else
                  .symbol.symbol-50.symbol-light-secondary
                    span.symbol-label
                      = user.employee.name.initials
                .ml-3
                  span.text-dark-75.font-weight-bold.line-height-sm.d-block.pb-2 = user.employee.name
                  span.text-muted.text-hover-primary = user.username
            td = user.email
            td
              span.symbol-label.symbol-warning
                - if user.admin == true
                  span.svg-icon.svg-icon-md.svg-icon-warning
                    = render "shared/icons/star"
                - else
                  span.svg-icon.svg-icon-md.svg-icon-secondary
                    = render 'shared/icons/half_star'
            td nowrap="nowrap"
              = link_to [:admin, user], class: 'btn btn-sm btn-clean btn-icon' do
                span.svg-icon.svg-icon-md.svg-icon-primary
                  i.fas.fa-eye
              = link_to(edit_admin_user_path(user), class: 'btn btn-sm btn-clean btn-icon') do
                span.svg-icon.svg-icon-md.svg-icon-primary
                  i.fas.fa-edit
              - if current_user.id != user.id && current_user.admin?
                = link_to({action: :destroy, id: user.id}, class: "btn btn-sm btn-clean btn-icon", method: :delete, data: { confirm: 'Are you okay?' }) do
                  span.svg-icon.svg-icon-md.svg-icon-danger
                    i.fas.fa-trash
javascript:
    jQuery(document).ready(function () {
        KTDatatablesUsers.init();
    });
