= simple_form_for [:admin, @user] do |f|
  = f.simple_fields_for :employee do |ff|
    .form-group.row
      .col-lg-12.col-xl-12
        .image-input.image-input-outline.avatar-default-login#kt_profile_avatar
          - if @user.avatar.attached?
            .image-input-wrapper style="background-image: url(#{@user.avatar.service_url})"
          - else
            .image-input-wrapper
          label.btn.btn-xs.btn-icon.btn-circle.btn-white.btn-hover-text-primary.btn-shadow data-action="change" data-toggle="tooltip" data-original-title="Change avatar"
            i.flaticon2-pen.icon-sm.text-muted
            = f.file_field :avatar, input_html: {accept: ".png, .jpg, .jpeg"}
    .form-group.row
      .col-lg-6.col-sm-12
        = ff.input :name
    .form-group.row
      .col-lg-3.col-sm-12
        = ff.input :phone_extension
      .col-lg-3.col-sm-12
        = ff.input :phone
      .col-lg-6.col-sm-12
        = ff.input :mobile
    .form-group.row
      .col-lg-6.col-sm-12
        = ff.label :origin
        = ff.select :origin, options_for_select(Country.all.collect {|c| [c.name, c.name]}, @user.employee.origin), {}, { class: 'form-control selectpicker', data: { 'live-search': "true" } }
      .col-lg-6.col-sm-12
        = ff.input :city
    .form-group.row
      .col-lg-6
        = ff.input :office_branch
      .col-lg-6
        = ff.input :squad
    .form-group.row
      .col-lg-6
        = ff.input :birth_date, as: :date, html5: true
      .col-lg-6
        = ff.input :join_date, as: :date, html5: true
    .form-group.row
      .col-lg-6
        = ff.input :language
  .form-group.row
    .col-lg-6
      = f.input :username
    .col-lg-6
      = f.input :email
  .form-group.row
    .col-lg-6
      = f.input :password, type: 'password', placeholder: 'Password ...'
    .col-lg-6
      = f.input :password_confirmation, type: 'password', placeholder: 'Confirm Password...'
  .form-group.row
    .col-lg-6
      = f.input :time_zone, model: ActiveSupport::TimeZone, input_html: { class: 'selectpicker', 'data-live-search': "true" }
    - if current_user.admin?
      .col-lg-6
        = f.association :role, prompt: t('views.shared.prompt.role')
      / .form-group.row
      /   .col-lg-6
      /     = f.input :admin, type: 'checkbox'
  .row
    .col-lg-4
    .col-lg-8.text-right
      = hidden_field_tag :form, 'Employee'
      = f.submit button_primary, class: 'btn btn-success'
javascript:
    $(document).ready(function () {
        avatar = new KTImageInput('kt_profile_avatar');
    });