/! begin::Profile Card
.card.card-custom.card-stretch
  /! begin::Body
  .card-body.pt-4
    /! begin::Toolbar
    .d-flex.justify-content-end
      .dropdown.dropdown-inline
        a.btn.btn-clean.btn-hover-light-primary.btn-sm.btn-icon aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#"
          i.la.la-ellipsis-h
        .dropdown-menu.dropdown-menu-sm.dropdown-menu-right
          /! begin::Navigation
          ul.navi.navi-hover.py-5
            li.navi-item
              a.navi-link href="#"
                span.navi-icon
                  i.flaticon2-drop
                span.navi-text New Group
            li.navi-item
              a.navi-link href="#"
                span.navi-icon
                  i.flaticon2-list-3
                span.navi-text Contacts
            li.navi-item
              a.navi-link href="#"
                span.navi-icon
                  i.flaticon2-rocket-1
                span.navi-text Groups
                span.navi-link-badge
                  span.label.label-light-primary.label-inline.font-weight-bold new
            li.navi-item
              a.navi-link href="#"
                span.navi-icon
                  i.flaticon2-bell-2
                span.navi-text Calls
            li.navi-item
              a.navi-link href="#"
                span.navi-icon
                  i.flaticon2-gear
                span.navi-text Settings
            li.navi-separator.my-3
            li.navi-item
              a.navi-link href="#"
                span.navi-icon
                  i.flaticon2-magnifier-tool
                span.navi-text Help
            li.navi-item
              a.navi-link href="#"
                span.navi-icon
                  i.flaticon2-bell-2
                span.navi-text Privacy
                span.navi-link-badge
                  span.label.label-light-danger.label-rounded.font-weight-bold 5
          /! end::Navigation
    /! end::Toolbar
    /! begin::User
    .d-flex.align-items-center
      .symbol.symbol-60.symbol-xxl-100.mr-5.align-self-start.align-self-xxl-center
        - if @user.avatar.attached?
          = image_tag(@user.avatar.service_url, al: 'Pic')
        - else
          span.symbol-label
            = @user.employee.name.initials
      div
        a.font-weight-bolder.font-size-h5.text-dark-75.text-hover-primary href="#"  = @user.employee.name
        .text-muted = @user.employee.job_title
        .mt-2
          a.btn.btn-sm.btn-primary.font-weight-bold.mr-2.py-2.px-3.px-xxl-5.my-1 href="#"  Chat
          a.btn.btn-sm.btn-success.font-weight-bold.py-2.px-3.px-xxl-5.my-1 href="#"  Follow
    /! end::User
    /! begin::Contact
    .py-9
      .d-flex.align-items-center.justify-content-between.mb-2
        span.font-weight-bold.mr-2 Username:
        span.text-muted = @user.username
      .d-flex.align-items-center.justify-content-between.mb-2
        span.font-weight-bold.mr-2 Email:
        = mail_to @user.email, @user.email, class: 'text-muted text-hover-primary'
      .d-flex.align-items-center.justify-content-between.mb-2
        span.font-weight-bold.mr-2 Phone:
        span.text-muted = @user.employee.mobile
      .d-flex.align-items-center.justify-content-between
        span.font-weight-bold.mr-2 Squad:
        span.text-muted =@user.employee.squad
    /! end::Contact
    /! begin::Nav
    ul.navi.nav.navi-hover.navi-link-rounded.nav-tabs.nav-tabs-space-lg.nav-tabs-line.nav-tabs-bold.nav-tabs-line-3x role="tablist"
      li.navi-item.mb-2
        a.navi-link.py-4 data-toggle="tab" href="#kt_apps_profile_overview_tab_1"
          span.navi-icon.mr-2
            span.svg-icon
              = render 'shared/icons/overview'
          span.navi-text.font-size-lg = t('views.admin.users.show.tabs.profile_overview')
      li.navi-item.mb-2
        a.navi-link.py-4.active data-toggle="tab" href="#kt_apps_personal_information_tab_2"
          span.navi-icon.mr-2
            span.svg-icon
              /! begin::Svg Icon | path:assets/media/svg/icons/General/User.svg
              = render 'shared/icons/user'
              /! end::Svg Icon
          span.navi-text.font-size-lg = t('views.admin.users.show.tabs.personal_information')
      li.navi-item.mb-2
        a.navi-link.py-4 data-toggle="tab" href="#kt_apps_account_information_tab_3"
          span.navi-icon.mr-2
            span.svg-icon
              = render 'shared/icons/account'
          span.navi-text.font-size-lg = t('views.admin.users.show.tabs.account_information')
      li.navi-item.mb-2
        a.navi-link.py-4 data-toggle="tab" href="#kt_apps_change_password_tab_4"
          span.navi-icon.mr-2
            span.svg-icon
              = render 'shared/icons/change_password'
          span.navi-text.font-size-lg = t('views.admin.users.show.tabs.change_password')
          span.navi-label
            span.label.label-light-danger.label-rounded.font-weight-bold 5
    /! end::Nav
  /! end::Body
/! end::Profile Card


