= render 'shared/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: admin_users_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
/! begin::Entry
.d-flex.flex-column-fluid
  /! begin::Container
  .container
    /! begin::Profile Personal Information
    .d-flex.flex-row
      /! begin::Aside
      #kt_profile_aside.flex-row-auto.offcanvas-mobile.w-250px.w-xxl-350px
        = render 'admin/users/profile_aside'
      /! end::Aside
      .flex-row-fluid.ml-lg-8
        .tab-content
          .tab-pane#kt_apps_profile_overview_tab_1 role="tabpanel"
            .card.card-custom.card-stretch
              .card-header.py-3
                .card-title.align-items-start.flex-column
                  h3.card-label.font-weight-bolder.text-dark = t('views.admin.users.show.tab_panes.profile_overview.title')
                .card-toolbar
          .tab-pane.active#kt_apps_personal_information_tab_2 role="tabpanel"
            .card.card-custom.card-stretch
              .card-header.py-3
                .card-title.align-items-start.flex-column
                  h3.card-label.font-weight-bolder.text-dark = t('views.admin.users.show.tab_panes.personal_information.title')
                  span.text-muted.font-weight-bold.font-size-sm.mt-1 = t('views.admin.users.show.tab_panes.personal_information.subtitle')
                .card-toolbar
                  button id="updateEmployee" class="btn btn-success" = t('views.shared.buttons.update')
              = simple_form_for [:admin, @user], html: { class: "form" } do |f|
                .card-body
                  .container-fluid
                    .row
                      label.col-xl-3
                      h5.font-weight-bold.mb-6 = t('views.admin.users.show.tab_panes.personal_information.section1')
                    .form-group.row
                      label.col-xl-3.col-lg-3.col-form-label.text-right Avatar
                      .col-lg-9.col-xl-6
                        .image-input.image-input-outline.avatar-default-login#kt_profile_avatar
                          - if @user.avatar.attached?
                            .image-input-wrapper style="background-image: url(#{@user.avatar.service_url})"
                          - else
                            .image-input-wrapper
                          label.btn.btn-xs.btn-icon.btn-circle.btn-white.btn-hover-text-primary.btn-shadow data-action="change" data-toggle="tooltip" data-original-title="Change avatar"
                            i.flaticon2-pen.icon-sm.text-muted
                            = f.file_field :avatar, input_html: { accept: ".png, .jpg, .jpeg" }
                    = f.simple_fields_for :employee do |ff|
                      .form-group.row
                        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.employee.name')
                        .col-lg-9.col-xl-6
                          = ff.input :name, label: false
                      .form-group.row
                        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.employee.office_branch')
                        .col-lg-9.col-xl-6
                          = ff.input :office_branch, label: false
                      .form-group.row
                        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.employee.squad')
                        .col-lg-9.col-xl-6
                          = ff.input :squad, label: false
                      .form-group.row
                        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.employee.city')
                        .col-lg-9.col-xl-6
                          = ff.input :city, label: false
                      .form-group.row
                        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.employee.origin')
                        .col-lg-9.col-xl-6
                          = ff.select :origin, options_for_select(Country.all.collect {|c| [c.name, c.name]}, @user.employee.origin), {}, { class: 'form-control selectpicker', data: { 'live-search': "true" } }
                      .form-group.row
                        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.employee.language')
                        .col-lg-9.col-xl-6
                          = ff.input :language, label: false
                      .form-group.row
                        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.employee.birth_date')
                        .col-lg-9.col-xl-6
                          = ff.input :birth_date, as: :date, html5: true, label: false
                      .form-group.row
                        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.employee.join_date')
                        .col-lg-9.col-xl-6
                          = ff.input :join_date, as: :date, html5: true, label: false
                      .row
                        label.col-xl-3
                        h5.font-weight-bold.mb-6 = t('views.admin.users.show.tab_panes.personal_information.section2')
                      .form-group.row
                        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.employee.phone_extension')
                        .col-lg-9.col-xl-6
                          = ff.input :phone_extension, label: false
                      .form-group.row
                        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.employee.phone')
                        .col-lg-9.col-xl-6
                          .input-group.input-group-lg.input-group-solid
                            .input-group-prepend
                              .input-group-text
                                i.la.la-phone
                              = ff.input :phone, label: false, input_html: { class: 'form-control form-control-lg form-control-solid' }
                      .form-group.row
                        label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.employee.mobile')
                        .col-lg-9.col-xl-6
                          .input-group.input-group-lg.input-group-solid
                            .input-group-prepend
                              .input-group-text
                                i.la.la-phone
                              = ff.input :mobile, label: false, input_html: {class: 'form-control form-control-lg form-control-solid'}
                = hidden_field_tag :form, 'Employee'
                = f.submit 'data', class: 'btn btn-success hide-element', id: 'btnPersonalInformation'
          .tab-pane#kt_apps_account_information_tab_3 role="tabpanel"
            .card.card-custom.card-stretch
              .card-header.py-3
                .card-title.align-items-start.flex-column
                  h3.card-label.font-weight-bolder.text-dark = t('views.admin.users.show.tab_panes.account_information.title')
                  span.text-muted.font-weight-bold.font-size-sm.mt-1 = t('views.admin.users.show.tab_panes.account_information.subtitle')
                .card-toolbar
                  button id="updateUser" class="btn btn-success mr-2" = t('views.shared.buttons.update')
                  = link_to t('views.shared.buttons.back'), admin_users_path, class: 'btn btn-secondary'
              = simple_form_for [:admin, @user], html: { class: "form" } do |f|
                .card-body
                  .container-fluid
                    .row
                      label.col-xl-3
                      h5.font-weight-bold.mb-6 = t('views.admin.users.show.tab_panes.account_information.section1')
                    .form-group.row
                      label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.user.username')
                      .col-lg-9.col-xl-6
                        = f.input :username, label: false
                    .form-group.row
                      label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.user.email')
                      .col-lg-9.col-xl-6
                        = f.input :email, label: false
                    .form-group.row
                      label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.user.time_zone')
                      .col-lg-9.col-xl-6
                        = f.input :time_zone, label: false, model: ActiveSupport::TimeZone, input_html: { class: 'selectpicker', 'data-live-search': "true" }
                    .form-group.row
                      label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.user.role')
                      .col-lg-9.col-xl-6
                        = f.association :role, label: false
                    .form-group.row
                      label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.user.admin')
                      .col-lg-9.col-xl-6
                        = f.input :admin, label: false
                = hidden_field_tag :form, 'Employee'
                = f.submit 'data', class: 'btn btn-success hide-element', id: 'btnAccountInformation'
          .tab-pane#kt_apps_change_password_tab_4 role="tabpanel"
            .card.card-custom.card-stretch
              .card-header.py-3
                .card-title.align-items-start.flex-column
                  h3.card-label.font-weight-bolder.text-dark = t('views.admin.users.show.tab_panes.change_password.title')
                  span.text-muted.font-weight-bold.font-size-sm.mt-1 = t('views.admin.users.show.tab_panes.change_password.subtitle')
                .card-toolbar
                  button id="updateUserPassword" class="btn btn-success mr-2" = t('views.shared.buttons.update')
                  = link_to t('views.shared.buttons.back'), admin_users_path, class: 'btn btn-secondary'
              = simple_form_for [:admin, @user], html: { class: "form" } do |f|
                .card-body
                  .container-fluid
                    .form-group.row
                      label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.user.password')
                      .col-lg-9.col-xl-6
                        = f.input :password, label: false
                    .form-group.row
                      label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.user.password_confirmation')
                      .col-lg-9.col-xl-6
                        = f.input :password_confirmation, label: false
                = hidden_field_tag :form, 'Employee'
                = f.submit 'data', class: 'btn btn-success hide-element', id: 'btnChangePassword'
    /! end::Profile Personal Information
  /! end::Container
/! end::Entry
javascript:
  $(document).ready(function () {
      $("#updateEmployee").click(function () {
          $('#btnPersonalInformation').trigger("click");
      });
      $("#updateUser").click(function () {
          $('#btnAccountInformation').trigger("click");
      });
      $("#updateUserPassword").click(function () {
          $('#btnChangePassword').trigger("click");
      });

      avatar = new KTImageInput('kt_profile_avatar');
  });

