.row
  .col-xl-8
  .col-xl-4.text-right
    = text_field :search, :data, class: 'form-control', placeholder: t('views.shared.text.search')
.table-responsive.mt-5
  table class="table"
    thead class="thead-light"
      tr
        th scope="col" = t('activerecord.attributes.criterium.name')
        th scope="col" = t('activerecord.attributes.criterium.amount')
        th scope="col" = t('activerecord.attributes.criterium.container')
        th scope="col" = t('activerecord.attributes.criterium.origin')
        th scope="col" = t('activerecord.attributes.criterium.destiny')
    tbody#criteria
      = render 'criterium'
javascript:
    $(document).ready(function () {
        $("#search_data").on("keyup", function () {
            const value = $(this).val().toLowerCase();
            $("#criteria tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });