- unless @criteria.blank?
  - @criteria.each do |criterium|
    tr
      td
        = link_to [:admin, criterium] do
          = criterium.name
      td = criterium.amount
      td = criterium.container.blank? ? t('views.shared.text.any') : criterium.container.name
      td = criterium.origin.blank? ? t('views.shared.text.any') : criterium.origin.name
      td = criterium.destiny.blank? ? t('views.shared.text.any') : criterium.destiny.name
- else
  tr
    td.text-center colspan="5" = t('views.shared.text.not_records')