= simple_form_for [:admin, @criterium] do |f|
  .form-group.row
    .col-lg-6.col-sm-12
      = f.input :name, placeholder: t('activerecord.attributes.criterium.name'), class: 'form-control'
    .col-lg-6.col-sm-12
      = f.label :amount
      = render 'admin/criteria/currency', f: f
  .form-group.row
    .col-lg-6.col-sm-12
      = f.input :validity_start, as: :calendar_picker, placeholder: t('activerecord.attributes.criterium.validity_start'), input_html: { class: 'form-control' }
    .col-lg-6.col-sm-12
      = f.input :validity_end, as: :calendar_picker, placeholder: t('activerecord.attributes.criterium.validity_end'), input_html: { class: 'form-control' }
  .form-group.row
    .col-lg-12
      .custom-control.custom-switch
        = f.input_field :advanced_parameters, label: false, as: :boolean, class: 'custom-control-input'
        = f.label :advanced_parameters, class: 'custom-control-label'
  .form-group.row.hide-element#ports
    .col-lg-6.col-sm-12
      = f.association :origin, prompt: t('views.shared.prompt.origin_port')
    .col-lg-6.col-sm-12
      = f.association :destiny, prompt: t('views.shared.prompt.discharge_port')
  .form-group.row.hide-element#container
    .col-lg-6.col-sm-12
      = f.association :container, prompt: t('views.shared.prompt.container')
  .form-group.row
    .col-lg-12
      = f.input :remarks, placeholder: t('activerecord.attributes.criterium.remarks')
  .form-group.row
    .col-lg-4
    .col-lg-8.text-right
      = f.submit button_primary, class: 'btn btn-success'
javascript:
    jQuery(document).ready(function () {
        const checked = document.getElementById('criterium_advanced_parameters').checked;
        console.log(checked);
        if (checked) {
            $("#ports").removeClass("hide-element");
            $("#container").removeClass("hide-element");
        } else {
            $("#ports").addClass("hide-element");
            $("#container").addClass("hide-element");
            $('#criterium_origin_id').val('');
            $('#criterium_destiny_id').val('');
            $('#criterium_container_id').val('');
        }
        $("#criterium_advanced_parameters").on("click", function () {
            console.log("click");
            const chk = document.getElementById('criterium_advanced_parameters').checked;
            console.log(chk);
            if (chk) {
                $("#ports").removeClass("hide-element");
                $("#container").removeClass("hide-element");
            } else {
                $("#ports").addClass("hide-element");
                $("#container").addClass("hide-element");
                $('#criterium_origin_id').val('');
                $('#criterium_destiny_id').val('');
                $('#criterium_container_id').val('');
            }
        });
    });