= render 'shared/subheader', custom_button: false, export_button: false, back_button: false, back_button_route: '', new_button: true, new_button_route: new_admin_criterium_path, quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  .container
    .row
      .col-xl-12
        .card.card-custom.gutter-b
          .card-body
            = render 'collection'