= render 'shared/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: admin_criteria_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  .container-fluid
    .card.card-custom.card-stretch.gutter-b
      .card-header.border-0.py-5
        h2.card-title.align-items-start.flex-column
          span.card-label.font-weight-bolder.text-dark = @criterium.name
          span.text-muted.mt-3.font-weight-bold.font-size-sm = @criterium.id
        .card-toolbar
          = link_to edit_admin_criterium_path(@criterium), class: 'btn btn-info font-weight-bolder font-size-sm' do
            span.svg-icon.svg-icon-md.svg-icon-white
              i.fas.fa-edit
              = t('views.shared.buttons.edit')
          = link_to({ action: :destroy, id: @criterium.id }, class: "ml-2 btn btn-danger font-weight-bolder font-size-sm", method: :delete, data: { confirm: t('views.shared.text.are_you_ok?') }) do
            span.svg-icon.svg-icon-md.svg-icon-white
              i.fas.fa-trash
              = t('views.shared.buttons.destroy')
      .card-body.pt-0.pb-3
        .font-size-h2.mb-7.text-dark-50
          = "#{t('activerecord.attributes.criterium.amount')}:"
          span.text-info.font-weight-boldest.ml-2 = @criterium.amount
        .row.mb-6
          .col-6.col-md-4
            .mb-8.d-flex.flex-column
              span.text-dark.font-weight-bold.mb-4 = t('activerecord.attributes.criterium.validity_start')
              span.text-muted.font-weight-bolder.font-size-lg = @criterium.validity_start
          .col-6.col-md-4
            .mb-8.d-flex.flex-column
              span.text-dark.font-weight-bold.mb-4 = t('activerecord.attributes.criterium.validity_end')
              span.text-muted.font-weight-bolder.font-size-lg = @criterium.validity_end
          .col-6.col-md-4
            .mb-8.d-flex.flex-column
              span.text-dark.font-weight-bold.mb-4 = t('activerecord.attributes.criterium.created_at')
              span.text-muted.font-weight-bolder.font-size-lg = @criterium.created_at
        .row.mb-6
          .col-6.col-md-4
            .mb-8.d-flex.flex-column
              span.text-dark.font-weight-bold.mb-4 = t('activerecord.attributes.criterium.origin')
              span.text-muted.font-weight-bolder.font-size-lg = @criterium.origin.blank? ? t('views.shared.text.any') : @criterium.origin.name
          .col-6.col-md-4
            .mb-8.d-flex.flex-column
              span.text-dark.font-weight-bold.mb-4 = t('activerecord.attributes.criterium.destiny')
              span.text-muted.font-weight-bolder.font-size-lg = @criterium.destiny.blank? ? t('views.shared.text.any') : @criterium.destiny.name
          .col-6.col-md-4
            .mb-8.d-flex.flex-column
              span.text-dark.font-weight-bold.mb-4 = t('activerecord.attributes.criterium.container')
              span.text-muted.font-weight-bolder.font-size-lg = @criterium.container.blank? ? t('views.shared.text.any') : @criterium.container.name
