.mt-4.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  table.table.table-separate.table-head-custom.collapsed#kt_datatable_phones
    thead
      tr
        th = t('activerecord.attributes.phone.name')
        th = t('activerecord.attributes.phone.number')
        th = t('activerecord.attributes.phone.type_phone')
        th = t('views.shared.tags.actions')
    tbody
      - @phones.each do |phone|
        tr
          td
            .d-flex.align-items-center
              .symbol.symbol-50.symbol-light
                span.symbol-label.symbol-warning
                  - if phone.principal == true
                    span.svg-icon.svg-icon-md.svg-icon-warning
                      = render "shared/icons/star"
                  - else
                    span.svg-icon.svg-icon-md.svg-icon-secondary
                      = render 'shared/icons/half_star'
              .ml-3
                span.text-dark-75.font-weight-bold.line-height-sm.d-block.pb-2
                  = phoneable_type(phone)
                span.text-muted.text-hover-primary
                  = phone_type(phone.phoneable_type)
          td = phone.type_phone == 'mobile' ? phone.number : phone.full_extension_phone
          td = t("enums.phone.type_phone.#{phone.type_phone}")
          td nowrap="nowrap"
            - if phone.phoneable_type == 'Client'
              = link_to edit_phone_admin_client_path(id: @client.id, phone_id: phone.id) , class: 'btn btn-sm btn-clean btn-icon', remote: true do
                span.svg-icon.svg-icon-md.svg-icon-primary
                  i.fas.fa-edit
            - unless  phone.principal
              = link_to destroy_phone_admin_client_path(id: @client.id, phone_id: phone.id), class: 'btn btn-sm btn-clean btn-icon', remote: true, method: :delete, data: {confirm: 'Are you sure?'} do
                span.svg-icon.svg-icon-md.svg-icon-primary
                  i.fas.fa-trash
javascript:
    jQuery(document).ready(function () {
        KTDatatablesPhones.init();
    });
