= simple_form_for @phone, url: url_for(controller: 'admin/clients', action: action_controller), remote: true do |f|
  = f.hidden_field :phoneable_type, value: 'Client'
  = f.hidden_field :phoneable_id, value: @client.id
  = f.hidden_field :code
  = hidden_field_tag :phone_id, @phone.id
  = submit_tag '', class: "btn btn-primary", id: 'btn-submit-form', style: "display: none;"
  .row
    .col-xl-4.col-sm-12
      = f.input :type_phone, prompt: t('views.shared.prompt.type_phone.large')
    .col-xl-4.col-sm-12
      = f.input :number, placeholder: t('activerecord.attributes.phone.number')
    .col-xl-2.col-sm-12.hide-element#extension-code
      = f.input :extension, placeholder: t('activerecord.attributes.phone.extension')
javascript:
    $(document).ready(function () {
        const phoneNumber = $("#phone_number");
        phoneNumber.intlTelInput({
            formatOnInit: true,
            separateDialCode: false,
            placeholderNumberType: 'MOBILE',
            initialCountry: "mx",
            nationalMode: false,
            hiddenInput: "full",
        });

        if ($('#phone_type_phone').val() === '') {
            console.log("ninguna opcion");
            $('#extension-code').addClass('hide-element');
            $('#phone_extension').val('');
        } else if ($('#phone_type_phone').val() === 'permanent') {
            // Telefono fijo
            console.log("telefono fijo");
            $('#extension-code').removeClass('hide-element');
        } else {
            // Telefono movil
            $('#extension-code').addClass('hide-element');
            if (!$("#extension-code").hasClass('hide-element')) {
                $('#phone_extension').val('');
            }
        }

        $('#phone_type_phone').on('change', function() {
            if ($('#phone_type_phone').val() === '') {
                console.log("ninguna opcion");
                $('#extension-code').addClass('hide-element');
                $('#phone_extension').val('');
            } else if ($('#phone_type_phone').val() === 'permanent') {
                console.log("telefono fijo");
                $('#extension-code').removeClass('hide-element');
            } else {
                console.log('telefono movil');
                $('#extension-code').addClass('hide-element');
                if (!$("#extension-code").hasClass('hide-element')) {
                    $('#phone_extension').val('');
                }
            }
        });

        $("#new_phone").submit(function () {
            let countryData = $('#phone_number').intlTelInput("getSelectedCountryData");
            let countryCode = countryData.dialCode
            $('#phone_code').val(countryCode);
        });

        $(".edit_phone").submit(function () {
            let countryData = $('#phone_number').intlTelInput("getSelectedCountryData");
            let countryCode = countryData.dialCode
            $('#phone_code').val(countryCode);
        });
        $('#btn_submit_modal').click(function () {
            $('#phones_information_tab_4').trigger("click");
        });
    });
