.mt-4.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  .container
    .row
      .col-sm-12
        table.table.table-separate.table-head-custom.collapsed#kt_datatable_addresses
          thead
            tr
              th = t('activerecord.models.address.one')
              th = t('activerecord.attributes.address.zip_code')
              th = t('activerecord.attributes.address.city')
              th = t('activerecord.attributes.address.country')
              th = t('activerecord.attributes.address.type_address')
              th = t('views.shared.tags.actions')
          tbody
            - @addresses.each do |address|
              tr
                td
                  .d-flex.align-items-center
                    .symbol.symbol-50.symbol-light
                      span.symbol-label.symbol-warning
                        - if address.principal == true
                          span.svg-icon.svg-icon-md.svg-icon-warning
                            = render "shared/icons/star"
                        - else
                          span.svg-icon.svg-icon-md.svg-icon-secondary
                            = render 'shared/icons/half_star'
                    .ml-3
                      span.text-dark-75.font-weight-bold.line-height-sm.d-block.pb-2 = address.name
                      span.text-muted.text-hover-primary = "#{address.street} ##{address.interior_number}"
                td = address.zip_code
                td = address.city
                td = address.country
                td
                td nowrap="nowrap"
                  = link_to show_address_admin_supplier_path(id: @supplier.id, address_id: address.id), class: 'btn btn-sm btn-clean btn-icon', remote: true do
                    span.svg-icon.svg-icon-md.svg-icon-primary
                      i.fas.fa-eye
                  = link_to edit_address_admin_supplier_path(id: @supplier.id, address_id: address.id) , class: 'btn btn-sm btn-clean btn-icon', remote: true do
                    span.svg-icon.svg-icon-md.svg-icon-primary
                      i.la.la-edit
                  - if current_user.admin == true
                    = link_to destroy_address_admin_supplier_path(id: @supplier.id, address_id: address.id), class: 'btn btn-sm btn-clean btn-icon', method: :delete, data: {confirm: 'Are you sure?'} do
                      span.svg-icon.svg-icon-md.svg-icon-primary
                        i.la.la-trash
                  - else
                    = link_to destroy_address_admin_supplier_path(id: @supplier.id, address_id: address.id), class: 'btn btn-sm btn-clean btn-icon', method: :delete, data: {confirm: 'Are you sure?'} do
                      span.svg-icon.svg-icon-md.svg-icon-primary
                        i.la.la-trash
javascript:
    jQuery(document).ready(function () {
        KTDatatablesAddresses.init();
    });
