h3.mb-10.font-weight-bold.text-dark =t('views.admin.clients.shared.text.step5.label')
.row
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.association :cfdi, prompt: t('views.shared.prompt.cfdi')
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.association :way_pay, prompt: t('views.shared.prompt.way_pay')
.row
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.association :payment_method, prompt: t('views.shared.prompt.payment_method'), label_method: :code