/! begin: Search Form
form.kt-form.kt-form--fit.mb-15
.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  table.table.table-separate.table-head-custom.collapsed#kt_datatable_suppliers
    thead
      tr
        th = t('activerecord.attributes.supplier.name')
        th = t('activerecord.attributes.supplier.website')
        th = t('activerecord.attributes.supplier.payment_term')
    tbody
      - @suppliers.each do |supplier|
        tr
          td
            .d-flex.align-items-center
              .symbol.symbol-50.symbol-light-secondary
                span.symbol-label
                  = supplier.id
              .ml-3
                span.text-dark-75.font-weight-bold.line-height-sm.d-block.pb-2
                  = link_to [:admin, supplier] do
                    = supplier.name
                span.text-muted.text-hover-primary = supplier.rfc
          td = supplier.website
          td = supplier.payment_term.nil? ? '' : supplier.payment_term.amount_days_pay

javascript:
    jQuery(document).ready(function () {
        KTDatatablesSuppliers.init();
    });