.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  .container
    .row
      .col-sm-12
        table.table.table-separate.table-head-custom.table-checkable.dataTable.no-footer.dtr-inline#kt_datatable role="grid" aria-describedby="kt_datatable_info" style="width: 905px;"
          thead
            tr.text-left role="row"
              th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="min-width: 200px;" aria-sort="ascending" aria-label="Name: activate to sort column descending" = t('activerecord.attributes.contact.name')
              th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="min-width: 150px;" aria-sort="ascending" aria-label="Email: activate to sort column descending" = t('activerecord.attributes.contact.email')
              th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="min-width: 100px;" aria-sort="ascending" aria-label="Actions: activate to sort column descending" = t('activerecord.attributes.contact.principal')
              th class="sorting_asc" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="min-width: 150px;" aria-sort="ascending" aria-label="Actions: activate to sort column descending" = t('views.shared.tags.actions')
          tbody
            - @contacts.each do |contact|
              tr role="row"
                td = contact.name
                td = contact.email
                td
                  - if contact.principal == true
                    span.svg-icon.svg-icon-md.svg-icon-warning
                      = render "shared/icons/star"
                  - else
                    span.svg-icon.svg-icon-md.svg-icon-secondary
                      = render "shared/icons/half_star"
                td nowrap="nowrap"
                  = link_to show_contact_admin_supplier_path(id: @supplier.id, contact_id: contact.id), class: 'btn btn-icon btn-light btn-hover-primary btn-sm mr-3', remote: true do
                    span.svg-icon.svg-icon-md.svg-icon-primary
                      i.la.la-info-circle
                  = link_to edit_contact_admin_supplier_path(id: @supplier.id, contact_id: contact.id) , class: 'btn btn-icon btn-light btn-hover-primary btn-sm mr-3', remote: true do
                    span.svg-icon.svg-icon-md.svg-icon-primary
                      i.la.la-edit
                  = link_to destroy_contact_admin_supplier_path(id: @supplier.id, contact_id: contact.id), class: 'btn btn-icon btn-light btn-hover-primary btn-sm mr-3', method: :delete, data: {confirm: 'Are you sure?'} do
                    span.svg-icon.svg-icon-md.svg-icon-primary
                      i.la.la-trash