h3.mb-10.font-weight-bold.text-dark =t('views.admin.clients.shared.text.step3.label')
.row
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.association :payment_term, label_method: :description, prompt: t('views.shared.prompt.payment_term')
      .fv-plugins-message-container
  .col-xl-6
    .form-group.fv-plugins-icon-container
      = f.input :credit_limit
.row
  .col-xl-12
    = f.label :contract
    .custom-file
      = f.file_field :contract, class: 'custom-file-input'
      = f.label t('views.shared.prompt.field'), class: "custom-file-label", data: { browse: t('views.shared.buttons.upload') }
.row.mt-3
  .col-xl-6
    = f.input :authorized_credit