.wizard.wizard-1#kt_wizard_v1 data-wizard-state="first" data-wizard-clickable="false"
  /--begin::Wizard Nav--
  .wizard-nav.border-bottom
    .wizard-steps.p-8.p-lg-10
      = render 'admin/suppliers/wizard_steps'
  /--end::Wizard Nav--
  /--begin::Wizard Body--
  .row.justify-content-center.my-10.px-8.my-lg-15.px-lg-10
    .col-xl-12.col-xxl-7
      = simple_form_for [:admin, @supplier], html: { class: "form fv-plugins-bootstrap fv-plugins-framework", id: "kt_form" } do |f|
        / Step 1
        .pb-5 data-wizard-type="step-content" data-wizard-state="current"
          = render 'admin/suppliers/supplier', f: f
        / Step 2
        .pb-5 data-wizard-type="step-content"
          h3.mb-10.font-weight-bold.text-dark = t('views.admin.suppliers.shared.text.step2.label')
          #addresses
            = f.simple_fields_for :addresses do |address|
              = render 'shared/cocoon/address_supplier_fields', f: address, addressable_type: 'Supplier'
        / Step 3
        .pb-5 data-wizard-type="step-content"
          = render 'admin/suppliers/credit', f: f
        / Step 4
        .pb-5 data-wizard-type="step-content"
          h3.mb-10.font-weight-bold.text-dark = t('views.admin.suppliers.shared.text.step4.label')
          #contacts
            = f.simple_fields_for :contacts do |contact|
              = render 'shared/cocoon/contact_supplier_fields', f: contact, contactable_type: 'Supplier'
        / Step 5
        .pb-5 data-wizard-type="step-content"
          = render 'admin/suppliers/billing', f: f
        .d-flex.justify-content-between.border-top.mt-5.pt-10
          .mr-2
            button.btn.btn-light-primary.font-weight-bold.text-uppercase.px-9.py-4 type="button" data-wizard-type="action-prev" = t('views.shared.buttons.previous')
          div
            = f.submit button_primary, class: 'btn btn-success font-weight-bol text-uppercase px-9 py-4', 'data-wizard-type': "action-submit"
            button.btn.btn-primary.font-weight-bold.text-uppercase.px-9.py-4 type="button" data-wizard-type="action-next" = t('views.shared.buttons.next')
/--end::Wizard Body--
javascript:
    $(document).ready(function() {
        KTWizard1.init();

        $("#kt_form").submit(function () {
            let countryData = $('.country-code-tel').intlTelInput("getSelectedCountryData");
            let countryCode = countryData.dialCode
            console.log(countryCode);
            $('#supplier_contacts_attributes_0_phones_attributes_0_code').val(countryCode);

            let countryDataClient = $('.country-code-tel-supplier').intlTelInput("getSelectedCountryData");
            let countryCodeClient = countryDataClient.dialCode
            console.log(countryCodeClient);
            $('#supplier_phones_attributes_0_code').val(countryCodeClient);
        });
    });