.card.card-custom.card-stretch
  .card-header.py-3
    .card-title.align-items-start.flex-column
      h3.card-label.font-weight-bolder.text-dark = t('views.admin.clients.show.tabs.personal.subtitle')
      span.text-muted.font-weight-bold.font-size-sm.mt-1 = t('views.admin.users.show.tab_panes.personal_information.subtitle')
    .card-toolbar
      - if @readonly
        /= link_to t('views.shared.buttons.cancel'), admin_client_path(@client.id, readonly: false), class: 'btn btn-secondary mr-2'
        = link_to t('views.shared.buttons.cancel'), update_readonly_admin_supplier_path(@supplier.id, readonly: false), class: 'btn btn-secondary mr-2', 'data-remote': true
        button id="updatePersonalInformation" class="btn btn-success" = t('views.shared.buttons.update')
      - else
        /button id="editPersonalInformation" class="btn btn-success" = t('views.shared.buttons.edit')
        = link_to t('views.shared.buttons.edit'), update_readonly_admin_supplier_path(@supplier.id, readonly: true), id: 'editPersonalInformation', class: 'btn btn-success', 'data-remote': true
  = simple_form_for [:admin, @supplier], html: {class: "form"} , remote: true do |f|
    .card-body
      .container-fluid
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right Avatar
          .col-lg-9.col-xl-6
            .image-input.image-input-outline.building-default-client#kt_profile_avatar
              - if @supplier.logo.attached?
                .image-input-wrapper style="background-image: url(#{@supplier.logo.service_url})"
              - else
                .image-input-wrapper
              label.btn.btn-xs.btn-icon.btn-circle.btn-white.btn-hover-text-primary.btn-shadow data-action="change" data-toggle="tooltip" data-original-title="Change avatar"
                i.flaticon2-pen.icon-sm.text-muted
                = f.file_field :logo, input_html: { accept: ".png, .jpg, .jpeg" }
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.client.name')
          .col-lg-9.col-xl-6
            = f.input :name, label: false, input_html: { disabled: !@readonly }
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.client.rfc')
          .col-lg-9.col-xl-6
            = f.input :rfc, label: false, input_html: { disabled: !@readonly }
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.client.website')
          .col-lg-9.col-xl-6
            = f.input :website, label: false, input_html: { disabled: !@readonly }
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.client.parent_entity')
          .col-lg-9.col-xl-6
            = f.association :parent_entity, prompt: t('views.admin.clients.shared.prompt.parent_entity'), input_html: { class: 'form-control-lg', disabled: !@readonly }, label: false
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.client.currency')
          .col-lg-9.col-xl-6
            = f.association :currency, label_method: :code, prompt: t('views.shared.prompt.currency'), input_html: { class: 'form-control-lg', disabled: !@readonly }, label: false
        .row
          label.col-xl-3
          .col-lg-9.col-xl-6
            h5.font-weight-bold.mb-6 = t('views.admin.users.show.tab_panes.personal_information.section3')
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.client.cfdi')
          .col-lg-9.col-xl-6
            = f.association :cfdi, label: false, prompt: t('views.shared.prompt.cfdi'), input_html: { class: 'form-control-lg', disabled: !@readonly }
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.client.way_pay')
          .col-lg-9.col-xl-6
            = f.association :way_pay, label: false, prompt: t('views.shared.prompt.way_pay'), input_html: { class: 'form-control-lg', disabled: !@readonly }
        .form-group.row
          label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.client.payment_method')
          .col-lg-9.col-xl-6
            = f.association :payment_method, label: false, prompt: t('views.shared.prompt.payment_method'), input_html: { class: 'form-control-lg', disabled: !@readonly }
    = f.submit 'data', class: 'btn btn-success hide-element', id: 'btnPersonalInformation'
javascript:
    $(document).ready(function () {
        $("#cancelPersonaInformation").click(function () {
            $('#personal_information_tab_1').trigger("click");
        });

        $("#updatePersonalInformation").click(function () {
            $('#btnPersonalInformation').trigger("click");
        });
        const avatar = new KTImageInput('kt_profile_avatar');
    });

