.card.card-custom.card-stretch
  .card-body.pt-4
    .d-flex.justify-content-end
      .dropdown.dropdown-inline
        a.btn.btn-clean.btn-hover-light-primary.btn-sm.btn-icon aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#"
          i.la.la-ellipsis-h
        .dropdown-menu.dropdown-menu-sm.dropdown-menu-right
          ul.navi.navi-hover.py-5
            li.navi-item
              = link_to(new_address_admin_supplier_path(@supplier.id), class: 'navi-link', 'data-remote': true) do
                span.navi-icon
                  i.fas.fa-map-marked
                span.navi-text = t('views.admin.addresses.new.title')
            li.navi-item
              = link_to(new_contact_admin_supplier_path(@supplier.id), class: 'navi-link', 'data-remote': true) do
                span.navi-icon
                  i.fas.fa-user
                span.navi-text = t('views.admin.contacts.new.title')
            li.navi-separator.my-3
            li.navi-item
              = link_to admin_supplier_path(@supplier, format: :pdf), class: 'navi-link' do
                span.navi-icon
                  i.fas.fa-file-pdf
                span.navi-text = t('views.shared.buttons.download')
            - if current_user.admin
              li.navi-item
                a.navi-link href="#"
                  span.navi-icon
                    i.fas.fa-trash
                  span.navi-text = t('views.shared.buttons.destroy')
    .d-flex.align-items-center
      .symbol.symbol-60.symbol-xxl-100.mr-5.align-self-start.align-self-xxl-center
        - if @supplier.logo.attached?
          = image_tag(@supplier.logo.service_url, al: 'Pic')
        - else
          span.symbol-label
            = image_tag('building.png', alt: 'Pic', width: '60px', height: '60px')
      div
        a.font-weight-bolder.font-size-h5.text-dark-75.text-hover-primary href="#"  = @supplier.name
        .text-muted = @supplier.website
        .mt-2
          a.btn.btn-sm.btn-primary.font-weight-bold.mr-2.py-2.px-3.px-xxl-5.my-1 href="#"  Chat
          a.btn.btn-sm.btn-success.font-weight-bold.py-2.px-3.px-xxl-5.my-1 href="#"  Follow
    .py-9
      .d-flex.align-items-center.justify-content-between.mb-2
        span.font-weight-bold.mr-2 RFC:
        span.text-muted = @supplier.rfc
      .d-flex.align-items-center.justify-content-between.mb-2
        span.font-weight-bold.mr-2 = "#{t('activerecord.models.contact.one')}:"
        span.text-muted = @supplier.principal_contact.name.capitalize
      .d-flex.align-items-center.justify-content-between.mb-2
        span.font-weight-bold.mr-2 = "#{t('activerecord.attributes.user.email')}: "
        = mail_to @supplier.principal_email, @supplier.principal_email, class: 'text-muted text-hover-primary'
      .d-flex.align-items-center.justify-content-between.mb-2
        span.font-weight-bold.mr-2 = "#{t('activerecord.attributes.employee.phone')}: "
        span.text-muted
          - if @supplier.extension != ""
            = @supplier.phone_with_extension
          - elsif @supplier.country_code != ""
            = @supplier.phone_with_country_code
    ul.nav.flex-column.nav-rounded
      li.nav-item.mb-2
        a.nav-link.active#personal_information_tab_1 data-toggle="tab" href="#kt_apps_personal_information_tab_1"
          span.nav-icon.mr-2
            span.svg-icon
              i.fas.fa-user-circle
          span.nav-text.font-size-sz = t('views.admin.clients.show.tabs.personal.subtitle')
      li.nav-item.mb-2
        a.nav-link#credit_information_tab_2 data-toggle="tab" href="#kt_apps_credit_information_tab_2"
          span.nav-icon.mr-2
            span.svg-icon
              i.fas.fa-credit-card
          span.nav-text.font-size-lg.font-weight-500 = t('views.admin.clients.show.tabs.credit.title')               
      li.nav-item.mb-2        
        a.nav-link#addresses_information_tab_3 data-toggle="tab" href="#kt_apps_addresses_information_tab_3"
          span.nav-icon.mr-2
            span.svg-icon
              i.fas.fa-map-marked
          span.nav-text.font-size-lg = t('views.admin.clients.show.tabs.address.subtitle')           
      li.nav-item.mb-2
        a.nav-link#phones_information_tab_4 data-toggle="tab" href="#kt_apps_phones_information_tab_4"
          span.nav-icon.mr-2
            span.svg-icon
              i.fas.fa-phone
          span.nav-text.font-size-lg = t('views.admin.clients.show.tabs.phone.subtitle')      
      li.nav-item.mb-2
        a.nav-link#contacts_tab_5 data-toggle="tab" href="#kt_apps_contacts_tab_5"
          span.nav-icon.mr-2
            span.svg-icon
              i.fas.fa-users
          span.nav-text.font-size-lg = t('views.admin.clients.show.tabs.contact.subtitle')

javascript:
    ;(function () {
        $("#menu_document_link").click(function(){
          $('#documents_information_tab_8').trigger("click");
          $("#document_form").show();
          $("#document_list").hide();
          $("#tab_area").animate({ scrollTop: "0" }); 
        });

      $("#menu_product_link").click(function(){
          $('#products_information_tab_7').trigger("click");
          $("#product_form").show();
          $("#product_list").hide();
        });        

        $('#personal_tab').click(function () {
          $('#personal_information_tab_1').trigger("click");
        });
    })()                  
