.flex-row-fluid
  .card.card-custom.gutter-b
    .card-body
      ul.dashboard-tabs.nav.nav-pills.nav-primary.row.row-paddingless.m-0.p-0 role="tablist"
        li.nav-item.d-flex.col.flex-grow-1.flex-shrink-0.mr-3.mb-3.mb-lg-0
          a.nav-link.border.py-10.d-flex.flex-grow-1.rounded.flex-column.align-items-center.active data-toggle="pill" href="#tab_forms_dashboard"
            span.nav-icon.py-2.w-auto
              span.svg-icon.svg-icon-3x
                = render 'shared/icons/dashboard'
            span.nav-text.font-size-lg.py-2.font-weight-bold.text-center Dashboard

        li.nav-item.d-flex.col.flex-grow-1.flex-shrink-0.mr-3.mb-3.mb-lg-0
          a.nav-link.border.py-10.d-flex.flex-grow-1.rounded.flex-column.align-items-center data-toggle="pill" href="#tab_forms_general"
            span.nav-icon.py-2.w-auto
              span.svg-icon.svg-icon-3x
                = render 'shared/icons/general'
            span.nav-text.font-size-lg.py-2.font-weight-bold.text-center = t('views.admin.clients.show.tabs_panel.general')
        li.nav-item.d-flex.col.flex-grow-1.flex-shrink-0.mr-3.mb-3.mb-lg-0
          a.nav-link.border.py-10.d-flex.flex-grow-1.rounded.flex-column.align-items-center data-toggle="pill" href="#tab_forms_rates"
            span.nav-icon.py-2.w-auto
              span.svg-icon.svg-icon-3x
                = render 'shared/icons/currency'
            span.nav-text.font-size-lg.py-2.font-weight-bold.text-center = t('views.admin.clients.show.tabs_panel.rates')
        li.nav-item.d-flex.col.flex-grow-1.flex-shrink-0.mr-3.mb-3.mb-lg-0
          a.nav-link.border.py-10.d-flex.flex-grow-1.rounded.flex-column.align-items-center data-toggle="pill" href="#tab_forms_quotes"
            span.nav-icon.py-2.w-auto
              span.svg-icon.svg-icon-3x
                = render 'shared/icons/calculator'
            span.nav-text.font-size-lg.py-2.font-weight-bold.text-center = t('views.admin.clients.show.tabs_panel.quotes')
        li.nav-item.d-flex.col.flex-grow-1.flex-shrink-0.mr-3.mb-3.mb-lg-0
          a.nav-link.border.py-10.d-flex.flex-grow-1.rounded.flex-column.align-items-center data-toggle="pill" href="#tab_forms_shipments"
            span.nav-icon.py-2.w-auto
              span.svg-icon.svg-icon-3x
                i.fas.fa-ship.fa-3x
            span.nav-text.font-size-lg.py-2.font-weight-bold.text-center = t('views.admin.clients.show.tabs_panel.shipments')