<% if @create == true %>
  $("#address_list").html("<%= j render :partial => 'admin/suppliers/addresses/accordion_addresses' %>");
  $("#exampleModalScrollable").modal("toggle");
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
  $("#modal-container").html("<%= j render partial: "admin/suppliers/addresses/form", locals: { action_controller: 'add_address'} %>");
<% end %>