<% if @create == true %>
  $("#contacts").html("<%= j render :partial => 'admin/suppliers/contacts/accordion_contacts' %>");
  $("#exampleModalScrollable").modal("toggle");
  toastr.success("<%= escape_javascript(@response) %>");
<% else %>
  $("#modal-container").html("<%= j render partial: "admin/suppliers/contacts/form", locals: { action_controller: 'add_contact'} %>");
<% end %>