show_content_modal("<%= t("views.admin.contacts.edit.title") %>", "<%= t("views.shared.buttons.update") %>", 'update')
$("#exampleModalScrollable").modal("show");
$(".modal-container").html("<%= j render partial: "admin/suppliers/contacts/form", locals: { action_controller: 'update_contact' } %>");