show_content_modal("<%= t("views.admin.phones.edit.title") %>", "<%= t("views.shared.buttons.update") %>", 'update')
$("#exampleModalScrollable").modal("show");
$(".modal-container").html("<%= j render partial: "admin/suppliers/phones/form", locals: { action_controller: 'update_phone' } %>");