show_content_modal("<%= t("views.admin.contacts.new.title") %>", "<%= t("views.shared.buttons.save") %>", 'create');
$("#exampleModalScrollable").modal("show");
$(".modal-container").html("<%= j render partial: "admin/suppliers/contacts/form", locals: { action_controller: 'add_contact' } %>");