show_content_modal("<%= t("views.admin.phones.new.title") %>", "<%= t("views.shared.buttons.save") %>", 'create');
$("#exampleModalScrollable").modal("show");
$(".modal-container").html("<%= j render partial: "admin/suppliers/phones/form", locals: { action_controller: 'add_phone' } %>");