show_content_modal("<%= t("views.admin.addresses.show.title") %>", "false", 'show');
$("#exampleModalScrollable").modal("show");
$(".modal-container").html("<%= j render partial: "admin/suppliers/addresses/address_show" %>");