show_content_modal("<%= t("views.admin.phones.show.title") %>", "false", 'show');
$("#exampleModalScrollable").modal("show");
$(".modal-container").html("<%= j render partial: "admin/suppliers/phones/phones_show" %>");