= render 'shared/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: admin_suppliers_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
/! begin::Entry
.d-flex.flex-column-fluid
  /! begin::Container
  .container
    /! begin::Profile Personal Information
    .d-flex.flex-row
      = render 'admin/suppliers/tab_panel'
    .tab-content
      .tab-pane.active#tab_forms_dashboard role="tabpanel"
        = render 'admin/suppliers/dashboard'
      .tab-pane#tab_forms_general role="tabpanel"
        .d-flex.flex-row
          #kt_profile_aside.flex-row-auto.offcanvas-mobile.w-250px.w-xxl-350px
            = render 'admin/suppliers/profile_aside'
          .flex-row-fluid.ml-lg-8
            .tab-content#tab_area
              .tab-pane.active#kt_apps_personal_information_tab_1 role="tabpanel"
                = render 'admin/suppliers/personal_information'
              .tab-pane#kt_apps_credit_information_tab_2 role="tabpanel"
                = render 'admin/suppliers/credit_information'
              .tab-pane#kt_apps_addresses_information_tab_3 role="tabpanel"
                = render 'admin/suppliers/addresses_information'
              .tab-pane#kt_apps_phones_information_tab_4 role="tabpanel"
                = render 'admin/suppliers/phones_information'
              .tab-pane#kt_apps_contacts_tab_5 role="tabpanel"
                = render 'admin/suppliers/contacts_information'
      .tab-pane#tab_forms_rates role="tabpanel"
        .card.card-custom.card-stretch
          .card-header.py-3
            .card-title.align-items-start.flex-column
              h3.card-label.font-weight-bolder.text-dark En Construcción - Tarifas....
      .tab-pane#tab_forms_quotes role="tabpanel"
        .card.card-custom.card-stretch
          .card-header.py-3
            .card-title.align-items-start.flex-column
              h3.card-label.font-weight-bolder.text-dark En Construcción - Cotizaciones....
      .tab-pane#tab_forms_shipments role="tabpanel"
        .card.card-custom.card-stretch
          .card-header.py-3
            .card-title.align-items-start.flex-column
              h3.card-label.font-weight-bolder.text-dark En Construcción - Embarcaciones....