<% if @update == true %>
  $("#phone_list").html("<%= j render :partial => 'admin/suppliers/phones/collection' %>");
  $("#exampleModalScrollable").modal("toggle");
<% else %>
  $("#modal-container").html("<%= j render partial: 'admin/suppliers/phones/form', locals: { action_controller: 'update_phone' } %>");
<% end %>