<% if @update == true %>
  location.reload();
<% else %>
  $("#modal-container").html("<%= j render partial: "admin/suppliers/contacts/contact_form", locals: { action_controller: 'update_contact' } %>");
<% end %>