.row
  .col-xl-6
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.address.name')}:"
      label.col-xl-9.col-lg-9.col-form-label = @address.name
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.address.street')}:"
      label.col-xl-9.col-lg-9.col-form-label = @address.street
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.address.interior_number')}:"
      label.col-xl-9.col-lg-9.col-form-label = @address.interior_number
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.address.outdoor_number')}:"
      label.col-xl-9.col-lg-9.col-form-label = @address.outdoor_number
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.address.colony')}:"
      label.col-xl-9.col-lg-9.col-form-label = @address.colony
  .col-xl-6
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.address.city')}:"
      label.col-xl-9.col-lg-9.col-form-label = @address.city
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.address.country')}:"
      label.col-xl-9.col-lg-9.col-form-label = @address.country
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.address.state')}:"
      label.col-xl-9.col-lg-9.col-form-label = @address.state.nil? ? '' : @address.state.name
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.address.zip_code')}:"
      label.col-xl-9.col-lg-9.col-form-label = @address.zip_code
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.address.address_type_ids')}"
      label.col-xl-9.col-lg-9.col-form-label
        - address_types = ""
        - @address.address_type_ids.each do |id|
          - address_type = AddressType.find id
          - address_types +=  "#{t("enums.address.type_address.#{address_type.name}")}" + ", "
        = address_types 
    .row
      label.col-xl-3.col-lg-3.col-form-label.text-right
        b = "#{t('activerecord.attributes.address.principal')}:"
      span.col-xl-9.col-lg-9.col-form-label
        - if @address.principal == true
          span.svg-icon.svg-icon-md.svg-icon-warning
            = render "shared/icons/star"
        - else
          span.svg-icon.svg-icon-md.svg-icon-secondary
            = render "shared/icons/half_star"