.dataTables_wrapper.dt-bootstrap4.no-footer#kt_datatable_wrapper
  table.table.table-separate.table-head-custom.collapsed#kt_datatable_packaging_types
    thead
      tr
        th = t('activerecord.attributes.packaging_type.name')
        th = t('activerecord.attributes.packaging_type.definition')
        th = t('views.shared.tags.actions')
    tbody
      - @packaging_types.each do |packaging|
        tr
          td
            .d-flex.align-items-center
              .symbol.symbol-50.symbol-light-secondary
                span.symbol-label
                  = packaging.id
              .ml-3
                span.text-dark-75.font-weight-bold.line-height-sm.d-block.pb-2 = packaging.name
                span.text-muted.text-hover-primary = packaging.code
          td = truncate(packaging.definition, length: 75)
          td nowrap="nowrap"
            = link_to(edit_admin_packaging_type_path(packaging), class: 'btn btn-sm btn-clean btn-icon') do
              span.svg-icon.svg-icon-md.svg-icon-primary
                i.la.la-edit
            = link_to({action: :destroy, id: packaging.id}, class: "btn btn-sm btn-clean btn-icon", method: :delete, data: {confirm: 'Are you okay?'}) do
              span.svg-icon.svg-icon-md.svg-icon-primary
                i.la.la-trash
javascript:
    jQuery(document).ready(function () {
        KTDatatablesPackagingTypes.init();
    });
