= simple_form_for [:admin, @packaging_type] do |f|
  .form-group.row
    .col-lg-6.col-sm-12
      = f.input :code, placeholder: t('activerecord.attributes.packaging_type.code'), input_html: { maxlength: 5 }
    .col-lg-6.col-sm-12
      = f.input :name, placeholder: t('activerecord.attributes.packaging_type.name')
  .form-group.row
    .col-lg-12
      = f.input :definition, placeholder: t('activerecord.attributes.packaging_type.definition')
  .row
    .col-lg-4
    .col-lg-8.text-right
      = f.submit button_primary, class: 'btn btn-success'