- unless @contacts.blank?
  - @contacts.each_slice(3) do |group|
    .row.mb-2
      - group.each do |contact|
        .col-xl-4
          = render 'admin/middlemen/contacts/contact', contact: contact
  .row
    .col-xl-12#paginator
      = paginate @contacts, remote: true
- else
  .not-register
    = "#{t('views.shared.text.not_records')} de #{t('activerecord.models.contact.other')}."