.card.card-custom.gutter-b.card-stretch.card-rounded
  .card-body.pt-4.d-flex.flex-column.justify-content-between
    /-- begin::Toolbar--
    .d-flex.justify-content-end
      .dropdown.dropdown-inline data-toggle="tooltip" title="Quick actions" data-placement="left"
        a class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          i.fas.fa-ellipsis-h
        .dropdown-menu.dropdown-menu-md.dropdown-menu-right
          ul.navi.navi-hover
            li.navi-item
              = link_to edit_contact_admin_middleman_path(id: @middleman.id, contact_id: contact.id), class: 'navi-link', remote: true do
                span.navi-icon
                  i.fas.fa-edit
                span.navi-text = t('views.shared.buttons.edit')
            li.navi-item
              - unless contact.principal 
                = link_to destroy_contact_admin_middleman_path(id: @middleman.id, contact_id: contact.id), class: 'navi-link', remote: true, method: :delete, data: { confirm: 'Are you sure?' } do
                  span.navi-icon
                    i.fas.fa-trash
                  span.navi-text = t('views.shared.buttons.destroy')
    /-- end::Toolbar--
    /--begin::User--
    .d-flex.align-items-center.mb-7
      .flex-shrink-0.mr-4.mt-lg-0.mt-3
        - if contact.photo.attached?
          .symbol.symbol-75
            = image_tag(contact.photo.service_url)
        - else
          .symbol.symbol-lg-75.symbol-primary
            span.symbol-label.font-size-h3.font-weight-boldest = contact.name.initials
      .d-flex.flex-column
        = link_to show_contact_admin_middleman_path(id: @middleman.id, contact_id: contact.id), class: 'text-dark font-weight-bold text-hover-primary font-size-h4 mb-0', remote: true do
          = contact.name.first
        span.text-muted.font-weight-bold = contact.area
    /--end::User--
    /--begin::Desc--
    p.mb-7
    /--end::Desc--
    /--begin::Info--
    .mb-7
      .d-flex.justify-content-between.align-items-center
        span.text-dark-75.font-weight-bolder.mr-2 = "#{t('views.admin.agents.index.abbreviate.email')}:"
        = link_to contact.email.truncate(15), "#", class: "text-muted text-hover-primary"
      .d-flex.justify-content-between.align-items-center.my-1
        span.text-dark-75.font-weight-bolder.mr-2 = "#{t('views.admin.agents.index.abbreviate.phone')}:"
        label.text-muted.text-hover-primary
          - if contact.extension != ""
            = contact.phone_with_extension
          - elsif contact.country_code != ""
            = contact.phone_with_country_code
      .d-flex.justify-content-between.align-items-center
        span.text-dark-75.font-weight-bolder.mr-2 = "#{t('views.admin.agents.index.abbreviate.country')}:"
        label.text-muted.text-hover-primary = contact.country
    /--end::Info--
    a href="#" class="btn btn-block btn-sm btn-light-warning font-weight-bolder text-uppercase py-4" write message