= simple_form_for @contact, url: url_for(controller: 'admin/middlemen', action: action_controller), multipart: true, remote: true, authenticity_token: true do |f|
  = f.hidden_field :contactable_type, value: 'Middleman'
  = f.hidden_field :contactable_id, value: @middleman.id
  = hidden_field_tag :contact_id, @contact.id
  = hidden_field_tag :is_contact, true
  .form-group.row
    .col-lg-12.col-xl-12
      .image-input.image-input-outline.avatar-default-login#kt_profile_avatar_middleman
        - if @contact.photo.attached?
          .image-input-wrapper style="background-image: url(#{@contact.photo.service_url})"
        - else
          .image-input-wrapper
        label.btn.btn-xs.btn-icon.btn-circle.btn-white.btn-hover-text-primary.btn-shadow data-action="change" data-toggle="tooltip" data-original-title="Change avatar"
          i.flaticon2-pen.icon-sm.text-muted
          = f.file_field :photo, input_html: { accept: ".png, .jpg, .jpeg" }
  .form-group.row
    .col-xl-12.col-sm-12
      = f.input :name, placeholder: t('activerecord.attributes.contact.name'), maxlength: 50, input_html: { class: 'form-control-sm' }
  .form-group.row
    .col-xl-6.col-sm-12
      = f.input :email, placeholder: t('activerecord.attributes.contact.email'), maxlength: 50, input_html: { class: 'form-control-sm' }
    .col-xl-6.col-sm-12
      = f.input :birth_date, as: :tempus_dominus, placeholder: 'Select a date', input_html: { class: 'form-control-sm' }
  .form-group.row
    .col-xl-6.col-sm-12
      = f.input :area, placeholder: t('activerecord.attributes.contact.area'), maxlength: 50, input_html: { class: 'form-control-sm' }
    .col-xl-6.col-sm-12
      = f.input :job, placeholder: t('activerecord.attributes.contact.job'), maxlength: 50, input_html: { class: 'form-control-sm' }
  = f.simple_fields_for :phones do |phone|
    = render 'admin/middlemen/contacts/phone_fields', f: phone, phoneable_type: 'Contact'
  .row
    .col-xl-6.col-sm-12#addresses_list
      = f.label :address, t('activerecord.attributes.contact.address.not_abbr')
      = render 'admin/middlemen/contacts/addresses_list_contact', action_controller: action_controller
  .row
    .col-xl-6.col-sm-12
      = link_to new_address_admin_middleman_path(@middleman.id, is_contact: true), class: 'navi-link', remote: true do
        span.text-muted.font-weight-bold = t('views.shared.text.add_address')
  = f.submit 'data', class: 'btn btn-success hide-element', id: 'btnProductInformation'
javascript:
    $(function () {
        const avatar = new KTImageInput('kt_profile_avatar_middleman');
        $('#btn_submit_modal').click(function () {
            $('#contacts_tab_5').trigger("click");
        });

        $("#btnCancelContact").click(function () {
            $("#contact_form").hide();
            $("#contacts").show();
        });

        $("#btnProduct").click(function () {
            $('#btnProductInformation').trigger("click");
        });

        $('#contact_birth_date').datetimepicker({
            format: "DD-MM-YYYY"
        });
    });