.row
  .col-xl-6
    = link_to admin_quotes_path(service_mode: 1), class: 'btn btn-filter btn-sm mr-1', remote: true do
      i.fas.fa-truck.fa-2x style="color: #fff"
    = link_to admin_quotes_path(service_mode: 0), class: 'btn btn-filter btn-sm mr-1', remote: true do
      i.fas.fa-plane.fa-2x style="color: #fff"
    = link_to admin_quotes_path(service_mode: 2), class: 'btn btn-filter btn-sm mr-1', remote: true do
      i.fas.fa-ship.fa-2x style="color: #fff"
    = link_to admin_quotes_path, class: 'btn btn-filter btn-sm mr-1' do
      i.fas.fa-broom.fa-2x style="color: #fff"
.mt-5#quotes
  - unless @quotes.blank?
    = render @quotes
  - else
    .not-register
      = "#{t('views.shared.text.not_records')} de #{t('activerecord.models.quote.other')}."

- if @quotes.current_page == @quotes.total_pages
- else
  p.d-flex.justify-content-center id="view-more"
    = link_to(t('views.shared.buttons.load_more'), url_for(page: @quotes.current_page + 1), class: 'btn btn-info', remote: true)

javascript:
    $(document).ready(function () {
        $(window).scroll(function () {
            const url = $('#view-more a').attr('href');
            if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
                $('#view-more').html('Obteniendo más posts');
                return $.getScript(url);
            }
        });
        return $(window).scroll();
    });