.row.align-items-center style="background-color: #f5f5f5"
  .col-lg-2.text-center
    - if quote.rate.tariff.carrier.logo.attached?
      = image_tag(rate.tariff.carrier.logo.service_url, width: 80, height: 80)
    - else
      i.fas.fa-3x.fa-truck
    h4.font-weight-boldest.order-1.order-md-2 = quote.rate.tariff.carrier.name
  .col-lg-2.text-center
    = flag_icon(quote.origin_route.origin_port.country.code.downcase, squared: true, class: 'fa-2x mt-1')
    h4.font-weight-bold = quote.origin_route.origin_port.port_identifier
  .col-lg-2.text-center
    // = "#{quote.rate.transite_time} #{t('views.shared.text.days')}"
    = render 'table', quote: quote
  .col-lg-2.text-center
    = flag_icon(quote.destiny_route.destiny_port.country.code.downcase, squared: true, class: 'fa-2x mt-1')
    h4.font-weight-bold = quote.destiny_route.destiny_port.port_identifier
  .col-lg-2.text-center
    h3.font-weight-bold = number_to_currency(quote.rate.minimal_cost, unit: '$', format: '%u %n')
    = t('activerecord.attributes.rate.minimal_cost')
  .col-lg-2.text-center
    h3.font-weight-bold = number_to_currency(quote.rate.minimal_cost, unit: '$', format: '%u %n')
    | Total
.row style="background-color: #005cb9"
  .col-xl-8
    = link_to t('views.shared.buttons.show').upcase, [:admin, quote], style: 'color: white !important;', class: 'font-weight-bold'
  .col-xl-4.text-right
    span style="color: white !important;" = "#{t('activerecord.attributes.rate.transite_time')}: #{quote.rate.transite_time} #{t('views.shared.text.days')}"
.mb-4