<ul class="progress-meter">
  <li class="progress-step progress-complete">
    <span></span>
    <label for="" style="font-size: 8px">.</label>
  </li>
  <li class="progress-step">
    <span></span>
    <label for="" style="font-size: 8px">.</label>
  </li>
  <li class="progress-step">
    <span></span>
    <label for="" style="font-size: 8px">.</label>
  </li>
</ul>