ul.nav.nav-tabs id="myTab" role="tablist"
  li.nav-item
    a.nav-link.active id="all-tab" data-toggle="tab" href="#all"
      span.nav-text
        = "#{t('views.admin.quotes.index.tabs.all')} (#{@quotes.size})"
  li.nav-item
    a.nav-link id="open-tab" data-toggle="tab" href="#open"
      span.nav-text
        = "#{t('views.admin.quotes.index.tabs.open')} (#{@quotes.size})"
  li.nav-item
    a.nav-link id="closed-tab" data-toggle="tab" href="#closed"
      span.nav-text
        = "#{t('views.admin.quotes.index.tabs.closed')} (#{@quotes.size})"
  li.nav-item
    a.nav-link id="confirmed-tab" data-toggle="tab" href="#confirmed"
      span.nav-text
        = "#{t('views.admin.quotes.index.tabs.confirmed')} (#{@quotes.size})"
  li.nav-item
    a.nav-link id="declined-tab" data-toggle="tab" href="#declined"
      span.nav-text
        = "#{t('views.admin.quotes.index.tabs.declined')} (#{@quotes.size})"
javascript:
    $(document).ready(function () {
        $("#all-tab").click(function (e) {
            console.log("all");
        });
        $("#open-tab").click(function () {
            console.log("open");
        });
        $("#closed-tab").click(function () {
            console.log("closed");
        });
        $("#declined-tab").click(function () {
            console.log("declined");
        });
        $("#confirmed-tab").click(function () {
            console.log("confirmed");
        });
    });