<% if params[:page] %>
  $('#quotes').append("<%= j render(partial: 'admin/quotes/quote', collection: @quotes, format: 'html') %>");
<% else %>
  $("#quotes").html("<%= j render partial: 'admin/quotes/quote', collection: @quotes, format: 'html' %>");
<% end %>
<% if @quotes.current_page == @quotes.total_pages %>
  $('#view-more').remove();
<% else %>
  $('#view-more').html("<%= j link_to(t('views.shared.buttons.load_more'), url_for(page: @quotes.current_page + 1), class: 'btn btn-info', remote: true) %>");
<% end %>