= render 'shared/subheader', custom_button: false, export_button: false, back_button: true, back_button_route: admin_quotes_path, new_button: false, new_button_route: '', quote_button: false, shipment_button: false, rate_button: false
.d-flex.flex-column-fluid
  .container
    .card.card-custom.gutter-bs
      .card-header.card-header-tabs-line
        .card-toolbar
          ul.nav.nav-tabs.nav-tabs-space-lg.nav-tabs-line.nav-tabs-bold.nav-tabs-line-3x role="tablist"
            li.nav-item.mr-3
              a.nav-link.active data-toggle="tab" href="#kt_apps_quote_view_tab_1"
                span.nav-icon.mr-2
                  span.svg-icon.mr-3
                    i.fas.fa-calculator.fa6-aside-icon
                span.nav-text.font-weight-bold = t('views.admin.quotes.show.tabs.general.title')
            li.nav-item.mr-3
              a.nav-link data-toggle="tab" href="#kt_apps_quote_view_tab_2"
                span.nav-icon.mr-2
                  span.svg-icon.mr-3
                    i.fas.fa-boxes.fa6-aside-icon
                span.nav-text.font-weight-bold = t('views.admin.quotes.show.tabs.products.title')
      .card-body.px-0
        .tab-content.pt-5
          .tab-pane.active#kt_apps_quote_view_tab_1 role="tabpanel"
            .container
              form.form
                .row
                  .col-lg-12
                    .container-fluid.d-flex.align-items-center.justify-content-between.flex-wrap.flex-sm-nowrap
                      .d-flex.align-items-center.flex-wrap.mr-1
                        .d-flex.align-items-baseline.flex-wrap.mr-5
                          h5.text-dark.font-weight-bold.my-1.mr-5.mb-4 = t('views.admin.quotes.show.tabs.general.subtitle1')
                      div style = "display: flex; justify-content: flex-end"
                        = link_to authorize_admin_quote_path(@quote.id), class: 'btn btn btn-info' do
                          = t('views.shared.buttons.authorize')
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.number')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid  value = @quote.number
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote_route.type_service')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid  value = t("enums.quote.type_service.#{@quote.service_type}")
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.operation_type')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid  value = t("enums.quote.operation_type.#{@quote.operation_type}")
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.incoterm')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid  value = @quote.incoterm.code
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.organization')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value = @quote.organization.name
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.salesman')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value = (@quote.salesman.blank? ? '' : @quote.salesman.name)
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.quoted_at')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value= (@quote.quoted_at.blank? ? '' : @quote.quoted_at.strftime("%m/%d/%Y %R"))
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.expired_at')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value= (@quote.expired_at.blank? ? '' : @quote.expired_at.strftime("%m/%d/%Y %R"))
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.service.service_mode')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value = t("enums.quote.service_mode.#{@quote.service_mode}")
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.transportation_modality')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value = @quote.freight_type.code
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.frequency')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value =  @quote.frequency
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.free_day_of_delay')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value = @quote.free_day_of_delay
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.declared_value')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value = @quote.declared_value
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.col-form-label.text-right = t('activerecord.attributes.quote.description')
                    .col-lg-9.col-xl-6
                      input.form-control.form-control-lg.form-control-solid value = @quote.description
                .form-group.row
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.text-right.col-form-label = t("activerecord.attributes.quote.danger_item")
                    .col-lg-9.col-xl-6
                      = check_box_tag :danger_item, 'yes', @quote.danger_item, disabled: true
                  .d-flex.flex-row.flex-root
                    label.col-xl-3.col-lg-3.text-right.col-form-label = t("activerecord.attributes.quote.guarantee_letter")
                    .col-lg-9.col-xl-6
                      = check_box_tag :guarantee_letter, 'yes', @quote.guarantee_letter, disabled: true

          .tab-pane#kt_apps_quote_view_tab_2 role="tabpanel"
            .container
              .row
                .col-sm-12
                  table.table.table-separate.table-head-custom.collapsed#kt_datatable_products
                    thead
                      tr
                        th.pl-0.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.description')
                        th.pl-0.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.packaging_type')
                        th.text-right.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.pieces')
                        th.text-right.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.length')
                        th.text-right.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.height')
                        th.text-right.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.width')
                        th.text-right.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.weight')
                        th.text-right.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.volume')
                    tbody
                      - unless @quote.quote_units.blank?
                        - @quote.quote_units.each do |shipment_detail|
                          tr.font-weight-boldest
                            td.pl-0.pt-7 = shipment_detail.product.name
                            td.pl-0.pt-7 = shipment_detail.packaging_type.code
                            td.text-right.pt-7 = shipment_detail.number_units
                            td.text-right.pt-7 = shipment_detail.length
                            td.text-right.pt-7 = shipment_detail.height
                            td.text-right.pt-7 = shipment_detail.width
                            td.text-right.pt-7 = shipment_detail.weight
                            td.text-right.pt-7 = shipment_detail.volume

              .row
                .col-sm-12
                  .table-responsive
                    table.table
                      thead
                        th.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.total_pieces')
                        th.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.total_weight')
                        th.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.total_volume')
                        th.font-weight-bold.text-muted.text-uppercase = t('activerecord.attributes.shipment_detail.total_weight_volume')
                      tbody
                        tr.font-weight-bolder
                          td.font-weight-bolder = @quote.total_pieces
                          td.font-weight-bolder = @quote.total_weight
                          td.font-weight-bolder = @quote.total_volume
                          td.font-weight-bolder = @quote.total_weight_volume
