doctype html
html
  head
    title 
      - if content_for?(:title)
        = yield :title
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path('favicon.ico')
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    link rel="preconnect" href="https://fonts.gstatic.com"
    link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :head
  - if user_signed_in?
    body.header-fixed.header-mobile-fixed.subheader-enabled.subheader-fixed.aside-enabled.aside-fixed.aside-minimize-hoverable.page-loading#kt_body
      = yield
  - else
    body.header-fixed.header-mobile-fixed.subheader-enabled.subheader-fixed.aside-enabled.aside-fixed.aside-minimize-hoverable#kt_body
      .d-flex.flex-column.flex-root
        .login.login-4.wizard.d-flex.flex-column.flex-lg-row.flex-column-fluid
          .login-container.order-2.order-lg-1.d-flex.flex-center.flex-row-fluid.px-7.pt-lg-0.pb-lg-0.pt-4.pb-6.bg-white
            .login-content.d-flex.flex-column.pt-lg-0.pt-12
              a.login-logo.pb-xl-20.pb-15 href="javascript:;"
                = image_tag('logo-login.png', class: 'max-h-70px')
              .login-form
                = yield
          .login-aside.order-1.order-lg-2.bgi-no-repeat.bgi-position-x-right.login-background
            .login-conteiner.bgi-no-repeat.bgi-position-x-right.bgi-position-y-bottom
              h3.pt-lg-5.pl-lg-20.pb-lg-0.pl-10.py-20.m-0.d-flex.justify-content-lg-start.font-weight-boldest.display5.display1-lg.text-white
                | We Got
                br
                | A surprise
                br
                | For You

javascript:
    const KTAppSettings = {
        "breakpoints": {
            "sm": 576,
            "md": 768,
            "lg": 992,
            "xl": 1200,
            "xxl": 1400
        },
        "colors": {
            "theme": {
                "base": {
                    "white": "#ffffff",
                    "primary": "#3699FF",
                    "secondary": "#E5EAEE",
                    "success": "#1BC5BD",
                    "info": "#8950FC",
                    "warning": "#FFA800",
                    "danger": "#F64E60",
                    "light": "#E4E6EF",
                    "dark": "#181C32"
                },
                "light": {
                    "white": "#ffffff",
                    "primary": "#E1F0FF",
                    "secondary": "#EBEDF3",
                    "success": "#C9F7F5",
                    "info": "#EEE5FF",
                    "warning": "#FFF4DE",
                    "danger": "#FFE2E5",
                    "light": "#F3F6F9",
                    "dark": "#D6D6E0"
                },
                "inverse": {
                    "white": "#ffffff",
                    "primary": "#ffffff",
                    "secondary": "#3F4254",
                    "success": "#ffffff",
                    "info": "#ffffff",
                    "warning": "#ffffff",
                    "danger": "#ffffff",
                    "light": "#464E5F",
                    "dark": "#ffffff"
                }
            },
            "gray": {
                "gray-100": "#F3F6F9",
                "gray-200": "#EBEDF3",
                "gray-300": "#E4E6EF",
                "gray-400": "#D1D3E0",
                "gray-500": "#B5B5C3",
                "gray-600": "#7E8299",
                "gray-700": "#5E6278",
                "gray-800": "#3F4254",
                "gray-900": "#181C32"
            }
        },
        "font-family": "Poppins"
    };