html
  head
    meta charset="utf-8" /
    = wicked_pdf_stylesheet_link_tag 'report'
    title "PDF - Clientes"
  body onload="number_pages" 
    #header
      = wicked_pdf_image_tag '../../../assets/logo.png'
    #content
      = yield