.nested-fields
  = f.hidden_field :id
  = f.hidden_field :addressable_type, value: addressable_type
  = f.hidden_field :addressable_id
  = f.hidden_field :name
  = f.hidden_field :street
  = f.hidden_field :interior_number
  = f.hidden_field :outdoor_number
  = f.hidden_field :colony
  = f.hidden_field :city
  = f.hidden_field :country
  = f.hidden_field :state_id
  = f.hidden_field :principal
  = f.hidden_field :address_type_ids