.nested-fields
  = f.hidden_field :id
  = f.hidden_field :phoneable_type, value: phoneable_type
  = f.hidden_field :phoneable_id
  = f.hidden_field :code, class: 'code-contact'
  = f.hidden_field :principal, value: true
  .row
    .col-xl-4
      .form-group.fv-plugins-icon-container
        = f.input :type_phone, prompt: t('views.shared.prompt.type_phone.large'), placeholder: t('activerecord.attributes.phone.type_phone'), input_html: { class: 'form-control-sm type_phone_contact' }
    .col-xl-4.hide-element#country-code-contact
      .form-group.fv-plugins-icon-container
        = f.input :mobile_number, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: 'country-code-tel-contact form-control-sm ' }
    .col-xl-4.hide-element#phone-code-contact
      .form-group.fv-plugins-icon-container
        = f.input :number, placeholder: t('activerecord.attributes.phone.number'), input_html: { class: 'extension-code-tel-contact form-control-sm ' }
    .col-xl-2.hide-element#extension-code-contact
      .form-group.fv-plugins-icon-container
        = f.input :extension, placeholder: t('activerecord.attributes.phone.extension'), input_html: { class: 'extension-code-number-contact form-control-sm ' }
javascript:
    $(document).ready(function () {
        const input_mobile_number = $(".country-code-tel-contact");
        input_mobile_number.intlTelInput({
            formatOnInit: true,
            separateDialCode: false,
            placeholderNumberType: 'MOBILE',
            initialCountry: "mx",
            nationalMode: false,
            hiddenInput: "full",
        });
        const input_number = $(".extension-code-tel-contact");
        input_number.intlTelInput({
            formatOnInit: true,
            separateDialCode: false,
            placeholderNumberType: 'MOBILE',
            initialCountry: "mx",
            nationalMode: false,
            hiddenInput: "full",
        });

        // Inicio
        // Condiciones para detectar que esta seleccionado al abrir el formulario
        if ($('.type_phone_contact').val() === '') {
            console.log("ninguna opcion");
            $('#country-code-contact').addClass('hide-element');
            $('#extension-code-contact').addClass('hide-element');
            $('#phone-code-contact').addClass('hide-element');
            $('.extension-code-tel-contact').val('');
            $('.extension-code-number-contact').val('');
            $(".country-code-tel-contact").val('');
            $(".code-contact").val('');
        } else if ($('.type_phone_contact').val() === 'permanent') {
            // Telefono fijo
            console.log("telefono fijo");
            if (!$("#country-code-contact").hasClass('hide-element')) {
                $('#country-code-contact').addClass('hide-element');
                $(".country-code-tel-contact").val('');
            }
            $(".code-contact").val('');
            $('#extension-code-contact').removeClass('hide-element');
            $('#phone-code-contact').removeClass('hide-element');
        } else {
            // Telefono movil
            console.log("telefono movil");
            if (!$("#extension-code-contact").hasClass('hide-element')) {
                $('#extension-code-contact').addClass('hide-element');
                $('#phone-code-contact').addClass('hide-element');
                $('.extension-code-tel-contact').val('');
                $('.extension-code-number-contact').val('');
            }
            $('#country-code-contact').removeClass('hide-element')
        }
        // Termino

        $('.type_phone_contact').on('change', function () {
            if ($('.type_phone_contact').val() == '') {
                $('#country-code-contact').addClass('hide-element');
                $('#extension-code-contact').addClass('hide-element');
                $('#phone-code-contact').addClass('hide-element');
                $('.extension-code-tel-contact').val('');
                $('.extension-code-number-contact').val('');
                $(".country-code-tel-contact").val('');
            } else if ($('.type_phone_contact').val() == 'permanent') {
                if (!$("#country-code-contact").hasClass('hide-element')) {
                    $('#country-code-contact').addClass('hide-element');
                    $(".country-code-tel-contact").val('');
                }
                $('#extension-code-contact').removeClass('hide-element');
                $('#phone-code-contact').removeClass('hide-element');
            } else {
                if (!$("#extension-code-contact").hasClass('hide-element')) {
                    $('#extension-code-contact').addClass('hide-element');
                    $('#phone-code-contact').addClass('hide-element');
                    $('.extension-code-tel-contact').val('');
                    $('.extension-code-number-contact').val('');
                }
                $('#country-code-contact').removeClass('hide-element')
            }
        });

        $("#new_contact").submit(function () {
            let countryData = $('#contact_phones_attributes_0_mobile_number').intlTelInput("getSelectedCountryData");
            let countryCode = countryData.dialCode
            $('#contact_phones_attributes_0_code').val(countryCode);
        });
    });
